Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Fix tests + lint
  tests/fast/stages/s2_networking/addresses.tfvars
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: duplicate-diff

Shorten keys in addresses factory and rename module to vpc-addresses
  fast/stages/2-networking/factory-addresses.tf
  fast/stages/2-networking/schemas/addresses.schema.json
  fast/stages/2-networking/schemas/addresses.schema.md
  tests/fast/stages/s2_networking/data-testaddresses/vpcs/core/addresses.yaml
Due: cff-readme, check-names, duplicate-diff

Add support for arbitrary addresses in FAST networking stage (#3978)
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-addresses.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/schemas/addresses.schema.json
  fast/stages/2-networking/schemas/addresses.schema.md
  tests/fast/stages/s2_networking/addresses.tfvars
  tests/fast/stages/s2_networking/addresses.yaml
  tests/fast/stages/s2_networking/data-testaddresses/defaults.yaml
  tests/fast/stages/s2_networking/data-testaddresses/vpcs/core/.config.yaml
  tests/fast/stages/s2_networking/data-testaddresses/vpcs/core/addresses.yaml
  tests/fast/stages/s2_networking/data-testaddresses/vpcs/core/subnets/core-default.yaml
  tests/fast/stages/s2_networking/tftest.yaml
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: cff-readme, check-names, duplicate-diff

feat(gke-nodepool): add containerd_config support to node_config
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/advanced-machine-features.yaml
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: cff-readme, duplicate-diff

Implement isolated temp workspace sandboxing with symlinks in test harness
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
  tools/skill-turn-harness/playbooks/playbook.schema.json
Due: duplicate-diff

Configure GCD manual autonomous playbook and align Phase 3/4 steps order
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase3-bootstrap-and-iam.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
  tools/skill-turn-harness/playbooks/playbook.schema.json
Due: duplicate-diff

Fix linting and schema tests failures
  .github/workflows/tests.yml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_conversation.yaml
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
  tools/skill-turn-harness/test/fixtures/playbook_scripted_conversation.yaml
  tools/skill-turn-harness/test/fixtures/playbook_scripted_env_substitution.yaml
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Fix Python formatting with yapf
  tools/skill-turn-harness/test/test_harness.py
Due: none

Draft ADR: Support IAM Role Sets in Context
  adrs/20260521-iam-role-sets.md
Due: none

Cosmetic and linter fixes
  CONTRIBUTING.md
  modules/artifact-registry/README.md
  modules/data-catalog-policy-tag/schemas/policy-tag.schema.json
  modules/folder/README.md
  modules/organization/README.md
  modules/project-factory/schemas/taxonomy.schema.json
  modules/project/README.md
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/modules/cloudsql_instance/context.tfvars
Due: cff-readme, duplicate-diff

Cosmetic and linter fixes (#3981)
  CONTRIBUTING.md
  modules/artifact-registry/README.md
  modules/data-catalog-policy-tag/schemas/policy-tag.schema.json
  modules/folder/README.md
  modules/organization/README.md
  modules/project-factory/schemas/taxonomy.schema.json
  modules/project/README.md
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/modules/cloudsql_instance/context.tfvars
Due: cff-readme, duplicate-diff

Support IAM role sets in context
  adrs/20260521-iam-role-sets.md
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/variables.tf
  fast/stages/2-networking/schemas/defaults.schema.json
  fast/stages/2-networking/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/iam-role-set.schema.json
  fast/stages/2-networking/schemas/iam-role-set.schema.md
  fast/stages/2-networking/variables.tf
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/schemas/defaults.schema.json
  fast/stages/2-project-factory/schemas/defaults.schema.md
  fast/stages/2-project-factory/schemas/iam-role-set.schema.json
  fast/stages/2-project-factory/schemas/iam-role-set.schema.md
  fast/stages/2-project-factory/variables.tf
  fast/stages/2-security/schemas/defaults.schema.json
  fast/stages/2-security/schemas/defaults.schema.md
  fast/stages/2-security/schemas/iam-role-set.schema.json
  fast/stages/2-security/schemas/iam-role-set.schema.md
  fast/stages/2-security/variables.tf
  modules/folder/iam.tf
  modules/folder/variables.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/schemas/iam-role-set.schema.json
  modules/project-factory/schemas/iam-role-set.schema.md
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  tests/modules/folder/context.tfvars
  tests/modules/folder/context.yaml
  tests/modules/project/context.tfvars
  tests/modules/project/context.yaml
  tests/modules/project_factory/examples/test-1.yaml
  tools/duplicate-diff.py
Due: cff-readme, check-names, duplicate-diff

Regenerate folder README variables table
  modules/folder/README.md
Due: cff-readme

Regenerate FAST stage README variables tables
  fast/stages/0-org-setup/README.md
  fast/stages/2-networking/README.md
  fast/stages/2-project-factory/README.md
  fast/stages/2-security/README.md
Due: cff-readme, check-names

refactor(gke-nodepool): use maps for containerd_config registry_hosts and hosts
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: cff-readme, duplicate-diff

Remove default values from containerd_config hosts fields
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: cff-readme, duplicate-diff

Refactor skill-turn-harness to use Antigravity SDK
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase1-env-and-auth.md
  tools/skill-turn-harness/README.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
  tools/skill-turn-harness/requirements.txt
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Fix autonomous turn layout: print Turn ID before execution
  tools/skill-turn-harness/harness.py
Due: none

Remove obsolete .log.md from prerequisites skill directory
  skills/fast/prerequisites/.log.md
Due: none

Add FAST Prerequisites Skill and Gemini Skill Test Harness (#3979)
  .github/workflows/tests.yml
  .gitignore
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/TESTING.md
  skills/fast/prerequisites/references/phase1-env-and-auth.md
  skills/fast/prerequisites/references/phase2-admin-and-baseline.md
  skills/fast/prerequisites/references/phase3-bootstrap-and-iam.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/skill-turn-harness/.gitignore
  tools/skill-turn-harness/.style.yapf
  tools/skill-turn-harness/README.md
  tools/skill-turn-harness/TODO.md
  tools/skill-turn-harness/docs/DESIGN.md
  tools/skill-turn-harness/docs/Hybrid Test Harness Architecture.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/logs/.gitignore
  tools/skill-turn-harness/playbooks/.gitignore
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
  tools/skill-turn-harness/playbooks/playbook.schema.json
  tools/skill-turn-harness/pytest.ini
  tools/skill-turn-harness/requirements.txt
  tools/skill-turn-harness/test/fixtures/.env.test
  tools/skill-turn-harness/test/fixtures/mock-conversation-skill/SKILL.md
  tools/skill-turn-harness/test/fixtures/mock-conversation-skill/references/extra_content.md
  tools/skill-turn-harness/test/fixtures/mock-tool-use-skill/SKILL.md
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_conversation.yaml
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
  tools/skill-turn-harness/test/fixtures/playbook_scripted_conversation.yaml
  tools/skill-turn-harness/test/fixtures/playbook_scripted_env_substitution.yaml
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Enable remaining PSC config options
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/psc-auto.yaml
Due: cff-readme, duplicate-diff

Windows slashes
  modules/cloudsql-instance/README.md
Due: cff-readme

Refactor skill turn harness, fix session serialization, and resolve E2E test failures
  tools/skill-turn-harness/README.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/test/fixtures/mock-tool-use-skill/SKILL.md
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Ignore symlinks during workspace copying and enforce sandbox boundaries in playbooks
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
Due: duplicate-diff

Refactor interaction loop to use clean async generator-based Event flow
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
Due: duplicate-diff

Introduce dedicated async generator test and improve autonomous tester instructions
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Enforce strict sandbox awareness and Step 8 policy import gates
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/skill-turn-harness/harness.py
Due: none

Track and display conversation context size next to turn headers
  tools/skill-turn-harness/harness.py
Due: none

Streamline token usage display to only appear in turn step headers
  tools/skill-turn-harness/harness.py
Due: none

Refactor token usage tracking to show actual active context size
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase1-env-and-auth.md
  tools/skill-turn-harness/harness.py
Due: none

Implement progress tracking block and human recovery in test harness
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase1-env-and-auth.md
  skills/fast/prerequisites/references/phase2-admin-and-baseline.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
Due: duplicate-diff

docs: document and categorize repository skills and tools
  skills/README.md
  tools/README.md
  tools/skill-turn-harness/README.md
Due: none

docs: add maintenance instructions for updating FACTORIES.md tables
  FACTORIES.md
Due: none

docs: add missing data-catalog-policy-tag factory in FACTORIES.md
  FACTORIES.md
Due: none

docs: add missing networking stage sub-factories in FACTORIES.md
  FACTORIES.md
Due: none

docs: add systematic commands for discovering module/stage factories in FACTORIES.md
  FACTORIES.md
Due: none

docs: add missing vpcs factories in 0-org-setup and 2-project-factory stages
  FACTORIES.md
Due: none

Enhance testing harness stability and update repository documentation (#3983)
  FACTORIES.md
  skills/README.md
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/references/phase1-env-and-auth.md
  skills/fast/prerequisites/references/phase2-admin-and-baseline.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/README.md
  tools/skill-turn-harness/README.md
  tools/skill-turn-harness/harness.py
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/test/fixtures/mock-tool-use-skill/SKILL.md
  tools/skill-turn-harness/test/fixtures/playbook_autonomous_tool_use.yaml
  tools/skill-turn-harness/test/test_harness.py
Due: duplicate-diff

Create here
  modules/billing-account/here
Due: none
