Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

Fix tests
  modules/iam-service-account/README.md
Due: cff-readme

Implement support for VPC-SC perimeter membership from project factory (#3007)
  fast/stages/0-bootstrap/organization.tf
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/2-project-factory/.fast-stage.env
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Due: cff-readme, tflint-fast, check-names

allow external config of restricted services base set in vpc-sc stage
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

typo
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/1-vpcsc/README.md
Due: cff-readme, check-names

allow external config of restricted services base set in vpc-sc stage (#3009)
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

Add support to attach tags to service accounts (#3008)
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/onprem-sa-key-management/OWNERS
  blueprints/cloud-operations/onprem-sa-key-management/README.md
  blueprints/cloud-operations/onprem-sa-key-management/backend.tf.sample
  blueprints/cloud-operations/onprem-sa-key-management/cloud-shell-readme.txt
  blueprints/cloud-operations/onprem-sa-key-management/main.tf
  blueprints/cloud-operations/onprem-sa-key-management/outputs.tf
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/data-uploader/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/prisma-security/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/outputs.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/examples/tags.yaml
Due: cff-readme, validate_metadata

Add trusted images projects
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: check-names

Allow null parent and prefix
  modules/project-factory/factory-projects-object.tf
Due: cff-readme

Add tests for data_defaults / data_overrides
  tests/fixtures.py
  tests/modules/project_factory/data/data_overrides_defaults/projects/service1.yaml
  tests/modules/project_factory/data/data_overrides_defaults/projects/service2.yaml
  tests/modules/project_factory/data_overrides_defaults.tfvars
  tests/modules/project_factory/data_overrides_defaults.yaml
  tests/modules/project_factory/empty_vpc_defaults.tfvars
  tests/modules/project_factory/empty_vpc_defaults.yaml
Due: none

Use the same keys in output as in input for projects
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
Due: cff-readme

Use null values for data_overrides
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/variables.tf
Due: cff-readme

Allow same filename in different directories
  modules/project-factory/automation.tf
  modules/project-factory/factory-projects.tf
  tests/modules/project_factory/bucket_iam.yaml
  tests/modules/project_factory/data/bucket_iam/hierarchy/team-a/automation.yaml
  tests/modules/project_factory/data/bucket_iam/hierarchy/team-b/_config.yaml
  tests/modules/project_factory/data/bucket_iam/hierarchy/team-b/automation.yaml
  tests/modules/project_factory/data/bucket_iam/hierarchy/team-b/project3.yaml
  tests/modules/project_factory/data/bucket_iam/projects/project3.yaml
  tests/modules/project_factory/data_overrides_defaults.yaml
Due: cff-readme

Use factory-projects-object for project object normalization
  modules/project-factory/factory-projects-object.tf
Due: cff-readme

working
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/workforce-identity-federation/OWNERS
  blueprints/cloud-operations/workforce-identity-federation/README.md
  blueprints/cloud-operations/workforce-identity-federation/architecture.png
  blueprints/cloud-operations/workforce-identity-federation/data.tf
  blueprints/cloud-operations/workforce-identity-federation/identity-provider-defs.tf
  blueprints/cloud-operations/workforce-identity-federation/main.tf
  blueprints/cloud-operations/workforce-identity-federation/outputs.tf
  blueprints/cloud-operations/workforce-identity-federation/sequence_diagram.png
  blueprints/cloud-operations/workforce-identity-federation/terraform.tfvars.sample
  blueprints/cloud-operations/workforce-identity-federation/variables.tf
Due: validate_metadata

Add type information to project_config attributes
  modules/project-factory/factory-projects-object.tf
Due: cff-readme

Ensure vpc_sc has correct type for overrides
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
Due: cff-readme

fix merge
  modules/project-factory/main.tf
Due: cff-readme

Send all org-level logs to project destination
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix PF readme
  modules/project-factory/README.md
Due: cff-readme

update gitlab runner config
  blueprints/third-party-solutions/gitlab-runner/assets/cloud-config.yaml
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
  blueprints/third-party-solutions/gitlab/outputs.tf
Due: validate_metadata

allow setting IAM for org policy tags, add org policy tags to pf context
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables.tf
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

allow tag id substitution
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  modules/project-factory/README.md
Due: cff-readme

add okta provider def
  fast/stages/0-bootstrap/identity-providers-defs.tf
Due: cff-readme, tflint-fast, check-names

Fix linting
  tests/modules/apigee/test_apigee_nat_activate.tfvars
Due: none

Properly support org policy tags in resman/project factory (#3014)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
Due: cff-readme, tflint-fast, check-names

Added variable for activating nat and implementation in google_apigee… (#2999)
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/test_apigee_nat_activate.tfvars
  tests/modules/apigee/test_apigee_nat_activate.yaml
  tests/modules/apigee/tftest.yaml
Due: cff-readme

Add OKTA WIF provider definition (#3015)
  fast/stages/0-bootstrap/identity-providers-defs.tf
Due: cff-readme, tflint-fast, check-names

Enable storage.restrictAuthTypes org policy
  fast/stages/0-bootstrap/data/org-policies-managed/storage.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check-names

Enable storage.restrictAuthTypes org policy (#3017)
  fast/stages/0-bootstrap/data/org-policies-managed/storage.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check-names
