Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

module examples
  modules/alloydb/README.md
  modules/cloud-run-v2/README.md
  modules/cloudsql-instance/README.md
  modules/dataproc/README.md
  modules/gke-hub/README.md
  modules/looker-core/README.md
  modules/net-address/README.md
  modules/net-cloudnat/README.md
  modules/net-firewall-policy/README.md
  modules/net-lb-int/recipe-ilb-next-hop/README.md
  tests/modules/alloydb/examples/simple.yaml
  tests/modules/cloud_run_v2/examples/service-vpc-access-connector-create-sharedvpc.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
  tests/modules/gke_hub/examples/full.yaml
  tests/modules/looker_core/examples/full.yaml
  tests/modules/looker_core/examples/psa.yaml
  tests/modules/net_cloudnat/examples/hybrid.yaml
  tests/modules/net_firewall_policy/examples/factory-spg.yaml
Due: cff-readme

fix tofu discrepancies
  tests/modules/net_swp/examples/tls.yaml
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/subnet-options.yaml
Due: none

Set nullable equal to false
  fast/project-templates/secops-anonymization-pipeline/main.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/variables.tf
Due: cff-readme, tflint-fast, check-names

fix tofu discrepancies
  tests/modules/net_swp/examples/tls.yaml
Due: none

Allow to specify function egress settings without using a VPC connector (#2967)
  fast/project-templates/secops-anonymization-pipeline/main.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme, tflint-fast, check-names

Add example with transparent proxy and E2E test
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/policy-rules.tf
  tests/examples_e2e/setup_module/main.tf
  tests/modules/net_swp/examples/tls.yaml
  tests/modules/net_swp/examples/transparent-proxy.yaml
Due: cff-readme

update changelog
  CHANGELOG.md
Due: none

net-lb-app-* support any ports now
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables.tf
Due: cff-readme

hotfix push subscription in pubsub module
  modules/pubsub/main.tf
Due: cff-readme

hotfix push subscription in pubsub module
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Due: cff-readme

hotfix push subscription in pubsub module (#2974)
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Due: cff-readme

Rename README.md to REALM
  fast/REALM
Due: check-names

Create SECURITY.md
  SECURITY.md
Due: none

dedup iam dict
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
Due: validate_metadata

enable dataplex api in common
  blueprints/data-solutions/data-platform-minimal/04-common.tf
Due: validate_metadata

Fix issue 2978
  modules/project/shared-vpc.tf
Due: cff-readme

Fix linting
  modules/project/shared-vpc.tf
Due: cff-readme

Fix issue 2978 (#2981)
  modules/project/shared-vpc.tf
Due: cff-readme

Update IAM roles and product configuration.
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data/data-domains/test-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/test-0/product-0.yaml
  fast/stages/3-data-platform-dev/data/data-domains/test-1/_config.yaml
  fast/stages/3-data-platform-dev/data/policy-tag/tags.yaml
  fast/stages/3-data-platform-dev/outputs.tf
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/schemas/data-product.schema.json
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

add upgrade_settings (#2)
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: cff-readme

compute-vm: Add graceful shutdown configuration and some missing GPUs.
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: cff-readme

Update list of GPUs.
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
Due: cff-readme

wip
  fast/project-templates/mongodb/atlas.tf
  fast/project-templates/mongodb/main.tf
  fast/project-templates/mongodb/outputs.tf
  fast/project-templates/mongodb/providers.tf
  fast/project-templates/mongodb/providers_override.tf
  fast/project-templates/mongodb/variables.tf
Due: cff-readme, tflint-fast, check-names

fix gitlab blueprint
  blueprints/third-party-solutions/gitlab/README.md
  blueprints/third-party-solutions/gitlab/services.tf
  blueprints/third-party-solutions/gitlab/variables.tf
Due: validate_metadata

add psc output to net-address module
  modules/net-address/README.md
  modules/net-address/outputs.tf
Due: cff-readme

wip
  fast/project-templates/mongodb/atlas.tf
  fast/project-templates/mongodb/main.tf
  fast/project-templates/mongodb/project.yaml
  fast/project-templates/mongodb/variables.tf
Due: cff-readme, tflint-fast, check-names

wip
  fast/project-templates/mongodb/main.tf
  fast/project-templates/mongodb/project.yaml
  fast/project-templates/mongodb/variables.tf
Due: cff-readme, tflint-fast, check-names

initial README, test
  fast/project-templates/.gitignore
  fast/project-templates/mongodb/README.md
  tools/lockfile/default-versions_override.tf
Due: cff-readme, check-names

remove providers file
  fast/project-templates/mongodb/providers.tf
Due: cff-readme, tflint-fast, check-names

boilerplate
  fast/project-templates/mongodb/outputs.tf
  fast/project-templates/mongodb/variables.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/project-templates/mongodb/README.md
  modules/net-address/README.md
  modules/net-address/outputs.tf
Due: cff-readme, check-names

test
  fast/project-templates/mongodb/README.md
Due: cff-readme, check-names

Project object c14n in separte file
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  tools/duplicate-diff.py
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
