Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

added lookup catch for org tag values and fixed incorrect link in doco
  modules/organization/README.md
  modules/organization/tags.tf
Due: cff-readme

fixed factory locals from copy/paste
  modules/project/tags.tf
Due: cff-readme

added full doco/tests for project tags factory. fixed failed test looking for ID in yamls
  modules/project/README.md
  modules/project/tags.tf
  tests/modules/project/examples/tags-factory.yaml
Due: cff-readme

added context option for factories_config to configure existing K/Vs
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables.tf
Due: cff-readme

Added tag factory option for organization module (#3178)
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables.tf
  tests/modules/organization/examples/tags-factory.yaml
  tests/modules/project/examples/tags-factory.yaml
Due: cff-readme

Added option for tag factory in resman
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

updated doco
  fast/stages/1-resman/README.md
Due: cff-readme, check-names

Added option for tag factory in resman (#3190)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

fix failing E2E test
  modules/net-vpc/README.md
  tests/examples_e2e/setup_module/main.tf
Due: cff-readme

Adding Regional Internet NEGs support
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext-regional/versions.tf
  modules/net-lb-app-ext-regional/versions.tofu
Due: cff-readme, versions, versions_tofu

Added option to set force_destroy on pf buckets
  modules/project-factory/automation.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
Due: cff-readme

added force_destroy to schema
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: none

Only consider active projects to default VPC SC perimeter
  fast/stages/1-vpcsc/main.tf
Due: cff-readme, tflint-fast, check-names

Only consider active projects to default VPC SC perimeter (#3193)
  fast/stages/1-vpcsc/main.tf
Due: cff-readme, tflint-fast, check-names

Added option to set force_destroy on pf buckets (#3192)
  modules/project-factory/automation.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: cff-readme

add path_matcher.default_route_action
  modules/net-lb-app-int/urlmap.tf
  modules/net-lb-app-int/variables-urlmap.tf
  modules/net-lb-app-int/versions.tf
Due: cff-readme, versions

update readme
  modules/net-lb-app-int/README.md
Due: cff-readme

Added node_pool_auto_config to GKE cluster
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Added node_pool_auto_config to GKE cluster (#3196)
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Create (or import) subnets with empty description
  modules/net-vpc/subnets.tf
Due: cff-readme

Added comments for empty descriptions
  modules/net-vpc/subnets.tf
Due: cff-readme

Add support for extra tfvar files in CI/CD config
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/organization-tags.tf
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Fix issues after running pre-commit
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_elt.py
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_table_create.py
  fast/stages/3-data-platform-dev/demo/composer/variables/variables.json
  fast/stages/3-data-platform-dev/demo/data/customers.csv
  fast/stages/3-data-platform-dev/demo/data/purchases.csv
  fast/stages/3-data-platform-dev/demo/data/schema/customer_purchase.json
  fast/stages/3-data-platform-dev/demo/data/schema/customers.json
  fast/stages/3-data-platform-dev/demo/data/schema/customers_schema.json
  fast/stages/3-data-platform-dev/demo/data/schema/purchases.json
  fast/stages/3-data-platform-dev/demo/data/schema/purchases_schema.json
  fast/stages/3-data-platform-dev/demo/variables.tf
Due: cff-readme, tflint-fast, check-names

Adds sample Terraform variables file
  fast/stages/3-data-platform-dev/demo/terraform.tfvars.sample
Due: tflint-fast, check-names

Add support for extra tfvar files in CI/CD config (#3198)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/organization-tags.tf
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Adds service account impersonation
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/providers.tf
  fast/stages/3-data-platform-dev/demo/terraform.tfvars.sample
  fast/stages/3-data-platform-dev/demo/variables.tf
Due: cff-readme, tflint-fast, check-names

Update modules/net-vpc/subnets.tf
  modules/net-vpc/subnets.tf
Due: cff-readme

Create (or import) subnets with empty description (#3197)
  modules/net-vpc/subnets.tf
Due: cff-readme

rename workflows_config.tf_var_files in resman stage
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-stages.tf
  fast/stages/2-networking-a-simple/schemas/subnet.schema.md
  fast/stages/2-networking-b-nva/schemas/subnet.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/subnet.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
  tests/fixtures.py
Due: cff-readme, tflint-fast, check-names

fix test result
  tests/fast/stages/s1_resman/simple.yaml
Due: none

fix cloud deploy module versions file
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
Due: cff-readme, versions, versions_tofu

Rename workflows config variable introduced in #3198 (#3199)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-stages.tf
  fast/stages/2-networking-a-simple/schemas/subnet.schema.md
  fast/stages/2-networking-b-nva/schemas/subnet.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/subnet.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
  tests/fixtures.py
Due: cff-readme, tflint-fast, versions, versions_tofu, check-names

update changelog
  CHANGELOG.md
Due: none

Remove blueprint metadata validation
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  tools/bpmetadataschema.json
  tools/lint.sh
  tools/validate_metadata.py
Due: validate_metadata

Remove blueprint metadata validation (#3200)
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  tools/bpmetadataschema.json
  tools/lint.sh
  tools/validate_metadata.py
Due: validate_metadata

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
