Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Move folder of project app dev 0
  fast/stages/3-app-dev-0/bigquery.tf
  fast/stages/3-app-dev-0/fast_version.txt
  fast/stages/3-app-dev-0/gke.tf
  fast/stages/3-app-dev-0/iam.tf
  fast/stages/3-app-dev-0/main.tf
  fast/stages/3-app-dev-0/outputs.tf
  fast/stages/3-app-dev-0/project.tf
  fast/stages/3-app-dev-0/variables-fast.tf
  fast/stages/3-app-dev-0/variables.tf
  fast/stages/3-app-dev-0/vm.tf
Due: cff-readme, check-names, duplicate-diff

Update config
  fast/stages/0-org-setup/datasets/hardened/folders/infrastructure/security/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/serviceusage.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/subnets/dev-violation.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/firewall-rules/default-egress.yaml
  fast/stages/2-project-factory/data/defaults.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-1.yaml
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/data/keyrings/app-dev-1.yaml
  fast/stages/2-security/data/keyrings/app-dev.yaml
  modules/organization/iam.tf
  modules/project-factory/folders.tf
Due: cff-readme, check-names, duplicate-diff

Add sampe project
  fast/stages/1-vpcsc/datasets/hardened/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/firewall-rules/default-egress.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/firewall-rules/gke-egress.yaml
  fast/stages/2-project-factory/data/defaults.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-1.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-2.yaml
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/data/keyrings/dev/app-dev-1.yaml
  fast/stages/2-security/data/keyrings/dev/app-dev-2.yaml
  fast/stages/2-security/data/keyrings/dev/dev-primary-default.yaml
  fast/stages/2-security/data/keyrings/prod/prod-primary-default.yaml
  fast/stages/3-app-dev-0/variables.tf
  fast/stages/3-app-dev-1/bigquery.tf
  fast/stages/3-app-dev-1/fast_version.txt
  fast/stages/3-app-dev-1/gke.tf
  fast/stages/3-app-dev-1/iam.tf
  fast/stages/3-app-dev-1/main.tf
  fast/stages/3-app-dev-1/outputs.tf
  fast/stages/3-app-dev-1/project.tf
  fast/stages/3-app-dev-1/variables-fast.tf
  fast/stages/3-app-dev-1/variables.tf
  fast/stages/3-app-dev-1/vm.tf
  fast/stages/3-app-dev-2/bigquery.tf
  fast/stages/3-app-dev-2/fast_version.txt
  fast/stages/3-app-dev-2/gke.tf
  fast/stages/3-app-dev-2/iam.tf
  fast/stages/3-app-dev-2/main.tf
  fast/stages/3-app-dev-2/outputs.tf
  fast/stages/3-app-dev-2/project.tf
  fast/stages/3-app-dev-2/variables-fast.tf
  fast/stages/3-app-dev-2/variables.tf
  fast/stages/3-app-dev-2/vm.tf
Due: cff-readme, check-names, duplicate-diff

Add bucket logging
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/log-0.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-1.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-2.yaml
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables.tf
  fast/stages/3-app-dev-2/gke.tf
  modules/gcs/main.tf
  modules/gcs/variables.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables-projects.tf
  modules/project-factory/variables.tf
Due: cff-readme, check-names, duplicate-diff

fix(gke-cluster-standard): Avoid perpetual diff on network tags in node_pool_auto_config block
  modules/gke-cluster-standard/main.tf
Due: cff-readme, duplicate-diff

Update defaults.yaml
  fast/stages/0-org-setup/datasets/classic/defaults.yaml
Due: check-names, duplicate-diff

Fix test, remove network tags when empty
  tests/modules/gke_hub/examples/full.yaml
Due: duplicate-diff

fix(gke-cluster-standard): Avoid perpetual diff on network tags in node_pool_auto_config block (#3680)
  modules/gke-cluster-standard/main.tf
  tests/modules/gke_hub/examples/full.yaml
Due: cff-readme, duplicate-diff

Various fix
  fast/stages/0-org-setup/datasets/hardened/organization/scc-mute-rules/admin-service-accounts.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  fast/stages/3-app-dev-1/gke.tf
  fast/stages/3-app-dev-1/main.tf
  fast/stages/3-app-dev-1/variables.tf
  fast/stages/3-app-dev-2/gke.tf
  fast/stages/3-app-dev-2/main.tf
  fast/stages/3-app-dev-2/variables.tf
  modules/organization/outputs.tf
  modules/organization/scc-mute-configs.tf
  modules/organization/schemas/scc-mute-config.schema.json
  modules/organization/schemas/scc-mute-config.schema.md
  modules/organization/variables-scc.tf
  modules/organization/variables.tf
Due: cff-readme, check-names, duplicate-diff

Update defaults.yaml (#3681)
  fast/stages/0-org-setup/datasets/classic/defaults.yaml
Due: check-names, duplicate-diff

Revert billing config to classic
  fast/stages/0-org-setup/datasets/classic-gcd/billing-accounts/default.yaml
Due: check-names, duplicate-diff

Restore billing project in GCD
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/billing-0.yaml
Due: check-names, duplicate-diff

feat: create classic dataset for GCD deployments
  fast/stages/0-org-setup/README-GCD.md
  fast/stages/0-org-setup/datasets/classic-gcd/billing-accounts/default.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/cicd.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/defaults.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/teams/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/ngfw_enterprise_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/organization_iam_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/project_iam_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/service_project_network_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/storage_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/tag_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/cloudbuild.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/essentialcontacts.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/sql.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/storage.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/context.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/environment.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/org-policies.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/log-0.yaml
Due: check-names, duplicate-diff

Add basic alignment-test with classic dataset
  tools/duplicate-diff.py
Due: none

Revert GCD README
  fast/stages/0-org-setup/README-GCD.md
Due: check-names

Added bucket_name for project-factory module
  modules/project-factory/projects-buckets.tf
Due: cff-readme, duplicate-diff

feat: create new dataset `classic-gcd` (based on dataset `classic`) to enable deployment on GCD (#3679)
  fast/stages/0-org-setup/datasets/classic-gcd/billing-accounts/default.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/cicd.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/defaults.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/data-platform/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/networking/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/dev/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/security/prod/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/folders/teams/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/.config.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/ngfw_enterprise_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/organization_iam_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/project_iam_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/service_project_network_admin.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/storage_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/custom-roles/tag_viewer.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/cloudbuild.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/essentialcontacts.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/sql.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/org-policies/storage.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/context.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/environment.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/organization/tags/org-policies.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/billing-0.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/classic-gcd/projects/core/log-0.yaml
  tools/duplicate-diff.py
Due: check-names, duplicate-diff

Update on project factory
  fast/stages/2-project-factory/data/observability/auditConfigChanges.yaml
  fast/stages/2-project-factory/data/observability/binaryAuthorizationPolicyChanges.yaml
  fast/stages/2-project-factory/data/observability/cloudsqlInstanceChanges.yaml
  fast/stages/2-project-factory/data/observability/customRoleChanges.yaml
  fast/stages/2-project-factory/data/observability/firewallPolicyRuleChanges.yaml
  fast/stages/2-project-factory/data/observability/firewallRuleChanges.yaml
  fast/stages/2-project-factory/data/observability/networkChanges.yaml
  fast/stages/2-project-factory/data/observability/networkRouteChanges.yaml
  fast/stages/2-project-factory/data/observability/projectOwnershipChange.yaml
  fast/stages/2-project-factory/data/observability/storageIamChanges.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-1.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-2.yaml
  fast/stages/2-project-factory/main.tf
Due: cff-readme, check-names, duplicate-diff

Vatiour fixes pour sample
  fast/stages/0-org-setup/datasets/hardened/folders/teams/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/subnets/dev-gke-control-plane.yaml
  fast/stages/2-security/data/keyrings/dev/app-dev-1.yaml
  fast/stages/2-security/data/keyrings/dev/app-dev-2.yaml
  fast/stages/3-app-dev-1/gke.tf
  fast/stages/3-app-dev-1/iam.tf
  fast/stages/3-app-dev-1/main.tf
  fast/stages/3-app-dev-1/project.tf
  fast/stages/3-app-dev-1/variables.tf
  fast/stages/3-app-dev-1/vm.tf
  fast/stages/3-app-dev-2/gke.tf
  fast/stages/3-app-dev-2/iam.tf
  fast/stages/3-app-dev-2/main.tf
  fast/stages/3-app-dev-2/project.tf
  fast/stages/3-app-dev-2/variables.tf
  fast/stages/3-app-dev-2/vm.tf
  modules/project-factory/projects.tf
Due: cff-readme, check-names, duplicate-diff

Adding agent telemetry
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/minimal.yaml
Due: cff-readme, duplicate-diff

Clarify GCD install process
  fast/stages/0-org-setup/README-GCD.md
Due: check-names

Clarify GCD install process (#3683)
  fast/stages/0-org-setup/README-GCD.md
Due: check-names

Add template revision to ignore_changes list
  modules/cloud-run-v2/service-unmanaged.tf
Due: cff-readme, duplicate-diff

Add PSC-I support to Agent Engine module
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/psc-i.yaml
Due: cff-readme, duplicate-diff

Fix tests, variable def
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/examples_e2e/setup_module/versions.tf
  tests/examples_e2e/setup_module/versions.tofu
  tests/modules/agent_engine/examples/encryption.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/minimal-pickle.yaml
  tests/modules/agent_engine/examples/minimal.yaml
  tests/modules/agent_engine/examples/pickle-gcs.yaml
  tests/modules/agent_engine/examples/sa-custom.yaml
  tests/modules/agent_engine/examples/sa-default.yaml
  tests/modules/agent_engine/examples/unmanaged.yaml
Due: cff-readme, versions, duplicate-diff

Fix failing tests from provider upgrade
  tests/fast/stages/s3_gke_dev/hardened.yaml
  tests/fast/stages/s3_gke_dev/simple.yaml
  tests/modules/gke_cluster_standard/examples/access-google.yaml
  tests/modules/gke_cluster_standard/examples/access-private.yaml
  tests/modules/gke_cluster_standard/examples/access-public.yaml
  tests/modules/gke_cluster_standard/examples/notifications.yaml
  tests/modules/gke_cluster_standard/examples/regional.yaml
  tests/modules/gke_hub/examples/full.yaml
Due: duplicate-diff

Fix Agent Engine PSC-I configuration
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  tests/modules/agent_engine/examples/psc-i.yaml
Due: cff-readme, duplicate-diff

Fix Agent Engine PSC-I configuration (#3687)
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  tests/modules/agent_engine/examples/psc-i.yaml
Due: cff-readme, duplicate-diff

Few fixes
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-1.yaml
  fast/stages/2-project-factory/data/projects/dev/app-dev-2.yaml
Due: check-names, duplicate-diff

fix: extract and validate links within HTML blocks in Markdown files
  tools/check_links.py
Due: none

fix: Fixed external broken links
  adrs/fast/README.md
  adrs/modules/README.md
  fast/project-templates/devops-azure-wif/README.md
  fast/project-templates/managed-kafka/README.md
  fast/stages/3-gke-dev/README.md
  modules/folder/README.md
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/README.md
  modules/organization/README.md
  modules/project/README.md
  modules/projects-data-source/README.md
Due: cff-readme, check-names

Fixed python linting
  tools/check_links.py
Due: none

fix: extract and validate links within HTML blocks in Markdown files (#3688)
  tools/check_links.py
Due: none

fix resource policy for regional disks
  modules/compute-vm/resource-policies.tf
Due: cff-readme, duplicate-diff

remove unused providers from lockfile
  tools/lockfile/main.tf
Due: duplicate-diff
