Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Fix service agent context interpolation in project factory sub-resources
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/projects-kms.tf
  modules/project-factory/projects-log-buckets.tf
  modules/project-factory/projects-pubsub.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Address review: fix example agent refs, aspect-types/taxonomies _self_ agents, per-path test guards
  modules/project-factory/README.md
  modules/project-factory/aspect-types.tf
  modules/project-factory/taxonomies.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Fix service agent context interpolation in project factory sub-resources (#4095)
  modules/project-factory/README.md
  modules/project-factory/aspect-types.tf
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/projects-kms.tf
  modules/project-factory/projects-log-buckets.tf
  modules/project-factory/projects-pubsub.tf
  modules/project-factory/taxonomies.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

xFix end-to-end tests
  modules/cloudsql-instance/README.md
  modules/project/README.md
  tests/modules/cloudsql_instance/examples/psc-auto.yaml
Due: cff-readme, duplicate-diff

xFix end-to-end tests (#4096)
  modules/cloudsql-instance/README.md
  modules/project/README.md
  tests/modules/cloudsql_instance/examples/psc-auto.yaml
Due: cff-readme, duplicate-diff

Fix bypass_cache_on_request_headers in modules/net-lb-app-ext
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  tests/modules/net_lb_app_ext/examples/cloud-cdn.yaml
Due: cff-readme, duplicate-diff

Validate backend service cdn_policy required attributes
  modules/net-lb-app-ext/variables-backend-service.tf
Due: cff-readme, duplicate-diff

Require read-back and gate behavioral verification in contributing skill E2E
  skills/contributing/SKILL.md
Due: none

Fix bypass_cache_on_request_headers in modules/net-lb-app-ext (#4098)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  tests/modules/net_lb_app_ext/examples/cloud-cdn.yaml
Due: cff-readme, duplicate-diff

Require read-back and gate behavioral verification in contributing skill E2E (#4099)
  skills/contributing/SKILL.md
Due: none

Add title, description and stage support to custom roles
  fast/stages/0-org-setup/schemas/custom-role.schema.json
  fast/stages/0-org-setup/schemas/custom-role.schema.md
  fast/stages/3-secops-dev/main.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/schemas/custom-role.schema.json
  modules/organization/schemas/custom-role.schema.md
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/schemas/custom-role.schema.json
  modules/project/schemas/custom-role.schema.md
  modules/project/variables.tf
  tests/modules/organization/examples/custom-roles.yaml
  tests/modules/organization/examples/roles.yaml
  tests/modules/project/examples/custom-role-iam.yaml
Due: cff-readme, check-names, duplicate-diff

Support name overrides for routes and policy based routes in net-vpc
  fast/stages/0-org-setup/schemas/vpc-factory.schema.json
  fast/stages/0-org-setup/schemas/vpc-factory.schema.md
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/schemas/vpc.schema.json
  fast/stages/2-networking/schemas/vpc.schema.md
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/schemas/vpc-factory.schema.json
  modules/net-vpc-factory/schemas/vpc-factory.schema.md
  modules/net-vpc-factory/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/.config.yaml
  tests/fast/stages/s2_networking/vlan_attachments.yaml
  tests/modules/net_vpc/examples/pbr.yaml
  tests/modules/net_vpc/examples/routes.yaml
  tests/modules/net_vpc_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Mention routes support in net-vpc-factory README
  modules/net-vpc-factory/README.md
Due: cff-readme

Add breaking changes section requirement to contributing skill
  skills/contributing/SKILL.md
Due: none

Support name overrides for routes and policy based routes in net-vpc (#4104)
  fast/stages/0-org-setup/schemas/vpc-factory.schema.json
  fast/stages/0-org-setup/schemas/vpc-factory.schema.md
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/schemas/vpc.schema.json
  fast/stages/2-networking/schemas/vpc.schema.md
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/schemas/vpc-factory.schema.json
  modules/net-vpc-factory/schemas/vpc-factory.schema.md
  modules/net-vpc-factory/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/.config.yaml
  tests/fast/stages/s2_networking/vlan_attachments.yaml
  tests/modules/net_vpc/examples/pbr.yaml
  tests/modules/net_vpc/examples/routes.yaml
  tests/modules/net_vpc_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Add title, description and stage support to custom roles (#4102)
  fast/stages/0-org-setup/schemas/custom-role.schema.json
  fast/stages/0-org-setup/schemas/custom-role.schema.md
  fast/stages/3-secops-dev/main.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/schemas/custom-role.schema.json
  modules/organization/schemas/custom-role.schema.md
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/schemas/custom-role.schema.json
  modules/project/schemas/custom-role.schema.md
  modules/project/variables.tf
  tests/modules/organization/examples/custom-roles.yaml
  tests/modules/organization/examples/roles.yaml
  tests/modules/project/examples/custom-role-iam.yaml
Due: cff-readme, check-names, duplicate-diff

Add breaking changes section requirement to contributing skill (#4105)
  skills/contributing/SKILL.md
Due: none

Support CA pool publishing_options in modules/certificate-authority-service
  fast/stages/2-security/factory-cas.tf
  fast/stages/2-security/schemas/certificate-authority.schema.json
  fast/stages/2-security/schemas/certificate-authority.schema.md
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
  tests/fast/stages/s2_security/data-simple/certificate-authorities/prod-ca-0.yaml
  tests/fast/stages/s2_security/simple.yaml
  tests/modules/certificate_authority_service/context.tfvars
  tests/modules/certificate_authority_service/context.yaml
  tests/modules/certificate_authority_service/examples/custom_cas.yaml
Due: cff-readme, check-names, duplicate-diff

Support CA pool publishing_options in modules/certificate-authority-service (#4107)
  fast/stages/2-security/factory-cas.tf
  fast/stages/2-security/schemas/certificate-authority.schema.json
  fast/stages/2-security/schemas/certificate-authority.schema.md
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
  tests/fast/stages/s2_security/data-simple/certificate-authorities/prod-ca-0.yaml
  tests/fast/stages/s2_security/simple.yaml
  tests/modules/certificate_authority_service/context.tfvars
  tests/modules/certificate_authority_service/context.yaml
  tests/modules/certificate_authority_service/examples/custom_cas.yaml
Due: cff-readme, check-names, duplicate-diff

fabric-importer initial import
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/examples/import-manifest.fast-networking.yaml
  skills/fabric-importer/examples/import-manifest.fast-org-setup.yaml
  skills/fabric-importer/examples/import-manifest.fast-security.yaml
  skills/fabric-importer/examples/import-manifest.fast-vpcsc.yaml
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/examples/waivers.example.yaml
  skills/fabric-importer/references/cai-blind-spots.md
  skills/fabric-importer/references/inferring-manifests-from-state.md
  skills/fabric-importer/references/mapping-cookbook.md
  skills/fabric-importer/references/operating-contract.md
  skills/fabric-importer/scripts/benign-drift.yaml
  skills/fabric-importer/scripts/coverage.py
  skills/fabric-importer/scripts/integrity.py
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/scripts/manifest_from_state.py
  skills/fabric-importer/scripts/manifest_init.py
  skills/fabric-importer/scripts/verify_plan.py
  skills/fabric-importer/tests/test_scripts.py
Due: duplicate-diff

fabric-importer: close the gaps the verification rounds never saw
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/inferring-manifests-from-state.md
  skills/fabric-importer/references/mapping-cookbook.md
  skills/fabric-importer/references/operating-contract.md
  skills/fabric-importer/scripts/benign-drift.yaml
  skills/fabric-importer/scripts/coverage.py
  skills/fabric-importer/scripts/integrity.py
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/scripts/manifest_from_state.py
  skills/fabric-importer/scripts/verify_plan.py
  skills/fabric-importer/tests/test_scripts.py
Due: duplicate-diff

Fix PSC replica bug in modules/cloudsql-instance
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

fabric-importer: fix the workflow diagram, which did not render
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
Due: none

fabric-importer: codify enumeration beyond CAI
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/cai-blind-spots.md
  skills/fabric-importer/references/operating-contract.md
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/scripts/manifest_from_state.py
  skills/fabric-importer/tests/test_scripts.py
Due: duplicate-diff

fabric-importer: say what "unmapped type" actually means
  skills/fabric-importer/references/cai-blind-spots.md
  skills/fabric-importer/references/inferring-manifests-from-state.md
  skills/fabric-importer/scripts/manifest_from_state.py
  skills/fabric-importer/tests/test_scripts.py
Due: none

fabric-importer: fall back to gcloud automatically, not on request
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/references/cai-blind-spots.md
  skills/fabric-importer/references/operating-contract.md
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/tests/test_scripts.py
Due: none

fabric-importer: account for every gcloud call, and page at the maximum
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/tests/test_scripts.py
Due: none

fabric-importer: explain the initial phase in the README
  skills/fabric-importer/README.md
Due: none

fabric-importer: run the scripts with uv, and say what each gate measures
  skills/fabric-importer/README.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/references/inferring-manifests-from-state.md
  skills/fabric-importer/references/operating-contract.md
  skills/fabric-importer/scripts/coverage.py
  skills/fabric-importer/scripts/integrity.py
  skills/fabric-importer/scripts/inventory.py
  skills/fabric-importer/scripts/manifest_from_state.py
  skills/fabric-importer/scripts/manifest_init.py
  skills/fabric-importer/scripts/verify_plan.py
  skills/fabric-importer/tests/test_scripts.py
Due: none

Derive org logging identity keys from config to avoid unknown IAM principals
  fast/stages/0-org-setup/factory.tf
  fast/stages/0-org-setup/organization.tf
  tests/fast/stages/s0_org_setup/customizations.yaml
Due: cff-readme, check-names, duplicate-diff

Add logging settings to organization configuration
  fast/stages/0-org-setup/organization.tf
Due: cff-readme, check-names, duplicate-diff

Document verbatim condition expressions and strict address matching in mapping cookbook
  skills/fabric-importer/references/mapping-cookbook.md
Due: none

Make factory emission a per-family manifest choice in fabric-importer skill
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/mapping-cookbook.md
Due: duplicate-diff

Make factory emission a per-family manifest choice in fabric-importer skill (#4110)
  skills/fabric-importer/COVERAGE.md
  skills/fabric-importer/SKILL.md
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/mapping-cookbook.md
Due: duplicate-diff

Document dual-position emission and scope-splitting recipe
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/mapping-cookbook.md
Due: duplicate-diff

Document dual-position emission and scope-splitting recipe (#4111)
  skills/fabric-importer/examples/import-manifest.org-foundation.yaml
  skills/fabric-importer/references/mapping-cookbook.md
Due: duplicate-diff

Add ability to define custom roles in project-factory module
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/README.md
  modules/project-factory/projects-defaults.tf
  modules/project-factory/projects.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Clarify folder factory parent context references in mapping cookbook
  skills/fabric-importer/references/mapping-cookbook.md
Due: none

Fix test
  tests/modules/project_factory/examples/example.yaml
Due: duplicate-diff

Fix unknown IAM principals when organization logging settings are created (#4109)
  fast/stages/0-org-setup/factory.tf
  fast/stages/0-org-setup/organization.tf
  tests/fast/stages/s0_org_setup/customizations.yaml
Due: cff-readme, check-names, duplicate-diff
