Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Fix Logging folder settings folder (#3811)
  modules/folder/logging.tf
  modules/project-factory/folders.tf
Due: cff-readme, duplicate-diff

fix callers in documentation, or examples with no inventory
  CONTRIBUTING.md
  fast/addons/2-networking-test/main.tf
  fast/project-templates/devops-azure-wif/self-hosted-agents/main.tf
  fast/stages/2-networking/factory-nva.tf
  modules/cloud-config-container/bindplane/README.md
  modules/cloud-config-container/coredns/README.md
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/README.md
  modules/cloud-config-container/envoy-traffic-director/README.md
  modules/cloud-config-container/mysql/README.md
  modules/cloud-config-container/nginx-tls/README.md
  modules/cloud-config-container/nginx/README.md
  modules/cloud-config-container/simple-nva/README.md
  modules/compute-mig/README.md
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/instances.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/recipe-ilb-next-hop/gateways.tf
Due: cff-readme, check-names, duplicate-diff

fmt
  fast/project-templates/devops-azure-wif/self-hosted-agents/main.tf
  modules/net-lb-int/recipe-ilb-next-hop/gateways.tf
Due: cff-readme, check-names, duplicate-diff

remove extra file
  modules/compute-vm/test.tfvars
Due: none

fix callers
  modules/cloud-config-container/coredns/README.md
  modules/cloud-config-container/mysql/README.md
  modules/cloud-config-container/nginx-tls/README.md
  modules/cloud-config-container/simple-nva/README.md
  modules/compute-vm/README.md
  modules/compute-vm/instance.tf
  modules/compute-vm/variables.tf
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-int/README.md
  modules/project/README.md
  tests/examples/test_plan.py
  tests/modules/compute_vm/context-template-regional.yaml
  tests/modules/compute_vm/context-template.yaml
  tests/modules/compute_vm/context-vm.yaml
  tests/modules/compute_vm/examples/cmek.yaml
  tests/modules/compute_vm/examples/defaults.yaml
  tests/modules/compute_vm/examples/disk-options.yaml
  tests/modules/compute_vm/examples/disks-example-template.yaml
  tests/modules/compute_vm/examples/independent-boot-disk.yaml
  tests/modules/compute_vm/examples/sa-custom.yaml
  tests/modules/compute_vm/examples/sa-default.yaml
  tests/modules/compute_vm/examples/sa-managed.yaml
  tests/modules/compute_vm/examples/sa-none.yaml
  tests/modules/compute_vm/examples/sole-tenancy.yaml
  tests/modules/compute_vm/examples/tag-bindings.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel.yaml
Due: cff-readme, duplicate-diff

fmt, tfdoc
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

add tool to automatically format README examples
  tools/format_tftest.py
Due: none

fmt
  fast/extras/0-cicd-gitlab/README.md
  fast/stages/3-gke-dev/README.md
  modules/cloud-config-container/bindplane/README.md
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/README.md
  modules/cloud-config-container/envoy-traffic-director/README.md
  modules/cloud-config-container/nginx/README.md
  modules/net-lb-app-ext-regional/README.md
  modules/project-factory/README.md
  modules/project/README.md
  modules/spanner-instance/README.md
  modules/vpc-sc/README.md
Due: cff-readme, check-names

add example formatting tool, fix remaining examples
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/README.md
  tools/format_tftest.py
Due: cff-readme

fix(secure-source-manager-instance): when importing a repo do not force default_branch
  modules/secure-source-manager-instance/main.tf
Due: cff-readme, duplicate-diff

fix(secure-source-manager-instance): when importing a repo do not force default_branch (#3812)
  modules/secure-source-manager-instance/main.tf
Due: cff-readme, duplicate-diff

update CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

update CONTRIBUTING guide (#3814)
  CONTRIBUTING.md
Due: none

Implement Go-based tfdoc
  .gitignore
  adrs/20260326-go-tools-migration.md
  modules/project/README.md
  tools/Makefile
  tools/src/cmd/tfdoc/main.go
  tools/src/go.mod
  tools/src/go.sum
  tools/src/internal/linter/linter.go
  tools/src/internal/parser/files.go
  tools/src/internal/parser/hcl_parse.go
  tools/src/internal/parser/markdown.go
  tools/src/internal/parser/types.go
  tools/src/internal/render/render.go
Due: cff-readme

implement group membership in compute-vm module
  modules/GEMINI.md
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  tests/modules/compute_vm/examples/group-membership.yaml
Due: cff-readme, duplicate-diff

fix newline, update copyright
  tests/modules/compute_vm/examples/group-membership.yaml
Due: duplicate-diff

Implement group membership in compute-vm module (#3816)
  modules/GEMINI.md
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  tests/modules/compute_vm/examples/group-membership.yaml
Due: cff-readme, duplicate-diff

Fix lint
  modules/net-vpn-dynamic/variables.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme, duplicate-diff

fix: correct dynamic block in apigee organization properties
  modules/apigee/main.tf
Due: cff-readme, duplicate-diff

feat(2-networking): add NS And DS record dynamically from sub-zones records
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-dns.tf
  fast/stages/2-networking/schemas/dns.schema.json
  fast/stages/2-networking/schemas/dns.schema.md
Due: cff-readme, check-names, duplicate-diff

update the factories overview
  FACTORIES.md
Due: none

update agent rules
  .agents/rules/context-interpolation.md
  .agents/rules/dev-workflow.md
  .agents/rules/fast-factory-driven.md
  .agents/rules/style-guide.md
  .agents/rules/testing-guidelines.md
Due: none

update main GEMINI file
  GEMINI.md
Due: none

add preferred workflow to GEMINI file
  GEMINI.md
Due: none

bugfix: Fix Apigee organization properties assignments (#3817)
  modules/apigee/main.tf
Due: cff-readme, duplicate-diff

Refactor agent documentation and establish core guidelines (#3820)
  .agents/rules/context-interpolation.md
  .agents/rules/dev-workflow.md
  .agents/rules/fast-factory-driven.md
  .agents/rules/style-guide.md
  .agents/rules/testing-guidelines.md
  FACTORIES.md
  GEMINI.md
Due: none

fix(workstation-cluster): allow private_cluster_config to be null
  modules/workstation-cluster/README.md
  modules/workstation-cluster/variables.tf
  tests/modules/workstation_cluster/context.yaml
  tests/modules/workstation_cluster/examples/custom-image.yaml
  tests/modules/workstation_cluster/examples/iam.yaml
  tests/modules/workstation_cluster/examples/simple.yaml
Due: cff-readme, duplicate-diff

feat(cloud-function-v2): add support for max_instance_request_concurrency
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme, duplicate-diff

tfdoc
  fast/stages/2-networking/README.md
Due: cff-readme, check-names

initial version of a FAST pre-install skill
  .agents/skills/fast-0-org-setup-prereqs/SKILL.md
Due: none

org cleaner go tool
  tools/fast-cleaner/README.md
  tools/fast-cleaner/api/client.go
  tools/fast-cleaner/api/compute.go
  tools/fast-cleaner/api/crm.go
  tools/fast-cleaner/api/iam.go
  tools/fast-cleaner/api/liens.go
  tools/fast-cleaner/api/lro.go
  tools/fast-cleaner/api/org_sinks.go
  tools/fast-cleaner/api/orgpolicy.go
  tools/fast-cleaner/api/tags.go
  tools/fast-cleaner/api/tags_definition.go
  tools/fast-cleaner/discovery/discovery.go
  tools/fast-cleaner/execution/execution.go
  tools/fast-cleaner/go.mod
  tools/fast-cleaner/go.sum
  tools/fast-cleaner/main.go
Due: none

chore(terraform): add github topics to generated repositories
  fast/extras/0-cicd-github/main.tf
Due: cff-readme, check-names, duplicate-diff

Fix firewall policy deletion order and associations in fast-cleaner
  tools/fast-cleaner/discovery/discovery.go
  tools/fast-cleaner/execution/execution.go
  tools/fast-cleaner/main.go
Due: none

Fix asynchronous tag deletion race condition in fast-cleaner
  tools/fast-cleaner/api/tags_definition.go
  tools/fast-cleaner/execution/execution.go
Due: none

fix(workstation-cluster): allow private_cluster_config to be null (#3821)
  modules/workstation-cluster/README.md
  modules/workstation-cluster/variables.tf
  tests/modules/workstation_cluster/context.yaml
  tests/modules/workstation_cluster/examples/custom-image.yaml
  tests/modules/workstation_cluster/examples/iam.yaml
  tests/modules/workstation_cluster/examples/simple.yaml
Due: cff-readme, duplicate-diff

fix(fast-cleaner): wait for compute operations when deleting firewall policies
  tools/fast-cleaner/api/compute.go
  tools/fast-cleaner/api/crm.go
  tools/fast-cleaner/api/iam.go
  tools/fast-cleaner/api/lro.go
  tools/fast-cleaner/api/tags.go
Due: none

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
