Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

net-vpc subnets
  modules/net-vpc/README.md
  modules/net-vpc/schemas/subnet.schema.json
Due: cff-readme

rename step
  .github/workflows/tests.yml
Due: none

Add schema testing to PR workflow
  .github/workflows/tests.yml
  tests/collectors.py
Due: none

fix yaml again
  .github/workflows/tests.yml
Due: none

Fix yaml
  .github/workflows/tests.yml
Due: none

Fix yaml syntax
  .github/workflows/tests.yml
Due: none

Fix fas
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
Due: cff-readme

ensure dns_keys output freshness (#2495)
  modules/dns/main.tf
Due: cff-readme

[fix] Fixes errors in certificate-authority-service module (#2493)
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
Due: cff-readme

ensure dns_keys output freshness (#7)
  modules/dns/main.tf
Due: cff-readme

[fix] certificate authority service returning bad pool id
  modules/certificate-authority-service/main.tf
Due: cff-readme

[fix] certificate authority service returning bad pool id (#2496)
  modules/certificate-authority-service/main.tf
Due: cff-readme

Initial commit
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables.tf
Due: cff-readme, tflint-fast, check-names

More
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/outputs.tf
  fast/stages/2-security/variables.tf
Due: cff-readme, tflint-fast, check-names

Add outputs
  fast/stages/2-security/outputs.tf
Due: cff-readme, tflint-fast, check-names

Rename cas variable to cas_configs
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/variables.tf
Due: cff-readme, tflint-fast, check-names

Update stage-2 security; delegate iam permissions to sa in resman
  fast/stages/1-resman/branch-security.tf
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/variables.tf
Due: cff-readme, tflint-fast, check-names

net vpc firewall factory schema
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-a-simple/schemas/firewall-rules.schema.json
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-b-nva/schemas/firewall-rules.schema.json
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/schemas/firewall-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Due: cff-readme, check-names

tfdoc
  modules/net-vpc-firewall/README.md
Due: cff-readme

net vpc firewall factory schema (#2497)
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-a-simple/schemas/firewall-rules.schema.json
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-b-nva/schemas/firewall-rules.schema.json
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/schemas/firewall-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Due: cff-readme, check-names

dns rpz factory schema
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-simple/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/variables.tf
Due: cff-readme, check-names

dns rpz factory schema (#2498)
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-simple/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/variables.tf
Due: cff-readme, check-names

update changelog
  CHANGELOG.md
Due: none

firewall policy module schema
  fast/stages/3-network-security/data/firewall-policy-rules/dev/egress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/dev/ingress.yaml
  fast/stages/3-network-security/schemas/firewall-policy-rules.schema.json
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/schemas/firewall-policy-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Due: cff-readme, check-names

firewall policy module schema (#2499)
  fast/stages/3-network-security/data/firewall-policy-rules/dev/egress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/dev/ingress.yaml
  fast/stages/3-network-security/schemas/firewall-policy-rules.schema.json
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/schemas/firewall-policy-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Due: cff-readme, check-names

update id and project_id outputs for project module
  modules/project/outputs.tf
Due: cff-readme

terraform fmt
  modules/project/outputs.tf
Due: cff-readme

remove unneeded null
  modules/net-lb-ext/variables.tf
Due: cff-readme

Revert windows style slashes in readme
  modules/net-lb-ext/README.md
Due: cff-readme

Fix more null checks
  modules/net-lb-ext/variables.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme

Fix unneeded null checks in net-lb-int
  modules/net-lb-int/variables.tf
Due: cff-readme

Change override_name back to name in the rest of the locations, bgppeer, tunnel and interface names
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme

Fix linter
  modules/net-vpn-ha/variables.tf
Due: cff-readme

Update READMEs
  modules/net-lb-ext/README.md
  modules/net-lb-int/README.md
  modules/net-vpn-ha/README.md
Due: cff-readme

Add name overrides for Internal and External Load Balancers (#2420)
  modules/net-lb-ext/README.md
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/main.tf
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme

Fix blueprints
  blueprints/apigee/apigee-x-foundations/main.tf
  blueprints/apigee/apigee-x-foundations/variables.tf
  blueprints/gke/patterns/kong-cloudrun/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-microservices/main.tf
Due: validate_metadata

Update apigee blueprint readme
  blueprints/apigee/apigee-x-foundations/README.md
Due: validate_metadata
