Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

tfdoc
  modules/gke-cluster-standard/README.md
Due: cff-readme

autopilot
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/basic.yaml
Due: cff-readme

blueprints
  blueprints/gke/autopilot/cluster.tf
  blueprints/gke/patterns/autopilot-cluster/cluster.tf
  blueprints/secops/secops-gke-forwarder/main.tf
Due: validate_metadata

tfdoc
  fast/stages/3-gke-dev/README.md
Due: cff-readme, check-names

gke hub module examples
  modules/gke-hub/README.md
  tests/modules/gke_hub/examples/full.yaml
Due: cff-readme

dataproc and gke fixture
  modules/dataproc/README.md
  modules/dataproc/variables.tf
  tests/fixtures/gke-cluster-standard.tf
Due: cff-readme

Update default-versions.tf
  default-versions.tf
Due: versions

ignore ssl certificates if none are passed in net-lb-app-int module
  modules/net-lb-app-int/main.tf
Due: cff-readme

ignore ssl certificates if none are passed in net-lb-app-int module (#2764)
  modules/net-lb-app-int/main.tf
Due: cff-readme

Refactor GKE cluster modules access configurations, add support for DNS endpoint (#2761)
  blueprints/apigee/hybrid-gke/gke.tf
  blueprints/gke/autopilot/cluster.tf
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/gke/patterns/autopilot-cluster/cluster.tf
  blueprints/networking/shared-vpc-gke/README.md
  blueprints/networking/shared-vpc-gke/main.tf
  blueprints/networking/shared-vpc-gke/variables.tf
  blueprints/secops/secops-gke-forwarder/main.tf
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/gke-clusters.tf
  fast/stages/3-gke-dev/variables.tf
  modules/dataproc/README.md
  modules/dataproc/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/outputs.tf
  modules/gke-cluster-standard/variables.tf
  modules/gke-hub/README.md
  tests/fixtures/gke-cluster-standard.tf
  tests/modules/gke_cluster_autopilot/examples/basic.yaml
  tests/modules/gke_cluster_standard/examples/access-private.yaml
  tests/modules/gke_cluster_standard/examples/access-public.yaml
  tests/modules/gke_cluster_standard/examples/basic.yaml
  tests/modules/gke_cluster_standard/examples/regional.yaml
  tests/modules/gke_hub/examples/full.yaml
Due: cff-readme, tflint-fast, validate_metadata, check-names

update changelog
  CHANGELOG.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Remove lint errors
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Update issue templates (#2765)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

better org replacement in iam tool
  tools/state_iam.py
Due: none

allow optional creation of billing resources in FAST boostrap stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

allow optional creation of billing resources in FAST boostrap stage (#2766)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

fix workspace logs sink in FAST bootstrap stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

fix workspace logs sink in FAST bootstrap stage (#2767)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

support customizable resource names in FAST stage 0
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

tflint
  fast/stages/0-bootstrap/main.tf
Due: cff-readme, tflint-fast, check-names

remove comment
  fast/stages/0-bootstrap/automation.tf
Due: cff-readme, tflint-fast, check-names

use object type
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

bump tf version
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: none

tf version in ci
  .github/workflows/tests.yml
Due: none

trigger workflow
  .github/workflows/tests.yml
Due: none

add support for resource names to fast stage 1
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/stage-2-network-security.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/stage-cicd.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

tflint version
  .github/workflows/linting.yml
Due: none

Support customizable resource names to fast stage 1 (#2769)
  .github/workflows/linting.yml
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/stage-2-network-security.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/stage-cicd.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix for perma-diff when using PSC NEGs.
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-proxy-int/main.tf
Due: cff-readme

[FAST] Remove unused stage 1 CICD variables
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names
