Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

feat: add support for SCC Custom Security Health Analytics module in organization, folder and project modules
  modules/folder/README.md
  modules/folder/outputs.tf
  modules/folder/scc-sha-custom-modules.tf
  modules/folder/schemas/scc-sha-custom-modules.schema.json
  modules/folder/schemas/scc-sha-custom-modules.schema.md
  modules/folder/variables-scc.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/outputs.tf
  modules/organization/scc-sha-custom-modules.tf
  modules/organization/schemas/scc-sha-custom-modules.schema.json
  modules/organization/schemas/scc-sha-custom-modules.schema.md
  modules/organization/variables-scc.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/alerts.tf
  modules/project/logging-metrics.tf
  modules/project/outputs.tf
  modules/project/scc-sha-custom-modules.tf
  modules/project/schemas/scc-sha-custom-modules.schema.json
  modules/project/schemas/scc-sha-custom-modules.schema.md
  modules/project/variables-scc.tf
  modules/project/variables.tf
  tests/modules/folder/examples/custom-modules-sha.yaml
  tests/modules/organization/examples/custom-modules-sha.yaml
  tests/modules/project/examples/custom-modules-sha.yaml
Due: cff-readme

Test VMs (to be deleted)
  fast/stages/2-networking/TODO.md
  fast/stages/2-networking/_factory-testvms.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/dns/zones/net-core-0/peer-root.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/dns/zones/net-core-0/pvt-test.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/ncc-hubs/prod-hub.yaml
Due: cff-readme, tflint-fast, check-names

Adding support for managed connection pooling in CloudSQL (#3365)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme

fix: update description and docs
  modules/folder/README.md
  modules/folder/outputs.tf
  modules/project/README.md
  modules/project/outputs.tf
Due: cff-readme

Checkpoint
  fast/stages/2-networking/TODO.md
  fast/stages/2-networking/factory-projects.tf
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/firewall-policies/network-policies.yaml
Due: cff-readme, tflint-fast, check-names

feat: add support for SCC Custom Security Health Analytics module in … (#3372)
  modules/folder/README.md
  modules/folder/outputs.tf
  modules/folder/scc-sha-custom-modules.tf
  modules/folder/schemas/scc-sha-custom-modules.schema.json
  modules/folder/schemas/scc-sha-custom-modules.schema.md
  modules/folder/variables-scc.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/outputs.tf
  modules/organization/scc-sha-custom-modules.tf
  modules/organization/schemas/scc-sha-custom-modules.schema.json
  modules/organization/schemas/scc-sha-custom-modules.schema.md
  modules/organization/variables-scc.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/alerts.tf
  modules/project/logging-metrics.tf
  modules/project/outputs.tf
  modules/project/scc-sha-custom-modules.tf
  modules/project/schemas/scc-sha-custom-modules.schema.json
  modules/project/schemas/scc-sha-custom-modules.schema.md
  modules/project/variables-scc.tf
  modules/project/variables.tf
  tests/modules/folder/examples/custom-modules-sha.yaml
  tests/modules/organization/examples/custom-modules-sha.yaml
  tests/modules/project/examples/custom-modules-sha.yaml
Due: cff-readme

README
  fast/stages/2-project-factory/README.md
Due: cff-readme, check-names

Update fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/README.md
Due: cff-readme, check-names

reword doc
  fast/stages/2-project-factory/README.md
Due: cff-readme, check-names

Add support for output files to FAST project factory stage (#3373)
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/assets/providers.tf.tpl
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/output-files-storage.tf
  fast/stages/2-project-factory/output-files.tf
  fast/stages/2-project-factory/schemas/defaults.schema.json
Due: cff-readme, tflint-fast, check-names

Checkpoint
  fast/stages/2-networking/factory-firewall-policies.tf
  fast/stages/2-networking/factory-projects.tf
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/firewall-policies/network-policies.yaml
  fast/stages/2-networking/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

Fix VPC-SC admin-approval typo
  modules/vpc-sc/access-levels.tf
Due: cff-readme

Fix admin_approval field access in VPC-SC module
  modules/vpc-sc/access-levels.tf
Due: cff-readme

Fix admin_approval field access in VPC-SC module (#3374)
  modules/vpc-sc/access-levels.tf
Due: cff-readme

fix service account module datasource when universe is set
  modules/iam-service-account/main.tf
Due: cff-readme

fix service account module datasource when universe is set (#3375)
  modules/iam-service-account/main.tf
Due: cff-readme

allow project id with universe prefix in project module
  modules/project/main.tf
Due: cff-readme

allow project id with universe prefix in project module (#3376)
  modules/project/main.tf
Due: cff-readme

feat: add optional schema to BigQuery views for descriptions
  modules/bigquery-dataset/main.tf
Due: cff-readme

feat: add schema support for view definitions in BigQuery dataset module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/variables.tf
Due: cff-readme

changelog
  CHANGELOG.md
Due: none

allow forcing jit service agents generation for universe
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/project.schema.json
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/service-agents.tf
  modules/project/variables.tf
Due: cff-readme, check-names

allow FAST stage 0 provider template to work with universe
  fast/stages/0-org-setup/assets/providers.tf.tpl
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/schemas/defaults.schema.json
Due: cff-readme, tflint-fast, check-names

allow forcing jit service agents generation for universe (#3378)
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/project.schema.json
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/service-agents.tf
  modules/project/variables.tf
Due: cff-readme, check-names

fix inventory
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: none

fix: encode schema as JSON for BigQuery views
  modules/bigquery-dataset/main.tf
Due: cff-readme

allow FAST stage 0 provider template to work with universe (#3379)
  fast/stages/0-org-setup/assets/providers.tf.tpl
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/schemas/defaults.schema.json
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: cff-readme, tflint-fast, check-names

lightly refactor project module service agent locals
  modules/project/cmek.tf
  modules/project/main.tf
  modules/project/service-agents.tf
Due: cff-readme

remove debug block
  modules/project/service-agents.tf
Due: cff-readme

tfdoc
  modules/project/README.md
Due: cff-readme

revert templatestring to format for universe kms
  modules/project/service-agents.tf
Due: cff-readme

Fix typo in fast stage 0 provider template
  fast/stages/0-org-setup/assets/providers.tf.tpl
Due: tflint-fast, check-names

reinstate moved block
  modules/project/service-agents.tf
Due: cff-readme

Lightly refactor service agents locals in project module (#3380)
  modules/project/README.md
  modules/project/cmek.tf
  modules/project/main.tf
  modules/project/service-agents.tf
Due: cff-readme

Fix typo in fast stage 0 provider template (#3381)
  fast/stages/0-org-setup/assets/providers.tf.tpl
Due: tflint-fast, check-names

Delete fast/stages/2-security/data/folders/main.tf
  fast/stages/2-security/data/folders/main.tf
Due: cff-readme, tflint-fast, check-names

add support for universe to fast security stage
  fast/stages/2-security/factory-projects.tf
  fast/stages/2-security/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/2-security/README.md
Due: cff-readme, check-names

support universe in fast security stage
  fast/stages/2-security/README.md
  fast/stages/2-security/factory-projects.tf
  fast/stages/2-security/variables-fast.tf
Due: cff-readme, tflint-fast, check-names
