Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Update documentation and wording
  fast/stages/0-org-setup/datasets/hardened/README.md
  fast/stages/0-org-setup/datasets/hardened/organization/observability/binaryAuthorizationPolicyChanges.yaml
Due: cff-readme, check-names, duplicate-diff

Add explanation on disableSerialPortLogging disablement
  fast/stages/3-gke-dev/main.tf
Due: cff-readme, check-names, duplicate-diff

Configure ADMIN_READ for sts.googleapis.com to enable Workforce Identity logging (#3545)
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

Fix org policy service to be enabled before organization policies applied (#3547)
  modules/project/main.tf
  modules/project/organization-policies.tf
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
Due: cff-readme, duplicate-diff

Add commented data_read and data_write
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
Due: check-names, duplicate-diff

wip
  fast/project-templates/container-ocp-ipi/README.md
Due: cff-readme, check-names

iam principalsets
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/pam.tf
  modules/organization/main.tf
  modules/project-factory/README.md
  modules/project/README.md
  modules/project/iam.tf
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
Due: cff-readme, duplicate-diff

fix folder
  modules/folder/iam.tf
Due: cff-readme, duplicate-diff

add custom roles to factory condition vars in stage 0
  fast/stages/0-org-setup/factory.tf
Due: cff-readme, check-names, duplicate-diff

project shared vpc IAM
  modules/project/shared-vpc.tf
Due: cff-readme, duplicate-diff

Update service-agents.yaml
  modules/project/service-agents.yaml
  tests/modules/looker_core/examples/full.yaml
  tests/modules/looker_core/examples/psa.yaml
Due: duplicate-diff

Context improvements: "all service accounts" principal in folder, org, project modules; custom roles in factory condition vars for FAST stage 0 (#3548)
  fast/stages/0-org-setup/factory.tf
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/pam.tf
  modules/organization/main.tf
  modules/project-factory/README.md
  modules/project/README.md
  modules/project/iam.tf
  modules/project/shared-vpc.tf
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
Due: cff-readme, check-names, duplicate-diff

add default routes / delete default
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

add default routes / delete default (#3549)
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

update changelog
  CHANGELOG.md
Due: none

service agent editor role
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
Due: cff-readme, duplicate-diff

add internal project ids to context replacement for projects in project factory module
  modules/project-factory/projects.tf
Due: cff-readme, duplicate-diff

Auto-grant editor role for cloudservices in project module, expand project ids context in project factory module (#3552)
  modules/project-factory/projects.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
Due: cff-readme, duplicate-diff

Migrate to iam.managed.allowedPolicyMembers Organizational Policy to allow PrincipalSets configuration for Workforce identity use-cases
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/iam.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

Keep iam.managed.allowedPolicyMembers implementation as comment only
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/iam.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

re-enable project billing association in project factory, extends to folder
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/billing-account/README.md
  modules/billing-account/budgets.tf
  modules/billing-account/factory.tf
  modules/billing-account/variables.tf
  modules/project-factory/budgets.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/folder.schema.json
Due: cff-readme, check-names, duplicate-diff

inventory
  tests/modules/project_factory/examples/example.yaml
Due: duplicate-diff

re-enable project billing association in project factory, extends to folder (#3554)
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/billing-account/README.md
  modules/billing-account/budgets.tf
  modules/billing-account/factory.tf
  modules/billing-account/variables.tf
  modules/project-factory/budgets.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/folder.schema.json
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Fixed project level billing budget filter
  modules/billing-account/README.md
  modules/billing-account/budgets.tf
  modules/billing-account/variables.tf
  modules/project-factory/budgets.tf
Due: cff-readme, duplicate-diff

fix: wip
  modules/project-factory/projects.tf
Due: cff-readme, duplicate-diff

fix: wip
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

fix
  modules/project-factory/projects.tf
Due: cff-readme, duplicate-diff

fix
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: duplicate-diff

Add support for CMEK in logging bucket, big query dataset and gke notifications
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  modules/logging-bucket/README.md
  modules/logging-bucket/main.tf
  modules/logging-bucket/variables.tf
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/variables-projects.tf
  modules/project/cmek.tf
Due: cff-readme, duplicate-diff

Added PSC connection id to outputs, which is required, for instance for redis cluster, to register PSC connections
  modules/net-address/README.md
  modules/net-address/outputs.tf
Due: cff-readme, duplicate-diff

Align locations in networking stage with other stages
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/nvas/main.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/defaults.yaml
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

Added PSC connection id to outputs, which is required, for instance for redis cluster, to register PSC connections (#3560)
  modules/net-address/README.md
  modules/net-address/outputs.tf
Due: cff-readme, duplicate-diff

Add test for bigquery dataset with cmek context
  tests/modules/bigquery_dataset/context.tfvars
  tests/modules/bigquery_dataset/context.yaml
Due: duplicate-diff

Updates to add secret_sync to GKE module in CFF
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme, duplicate-diff

updated READMEs against the python tfdoc command
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-standard/README.md
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
