Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

new swp interface and factory
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/outputs.tf
  modules/net-swp/policy-rules.tf
  modules/net-swp/variables.tf
  tests/modules/net_swp/examples/basic.yaml
  tests/modules/net_swp/examples/psc.yaml
  tests/modules/net_swp/examples/rules.yaml
  tests/modules/net_swp/examples/tls-no-ip.yaml
  tests/modules/net_swp/examples/tls.yaml
Due: cff-readme

outputs
  modules/net-swp/README.md
  modules/net-swp/outputs.tf
Due: cff-readme

tests and fixes
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/policy-rules.tf
  modules/net-swp/schemas/policy-rule.schema.json
  modules/net-swp/schemas/url-list.schema.json
  tests/modules/net_swp/examples/factories.yaml
Due: cff-readme

SWP module refactor (#2737)
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/outputs.tf
  modules/net-swp/policy-rules.tf
  modules/net-swp/schemas/policy-rule.schema.json
  modules/net-swp/schemas/url-list.schema.json
  modules/net-swp/variables.tf
  tests/modules/net_swp/examples/basic.yaml
  tests/modules/net_swp/examples/factories.yaml
  tests/modules/net_swp/examples/psc.yaml
  tests/modules/net_swp/examples/tls-no-ip.yaml
  tests/modules/net_swp/examples/tls.yaml
Due: cff-readme

Add basename to SWP policy rules factory
  modules/net-swp/policy-rules.tf
Due: cff-readme

Add basename to SWP policy rules factory (#2739)
  modules/net-swp/policy-rules.tf
Due: cff-readme

manage switchover
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/tags.tf
  modules/alloydb/variables.tf
Due: cff-readme

manage switchover (#2738)
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/tags.tf
  modules/alloydb/variables.tf
Due: cff-readme

tfdoc
  modules/gke-nodepool/README.md
Due: cff-readme

Allow override of GKE Nodepool SA Display Name (#2734)
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: cff-readme

update changelog
  CHANGELOG.md
  tools/changelog.py
Due: none

update changelog
  CHANGELOG.md
Due: none

add support for password validation policy to cloudsql module
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme

add secret manager config to gke cluster
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

fix variable default
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Add support for secret manager config to gke cluster modules (#2741)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

fix parent id lookup for networking and security stages
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme, tflint-fast, check-names

fix parent id lookup for networking and security stages (#2744)
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme, tflint-fast, check-names

Add ability to optionally generate MD5 secrets in VPN module
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/outputs.tf
Due: cff-readme

Correct Display Name
  modules/project/api_metrics_alerts.tf
Due: cff-readme

Add Default API Alerts
  modules/project/README.md
  modules/project/api_metrics_alerts.tf
  modules/project/variables.tf
Due: cff-readme

Correct Display
  modules/project/README.md
Due: cff-readme

Restructure Variable
  modules/project/README.md
  modules/project/api_metrics_alerts.tf
  modules/project/variables.tf
Due: cff-readme

Add ability to autogenerate MD5 keys in net-vpn-ha module
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/outputs.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_ha/examples/ipv6.yaml
Due: cff-readme

Restructure Variable
  modules/project/api_metrics_alerts.tf
Due: cff-readme

Correct Documentation
  modules/project/README.md
Due: cff-readme

Correct Documentation
  modules/project/README.md
  modules/project/variables.tf
Due: cff-readme

Add optional automated MD5 generation to net-vlan-attachment module
  blueprints/networking/ha-vpn-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/outputs.tf
  modules/net-vlan-attachment/variables.tf
Due: cff-readme, validate_metadata

Add optional automated MD5 generation in net-vlan-attachment module (#2745)
  blueprints/networking/ha-vpn-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/outputs.tf
  modules/net-vlan-attachment/variables.tf
Due: cff-readme, validate_metadata

restore missing output
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/outputs.tf
Due: cff-readme

fix test counts
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/networking/private-cloud-function-from-onprem/README.md
  blueprints/networking/vpc-connectivity-lab/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
Due: validate_metadata

Add ability to autogenerate md5 keys in net-vpn-ha (#2748)
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/networking/private-cloud-function-from-onprem/README.md
  blueprints/networking/vpc-connectivity-lab/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/outputs.tf
  modules/net-vpn-ha/variables.tf
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_ha/examples/ipv6.yaml
Due: cff-readme, validate_metadata

add disk encyption key to the google_compute_instance_template
  modules/compute-vm/main.tf
Due: cff-readme

add a condition to the kms_key_self_link
  get-pip.py
  modules/compute-vm/main.tf
Due: cff-readme

use dynamic variable for disk_encryption_key
  modules/compute-vm/main.tf
Due: cff-readme

remove the getpip from the repo
  get-pip.py
Due: none

WIP: Logging Alerts Factory
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/data/logging-alerts/compliance-alerts.yaml
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/terraform.tfvars.sample
  fast/stages/0-bootstrap/variables.tf
  modules/project/alert-metrics.tf
  modules/project/variables-metrics-alerts.tf
  modules/project/variables.tf
Due: cff-readme, tflint-fast, check-names
