Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

[FAST] Rename netsec stage to nsec (#2482)
  fast/stage-links.sh
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-nsec.tf
  fast/stages/1-resman/cicd-netsec.tf
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/3-network-security/README.md
Due: cff-readme, tflint-fast, check-names

Add boostrap output with log destination ids (#2483)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: cff-readme, tflint-fast, check-names

folder and project schemas
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/project.schema.json
Due: none

budget schema
  .gitignore
  .vscode/settings.json
  modules/project-factory/schemas/budget.schema.json
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/project.schema.json
Due: none

Project factory module JSON schemas (#2485)
  .gitignore
  .vscode/settings.json
  modules/project-factory/schemas/budget.schema.json
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/project.schema.json
Due: none

Fix failing tests for CloudSQL
  modules/cloudsql-instance/README.md
Due: cff-readme

Use namedtuple
  tests/examples/conftest.py
  tests/examples/test_plan.py
Due: none

Update tfdoc
  tools/tfdoc.py
Due: none

Move away from regexps to parse tftest directives
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples_e2e/test_plan.py
Due: none

Make modules and resources optional in tftest directive
  tests/examples/test_plan.py
Due: none

Move get_tftest_directive to a separate file
  tests/examples/conftest.py
  tests/examples/utils.py
  tests/examples_e2e/test_plan.py
  tools/tfdoc.py
Due: none

Fix imports
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples_e2e/conftest.py
  tests/examples_e2e/test_plan.py
Due: none

Fix e2e tests
  tests/examples_e2e/test_plan.py
Due: none

example testing improvements (#2487)
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/utils.py
  tests/examples_e2e/conftest.py
  tests/examples_e2e/test_plan.py
  tools/tfdoc.py
Due: none

Add schema key to yaml examples
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/vpc-sc/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/utils.py
Due: cff-readme

Update testing requirements
  tests/requirements.txt
Due: none

update changelog
  CHANGELOG.md
Due: none

Introduce YAML schema validation for YAML examples (#2488)
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/vpc-sc/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/utils.py
  tests/requirements.txt
Due: cff-readme

Extend test collector to include yaml files in tests/schemas/
  modules/vpc-sc/schemas/access-level.schema.json
  tests/collectors.py
  tests/schemas/vpc-sc/fail-access-level-invalid-member-prefix.yaml
  tests/schemas/vpc-sc/fail-access-level-no-member-prefix.yaml
  tests/schemas/vpc-sc/pass-access-level-member-prefix.yaml
Due: none

Silence linter
  tests/schemas/vpc-sc/fail-access-level-invalid-member-prefix.yaml
  tests/schemas/vpc-sc/fail-access-level-no-member-prefix.yaml
  tests/schemas/vpc-sc/pass-access-level-member-prefix.yaml
Due: none

Simplify yaml schema test names
  tests/collectors.py
Due: none

Vaidate FAST data files schema
  tests/collectors.py
Due: none

Bind schemas to factory files, add support for groups in VPC-SC schema
  .vscode/settings.json
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/ingress-policy.schema.json
Due: none

Extend test collector to include yaml files under tests/schemas/ and fast data files (#2489)
  modules/vpc-sc/schemas/access-level.schema.json
  tests/collectors.py
  tests/schemas/vpc-sc/fail-access-level-invalid-member-prefix.yaml
  tests/schemas/vpc-sc/fail-access-level-no-member-prefix.yaml
  tests/schemas/vpc-sc/pass-access-level-member-prefix.yaml
Due: none

Add IAM member prefix validation to variables.tf
  .vscode/settings.json
  modules/vpc-sc/README.md
  modules/vpc-sc/variables.tf
Due: cff-readme

organization module factory schemas
  .vscode/settings.json
  fast/stages/0-bootstrap/data/custom-roles/gcve_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_iam_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/service_project_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tag_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tenant_network_admin.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  modules/organization/README.md
  modules/organization/schemas/custom-role.schema.json
  modules/organization/schemas/org-policies.schema.json
  modules/organization/schemas/org-policy-custom-constraint.schema.json
  modules/project/README.md
Due: cff-readme, check-names

organization module factory schemas (#2491)
  .vscode/settings.json
  fast/stages/0-bootstrap/data/custom-roles/gcve_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_iam_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/service_project_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tag_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tenant_network_admin.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  modules/organization/README.md
  modules/organization/schemas/custom-role.schema.json
  modules/organization/schemas/org-policies.schema.json
  modules/organization/schemas/org-policy-custom-constraint.schema.json
  modules/project/README.md
Due: cff-readme, check-names

Add schema testing to PR workflow
  .github/workflows/tests.yml
  tests/collectors.py
Due: none

Fix yaml syntax
  .github/workflows/tests.yml
Due: none

Fix yaml
  .github/workflows/tests.yml
Due: none

fix yaml again
  .github/workflows/tests.yml
Due: none

rename step
  .github/workflows/tests.yml
Due: none

[fix] CAS - associate to correct pool id
  modules/certificate-authority-service/main.tf
Due: cff-readme

resman modules
  modules/folder/README.md
  modules/folder/schemas/org-policies.schema.json
  modules/project/README.md
  modules/project/schemas/custom-role.schema.json
  modules/project/schemas/org-policies.schema.json
  modules/project/schemas/quotas.schema.json
Due: cff-readme

billing account
  modules/billing-account/README.md
  modules/billing-account/schemas/budget.schema.json
  modules/project-factory/schemas/budget.schema.json
Due: cff-readme

ensure dns_keys output freshness
  modules/dns/main.tf
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
