Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Add missing inventories
  tests/modules/gke_cluster_autopilot/examples/no-ip-access.yaml
  tests/modules/gke_cluster_standard/examples/no-ip-access.yaml
Due: none

Added variable for activating nat and implementation in google_apigee_net_address resource
  modules/apigee/main.tf
  modules/apigee/variables.tf
Due: cff-readme

Regenerated readme
  modules/apigee/README.md
Due: cff-readme

Added tests for nat & activation
  modules/apigee/main.tf
  tests/modules/apigee/test_apigee_nat_activate.tfvars
  tests/modules/apigee/test_apigee_nat_activate.yaml
  tests/modules/apigee/tftest.yaml
Due: cff-readme

Initial commit
  fast/stages/2-networking-factory/.fast-stage.env
  fast/stages/2-networking-factory/.gitignore
  fast/stages/2-networking-factory/NETFACTORY.md
  fast/stages/2-networking-factory/README.md
  fast/stages/2-networking-factory/data/firewall/dev-spoke/default-ingress.yaml
  fast/stages/2-networking-factory/data/networks/dev-spoke.yaml
  fast/stages/2-networking-factory/data/networks/hub.yaml
  fast/stages/2-networking-factory/data/networks/prod-spoke.yaml
  fast/stages/2-networking-factory/data/subnets/dev-spoke/dev-default.yaml
  fast/stages/2-networking-factory/main.tf
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/variables-fast.tf
  fast/stages/2-networking-factory/variables.tf
  fast/stages/2-networking-factory/vpc-factory.tf
Due: cff-readme, tflint-fast, check-names

Support for peerings
  fast/stages/2-networking-factory/data/networks/dev-spoke.yaml
  fast/stages/2-networking-factory/data/networks/hub.yaml
  fast/stages/2-networking-factory/data/networks/prod-spoke.yaml
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/vpc-factory.tf
Due: cff-readme, tflint-fast, check-names

Preliminary NCC support
  fast/stages/2-networking-factory/.fast-stage.env
  fast/stages/2-networking-factory/_experimental/main.py
  fast/stages/2-networking-factory/_experimental/network_diagram.md
  fast/stages/2-networking-factory/data/ncc-hubs/ncc-hub.yaml
  fast/stages/2-networking-factory/data/networks/test-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/prod-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/prod-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/prod-spoke.yaml
  fast/stages/2-networking-factory/ncc-factory.tf
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/vpc-factory.tf
Due: cff-readme, tflint-fast, check-names

Moving code to a module
  modules/net-vpc-factory/examples/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-peerings/net-dev-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-peerings/net-prod-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/examples/hub-and-spoke-vpns/net-prod-01.yaml
  modules/net-vpc-factory/examples/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/examples/separate-envs/net-land-01.yaml
  modules/net-vpc-factory/examples/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/factory-connectivity.tf
  modules/net-vpc-factory/factory-dns.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-projects.tf
  modules/net-vpc-factory/factory-vpcs.tf
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/variables.tf
Due: cff-readme

Cleanup
  fast/stages/2-networking-factory/data/ncc-hubs/ncc-hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/factory-projects.tf
  fast/stages/2-networking-factory/factory-vpcs.tf
  fast/stages/2-networking-factory/main.tf
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/variables-fast.tf
  fast/stages/2-networking-factory/variables.tf
Due: cff-readme, tflint-fast, check-names

Preliminary NCC groups support
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  fast/stages/2-networking-factory/factory-dns.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/variables-factory.tf
Due: cff-readme, tflint-fast, check-names

Add support for NCC VPN spokes
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  fast/stages/2-networking-factory/factory-ncc.tf
Due: cff-readme, tflint-fast, check-names

Fixes
  fast/stages/2-networking-factory/data/recipes/separate-envs/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/separate-envs/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/separate-envs/net-prod-01.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/factory-projects.tf
  fast/stages/2-networking-factory/factory-vpcs.tf
Due: cff-readme, tflint-fast, check-names

Better support for NCC VPN spokes
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/factory-ncc.tf
Due: cff-readme, tflint-fast, check-names

CR creation
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/variables-factory.tf
Due: cff-readme, tflint-fast, check-names

More NCC groups
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  fast/stages/2-networking-factory/factory-ncc.tf
Due: cff-readme, tflint-fast, check-names

Updates NCC recipe
  fast/stages/2-networking-factory/_experimental/main.py
  fast/stages/2-networking-factory/_experimental/network_diagram.md
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/prod-spoke.yaml
Due: check-names

preliminary dns support
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/factory-dns.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/factory-projects.tf
  fast/stages/2-networking-factory/factory-vpcs.tf
  fast/stages/2-networking-factory/main.tf
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/variables-fast.tf
  fast/stages/2-networking-factory/variables.tf
Due: cff-readme, tflint-fast, check-names

more dns
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  fast/stages/2-networking-factory/factory-dns.tf
Due: cff-readme, tflint-fast, check-names

Removed experimental diagramming tool
  fast/stages/2-networking-factory/_experimental/main.py
  fast/stages/2-networking-factory/_experimental/network_diagram.md
  fast/stages/2-networking-factory/data/firewall/hub/default-ingress.yaml
  fast/stages/2-networking-factory/data/firewall/prod-spoke/default-ingress.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  fast/stages/2-networking-factory/data/subnets/hub/hub-default.yaml
  fast/stages/2-networking-factory/data/subnets/prod-spoke/prod-default.yaml
Due: check-names

Factory now includes project creation and multiple VPCs
  fast/stages/2-networking-factory/NETFACTORY.md
  fast/stages/2-networking-factory/README.md
  fast/stages/2-networking-factory/_experimental/main.py
  fast/stages/2-networking-factory/_experimental/network_diagram.md
  fast/stages/2-networking-factory/data/networks/dev-spoke.yaml
  fast/stages/2-networking-factory/data/networks/hub.yaml
  fast/stages/2-networking-factory/data/networks/prod-spoke.yaml
  fast/stages/2-networking-factory/data/networks/test-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-peerings/prod-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-vpns/prod-spoke.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/factory-projects.tf
  fast/stages/2-networking-factory/factory-vpcs.tf
  fast/stages/2-networking-factory/main.tf
  fast/stages/2-networking-factory/ncc-factory.tf
  fast/stages/2-networking-factory/variables-factory.tf
  fast/stages/2-networking-factory/variables.tf
  fast/stages/2-networking-factory/vpc-factory.tf
Due: cff-readme, tflint-fast, check-names

Re-added support for NCC
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/dev-spoke.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/hub.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  fast/stages/2-networking-factory/data/recipes/hub-and-spoke-ncc/prod-spoke.yaml
  fast/stages/2-networking-factory/factory-connectivity.tf
  fast/stages/2-networking-factory/factory-ncc.tf
  fast/stages/2-networking-factory/factory-projects.tf
Due: cff-readme, tflint-fast, check-names

Example tests
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-vpc.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-land-01.yaml
  tests/modules/net-vpc-factory/tftest.yaml
Due: cff-readme

Cloud NAT support
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-connectivity.tf
  modules/net-vpc-factory/factory-nat.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-vpcs.tf
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-dev-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-land-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-prod-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/variables.tf
Due: cff-readme

Read who? read me
  modules/net-vpc-factory/README.md
Due: cff-readme

Some more README
  modules/net-vpc-factory/README.md
Due: cff-readme

DNS Readme
  modules/net-vpc-factory/README.md
Due: cff-readme

Data restored. Initial set of outputs.
  modules/net-vpc-factory/data/firewall/dev-spoke/default-ingress.yaml
  modules/net-vpc-factory/data/firewall/hub/default-ingress.yaml
  modules/net-vpc-factory/data/firewall/prod-spoke/default-ingress.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/separate-envs/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/data/subnets/dev-spoke/dev-default.yaml
  modules/net-vpc-factory/data/subnets/hub/hub-default.yaml
  modules/net-vpc-factory/data/subnets/prod-spoke/prod-default.yaml
  modules/net-vpc-factory/factory-dns.tf
  modules/net-vpc-factory/factory-nat.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-peering.tf
  modules/net-vpc-factory/factory-projects.tf
  modules/net-vpc-factory/factory-vpcs.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/outputs.tf
Due: cff-readme

Harmonised configs between recipes
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-prod-01.yaml
Due: none

Permadiff on routes to default
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peerings/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpns/net-prod-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-prod-01.yaml
Due: none

Fix tflint
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/variables.tf
Due: cff-readme

More docs
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-vpcs.tf
  modules/net-vpc-factory/variables.tf
Due: cff-readme

README stub, IAM love
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-peering.tf
  modules/net-vpc-factory/factory-projects.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/main.tf
Due: cff-readme

README
  modules/net-vpc-factory/README.md
  tools/check_documentation.py
Due: cff-readme

Fix TOC (thanks vscode)
  modules/net-vpc-factory/README.md
  tools/check_documentation.py
Due: cff-readme

Simplified examples
  modules/net-vpc-factory/README.md
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
