Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Fix typo in example
  modules/folder/README.md
Due: cff-readme

Fix typo in example (#3783)
  modules/folder/README.md
Due: cff-readme

First draft implementation
  modules/application-factory/PRD.md
  modules/application-factory/PROMPT.md
  modules/application-factory/artifact-registry.tf
  modules/application-factory/bigquery.tf
  modules/application-factory/cloudsql.tf
  modules/application-factory/compute-vm.tf
  modules/application-factory/gcs.tf
  modules/application-factory/main.tf
  modules/application-factory/net-lb-app-int.tf
  modules/application-factory/net-lb-int.tf
  modules/application-factory/outputs.tf
  modules/application-factory/pubsub.tf
  modules/application-factory/sample/artifact-registry/app-docker.yaml
  modules/application-factory/sample/bigquery/app-dataset.yaml
  modules/application-factory/sample/cloudsql/app-db.yaml
  modules/application-factory/sample/compute-vm/app-server.yaml
  modules/application-factory/sample/gcs/app-data.yaml
  modules/application-factory/sample/net-lb-app-int/app-http-lb.yaml
  modules/application-factory/sample/net-lb-int/app-lb.yaml
  modules/application-factory/sample/pubsub/app-events.yaml
  modules/application-factory/sample/secret-manager/app-secrets.yaml
  modules/application-factory/sample/service-accounts/app-sa.yaml
  modules/application-factory/sample/service-accounts/ci-sa.yaml
  modules/application-factory/schemas/artifact-registry.schema.json
  modules/application-factory/schemas/bigquery.schema.json
  modules/application-factory/schemas/cloudsql.schema.json
  modules/application-factory/schemas/compute-vm.schema.json
  modules/application-factory/schemas/gcs.schema.json
  modules/application-factory/schemas/net-lb-app-int.schema.json
  modules/application-factory/schemas/net-lb-int.schema.json
  modules/application-factory/schemas/pubsub.schema.json
  modules/application-factory/schemas/secret-manager.schema.json
  modules/application-factory/schemas/service-account.schema.json
  modules/application-factory/secret-manager.tf
  modules/application-factory/service-accounts.tf
  modules/application-factory/variables.tf
Due: cff-readme, duplicate-diff

artifact-registry
  modules/artifact-registry/README.md
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/context.tfvars
  tests/modules/artifact_registry/context.yaml
  tests/modules/artifact_registry/tftest.yaml
Due: cff-readme, duplicate-diff

net-lb-app-int
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/health-check.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/urlmap.tf
  modules/net-lb-app-int/variables.tf
  tests/modules/net_lb_app_int/context.tfvars
  tests/modules/net_lb_app_int/context.yaml
  tests/modules/net_lb_app_int/tftest.yaml
Due: cff-readme, duplicate-diff

copyright
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/context.yaml
Due: cff-readme, duplicate-diff

cloudsql
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/context.tfvars
  tests/modules/cloudsql_instance/context.yaml
  tests/modules/cloudsql_instance/tftest.yaml
Due: cff-readme, duplicate-diff

fix linting
  GEMINI.md
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

Add context support to artifact-registry, net-lb-app-int, cloudsql modules (#3784)
  GEMINI.md
  modules/artifact-registry/README.md
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/health-check.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/urlmap.tf
  modules/net-lb-app-int/variables.tf
  tests/modules/artifact_registry/context.tfvars
  tests/modules/artifact_registry/context.yaml
  tests/modules/artifact_registry/tftest.yaml
  tests/modules/cloudsql_instance/context.tfvars
  tests/modules/cloudsql_instance/context.yaml
  tests/modules/cloudsql_instance/tftest.yaml
  tests/modules/net_lb_app_int/context.tfvars
  tests/modules/net_lb_app_int/context.yaml
Due: cff-readme, duplicate-diff

Fix Cloud SQL E2E test
  modules/cloudsql-instance/README.md
Due: cff-readme

Add context support to vlan-attachments
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/variables.tf
  tests/modules/net-vlan-attachment/context.tfvars
  tests/modules/net-vlan-attachment/context.yaml
  tests/modules/net-vlan-attachment/tftest.yaml
Due: cff-readme, duplicate-diff

Dog ate a file
  tests/modules/net-vlan-attachment/context.yaml
Due: duplicate-diff

Align inventory
  tests/modules/net-vlan-attachment/context.yaml
Due: duplicate-diff

What a joy when tests are green locally
  tests/modules/net-vlan-attachment/context.yaml
Due: duplicate-diff

Add context support to vlan-attachments (#3787)
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/variables.tf
  tests/modules/net-vlan-attachment/context.tfvars
  tests/modules/net-vlan-attachment/context.yaml
  tests/modules/net-vlan-attachment/tftest.yaml
Due: cff-readme, duplicate-diff

net-vlan-attachments in 2-networking
  fast/stages/2-networking/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/factory-ncc.tf
  fast/stages/2-networking/factory-vlan-attachments.tf
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/vlan-attachments.schema.json
  fast/stages/2-networking/schemas/vlan-attachments.schema.md
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/nva.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: cff-readme, check-names, duplicate-diff

Add support for cipher suite configuration on net-vpn-ha module
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/examples/gcp-to-onprem-custom-ciphers.yaml
Due: cff-readme, duplicate-diff

per-vpc factories-config
  fast/stages/2-networking/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/factory-vlan-attachments.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/factory-vpns.tf
  fast/stages/2-networking/schemas/vpc.schema.json
  fast/stages/2-networking/schemas/vpc.schema.md
  modules/net-vpc-factory/main.tf
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/tftest.yaml
  tests/fast/stages/s2_networking/vlan_attachments.tfvars
  tests/fast/stages/s2_networking/vlan_attachments.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: cff-readme, check-names, duplicate-diff

Now with an actual dataset
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/main.tf
  tests/fast/stages/s2_networking/data-testvlan/README.md
  tests/fast/stages/s2_networking/data-testvlan/defaults.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/response-policies/net-core-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/fwd-root.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/peer-root.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/pvt-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-dev-0/pvt-dev-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-prod-0/pvt-prod-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/firewall-policies/networking-policy.yaml
  tests/fast/stages/s2_networking/data-testvlan/ncc-hubs/hub.yaml
  tests/fast/stages/s2_networking/data-testvlan/projects/net-core-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/projects/net-dev-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/projects/net-prod-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/firewall-rules/default-ingress.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/subnets/dev-default.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/subnets/hub-default.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-1.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vpns/onprem.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/firewall-rules/default-ingress.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/subnets/prod-default.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/subnets/prod-proxy.yaml
  tests/fast/stages/s2_networking/vlan_attachments.tfvars
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: cff-readme, check-names, duplicate-diff

Now the dataset I was supposed to use
  tests/fast/stages/s2_networking/data-testvlan/dns/response-policies/net-core-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/fwd-root.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/peer-root.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-core-0/pvt-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-dev-0/pvt-dev-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/dns/zones/net-prod-0/pvt-prod-test.yaml
  tests/fast/stages/s2_networking/data-testvlan/firewall-policies/networking-policy.yaml
  tests/fast/stages/s2_networking/data-testvlan/projects/net-dev-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/projects/net-prod-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/firewall-rules/default-ingress.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/dev/subnets/dev-default.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/firewall-rules/default-ingress.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/subnets/prod-default.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/prod/subnets/prod-proxy.yaml
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: duplicate-diff

No readmes in the test datasets ty
  tests/fast/stages/s2_networking/data-testvlan/README.md
Due: none

Never try to hand-craft YAML
  tests/modules/net_vpn_ha/examples/gcp-to-onprem-custom-ciphers.yaml
Due: duplicate-diff

Fixed tests, broky YAMLlint. Now fixed both.
  tests/modules/net_vpn_ha/examples/gcp-to-onprem-custom-ciphers.yaml
Due: duplicate-diff

Off by one (byte)
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: duplicate-diff

All fields of cipher_suite should be optional
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme, duplicate-diff

Fix inventory reference and tests for ipv6 example
  modules/net-vpn-ha/README.md
  tests/modules/net_vpn_ha/examples/ipv6.yaml
Due: cff-readme, duplicate-diff

Add support for cipher suite configuration on net-vpn-dynamic module and add tests
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-dynamic/main.tf
  modules/net-vpn-dynamic/variables.tf
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel.yaml
Due: cff-readme, duplicate-diff

Add support for cipher suite configuration on net-vpn-static module and add tests
  modules/net-vpn-static/README.md
  modules/net-vpn-static/main.tf
  modules/net-vpn-static/variables.tf
  tests/modules/net_vpn_static/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_static/examples/vpn-single-tunnel.yaml
Due: cff-readme, duplicate-diff

Fix sort order on module index
  modules/README.md
Due: cff-readme

Fix failing example tests
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem-custom-ciphers.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_ha/examples/ipv6.yaml
  tests/modules/net_vpn_static/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_static/examples/vpn-single-tunnel.yaml
Due: duplicate-diff

module support custom name if provided instead of just {vm_name}-boot
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

updated readme.md
  modules/compute-vm/README.md
Due: cff-readme

Update routers name
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vpns/onprem.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dmz/vpns/onprem.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/vpns/onprem.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vlan-attachments/onprem-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vlan-attachments/onprem-1.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vpns/onprem.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/.config.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-1.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vpns/onprem.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

Do not touch fast_version.txt copyright notice - apparently :)
  fast/stages/2-networking/fast_version.txt
Due: check-names

Allow compute-vm disks to have custom names (#3792)
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

feat: Add new compliance regime options to folder schemas for assured workloads configurations.
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  modules/folder/variables.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
Due: cff-readme, check-names, duplicate-diff

terraform fmt
  modules/folder/variables.tf
Due: cff-readme, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
