Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Add ability to optionally update Cloud Run job containers outside Terraform.
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
Due: cff-readme

Create python-app.yml
  .github/workflows/python-app.yml
Due: none

Map secops group to security by default
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

Update readmes
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
Due: cff-readme, check-names

Fix bootstrap inventories
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

Map secops group to security by default (#3080)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-fast.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: cff-readme, tflint-fast, check-names

Fix GKE master authorized networks nullability
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

remove explicit null
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

bug: mark policy_controller as optional
  modules/gke-hub/variables.tf
Due: cff-readme

Update README.
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_elt.py
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_table_create.py
  fast/stages/3-data-platform-dev/demo/composer/variables/variables.json
  fast/stages/3-data-platform-dev/demo/data/customers.csv
  fast/stages/3-data-platform-dev/demo/data/purchases.csv
  fast/stages/3-data-platform-dev/demo/data/schema/customer_purchase.json
  fast/stages/3-data-platform-dev/demo/data/schema/customers.json
  fast/stages/3-data-platform-dev/demo/data/schema/customers_schema.json
  fast/stages/3-data-platform-dev/demo/data/schema/purchases.json
  fast/stages/3-data-platform-dev/demo/data/schema/purchases_schema.json
  fast/stages/3-data-platform-dev/demo/diagram.png
  fast/stages/3-data-platform-dev/demo/main.tf
  fast/stages/3-data-platform-dev/demo/output.tf
  fast/stages/3-data-platform-dev/demo/providers.tf
  fast/stages/3-data-platform-dev/demo/variables.tf
  fast/stages/3-data-platform-dev/diagram_folders.png
  fast/stages/diagrams.excalidraw.gz
Due: cff-readme, tflint-fast, check-names

feat: add support to SaaS gitlab instance
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
Due: cff-readme, tflint-fast, check-names

fix: fmt terraform
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/variables.tf
Due: cff-readme, tflint-fast, check-names

Remove warning for password argument in CloudSQL instance module
  modules/cloudsql-instance/main.tf
  tests/modules/cloudsql_instance/examples/custom.yaml
Due: cff-readme

Fix documentation
  modules/gke-hub/README.md
Due: cff-readme

bug: mark policy_controller as optional (#3086)
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
Due: cff-readme

fix bootstrap permadiff
  fast/stages/0-bootstrap/organization-iam.tf
Due: cff-readme, tflint-fast, check-names

inventory
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

inventory
  tests/fast/stages/s0_bootstrap/cicd.yaml
Due: none

Fix permadiff in FAST bootstrap IAM (#3089)
  fast/stages/0-bootstrap/organization-iam.tf
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: cff-readme, tflint-fast, check-names

relax wif org policy in IaC project
  fast/stages/0-bootstrap/data/org-policies-iac/iam.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check-names

relax wif org policy in IaC project (#3090)
  fast/stages/0-bootstrap/data/org-policies-iac/iam.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check-names

Update README.md
  fast/extras/0-cicd-gitlab/README.md
Due: cff-readme, check-names

Make automation project in project factory module optional
  modules/project-factory/automation.tf
Due: cff-readme

Update schema
  modules/project-factory/schemas/project.schema.json
Due: none

fix: validation && add gitlab url local
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/variables.tf
Due: cff-readme, tflint-fast, check-names

fix: adapt readme.md to include gitlab_config modifications
  fast/extras/0-cicd-gitlab/README.md
Due: cff-readme, check-names

fix: remove file starting by 1 and 2 to avoid copying 1-resman-provid… (#2944)
  fast/extras/0-cicd-gitlab/main.tf
Due: cff-readme, tflint-fast, check-names

Add GitLab SaaS support in fast/extras/0-cicd-gitlab (#3088)
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
Due: cff-readme, tflint-fast, check-names

feat(gke): add kubelet_readonly_port_enabled
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

add support for additive perimeter resources
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/outputs.tf
  modules/vpc-sc/perimeters-additive.tf
  modules/vpc-sc/schemas/perimeters.schema.json
  modules/vpc-sc/variables.tf
Due: cff-readme

FAST stage variable
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

Add support for additive perimeter resources to vpc-sc module (#3093)
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/outputs.tf
  modules/vpc-sc/perimeters-additive.tf
  modules/vpc-sc/schemas/perimeters.schema.json
  modules/vpc-sc/variables.tf
Due: cff-readme, tflint-fast, check-names

feat(gke): add kubelet_readonly_port_enabled (#3092)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Fix section headings in README for consistency
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Clarify implementation details in README regarding Data Mesh principles and FAST stage integration
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Reposition folder structure diagram
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Remove Resource Hierarchy Overview section from README
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Remove diagram_resman.png from data platform development stage
  fast/stages/3-data-platform-dev/diagram_resman.png
Due: tflint-fast, check-names

Update diagrams in README for Data Platform stage
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/diagram-data-platform.png
  fast/stages/3-data-platform-dev/diagram-folders.png
Due: cff-readme, tflint-fast, check-names

Refine descriptions of logical components in Data Platform architecture
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
