Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Refactor Github Action per b/485167538 (#3744)
  .github/actions/fabric-tests/action.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

docs(organization): document external IAM management for logging sinks at scale
  modules/organization/README.md
  tests/modules/organization/examples/logging-iam-external.yaml
Due: cff-readme, duplicate-diff

Update TOC
  modules/organization/README.md
Due: cff-readme

docs(organization): document external IAM management for logging sinks at scale (#3746)
  modules/organization/README.md
  tests/modules/organization/examples/logging-iam-external.yaml
Due: cff-readme, duplicate-diff

Corrected network reference and stage_config inside variables.tf
  fast/stages/3-gcve-dev/README.md
  fast/stages/3-gcve-dev/variables.tf
  tests/fast/stages/s3_gcve_dev/simple.tfvars
Due: cff-readme, check-names, duplicate-diff

Refactor Github Action per b/485167538
  .github/actions/fabric-tests/action.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Fix issue in variable substitution
  .github/workflows/tests.yml
Due: none

[project-factory] Add service_agent outputs
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

Remove /
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

Change structure
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

Fix tfdoc
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

[project-factory] Add service_agent outputs (#3750)
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

fix project factory service agents outputs: iamEmail -> iam_email
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

fix regional resource policy attachment in compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/resource-policies.tf
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
Due: cff-readme, duplicate-diff

tfdoc
  modules/compute-vm/README.md
Due: cff-readme

Fix project factory service agents outputs from iamEmail to iam_email
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

example formatting
  modules/compute-vm/README.md
Due: cff-readme

Fix regional resource policy attachment in compute-vm module (#3753)
  modules/compute-vm/README.md
  modules/compute-vm/resource-policies.tf
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
Due: cff-readme, duplicate-diff

Corrected network reference and stage_config inside variables.tf (#3747)
  fast/stages/3-gcve-dev/README.md
  fast/stages/3-gcve-dev/variables.tf
  tests/fast/stages/s3_gcve_dev/simple.tfvars
Due: cff-readme, check-names, duplicate-diff

extend attributes for project factory secondary resources
  .agents/rules/fast-factory-driven.md
  .agents/rules/wait-before-next-task.md
  fast/stages/2-project-factory/datasets/data-platform/GEMINI.md
  fast/stages/2-project-factory/datasets/data-platform/defaults.yaml
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/iam.tf
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables-iam.tf
  modules/bigquery-dataset/variables.tf
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/projects-kms.tf
  modules/project-factory/projects-service-accounts.tf
  modules/project-factory/schemas/project.schema.json
  test_output.txt
  tests/modules/bigquery_dataset/examples/iam.yaml
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

remove extra files
  .agents/rules/fast-factory-driven.md
  .agents/rules/wait-before-next-task.md
  fast/stages/2-project-factory/datasets/data-platform/GEMINI.md
  fast/stages/2-project-factory/datasets/data-platform/defaults.yaml
  test_output.txt
Due: check-names, duplicate-diff

complete
  .agents/rules/modules-as-resource-managers.md
  modules/bigquery-dataset/README.md
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

tf fmt
  .agents/rules/dev-workflow.md
  modules/project-factory/projects-bigquery.tf
Due: cff-readme, duplicate-diff

tfdoc
  modules/bigquery-dataset/README.md
Due: cff-readme

schemas
  .agents/rules/dev-workflow.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.json
Due: check-names

fix tests
  .agents/rules/dev-workflow.md
  modules/bigquery-dataset/iam.tf
  modules/bigquery-dataset/variables.tf
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  tests/modules/bigquery_dataset/context.yaml
  tests/modules/bigquery_dataset/examples/iam.yaml
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Support additional attributes for buckets/datasets in project factory module (#3755)
  .agents/rules/dev-workflow.md
  .agents/rules/fast-factory-driven.md
  .agents/rules/modules-as-resource-managers.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.json
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/iam.tf
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables-iam.tf
  modules/bigquery-dataset/variables.tf
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/projects-kms.tf
  modules/project-factory/projects-service-accounts.tf
  modules/project-factory/schemas/project.schema.json
  tests/modules/bigquery_dataset/context.yaml
  tests/modules/bigquery_dataset/examples/iam.yaml
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Fix example for snapshot schedules
  modules/compute-vm/README.md
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
Due: cff-readme, duplicate-diff

Added custom prefix support for automation SA
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: cff-readme, check-names, duplicate-diff

dp rewrite stage 0, projects
  .agents/rules/modules-as-resource-managers.md
  fast/stages/2-data-platform/.fast-stage.env
  fast/stages/2-data-platform/README.md
  fast/stages/2-data-platform/assets/providers.tf.tpl
  fast/stages/2-data-platform/datasets/classic/defaults.yaml
  fast/stages/2-data-platform/datasets/classic/folders/domain-a/.config.yaml
  fast/stages/2-data-platform/datasets/classic/project-templates/data-product.yaml
  fast/stages/2-data-platform/datasets/classic/projects/central-0.yaml
  fast/stages/2-data-platform/datasets/classic/projects/domain-a/prdc-0.yaml
  fast/stages/2-data-platform/fast_version.txt
  fast/stages/2-data-platform/main.tf
  fast/stages/2-data-platform/output-files-storage.tf
  fast/stages/2-data-platform/output-files.tf
  fast/stages/2-data-platform/outputs.tf
  fast/stages/2-data-platform/plan.json
  fast/stages/2-data-platform/plan.tfplan
  fast/stages/2-data-platform/plan.txt
  fast/stages/2-data-platform/variables-fast.tf
  fast/stages/2-data-platform/variables-projects.tf
  fast/stages/2-data-platform/variables.tf
Due: cff-readme, check-names, duplicate-diff

Added custom prefix support for automation SA (#3757)
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: cff-readme, check-names, duplicate-diff

Fix default maintenance_config.maintenance_exclusions in GKE.
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme, duplicate-diff

tfdoc
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-standard/README.md
Due: cff-readme

remove plan files
  fast/stages/2-data-platform/plan.tfplan
  fast/stages/2-data-platform/plan.txt
Due: check-names

generalize handling of basepath for projects in project-factory module
  modules/project-factory/projects.tf
Due: cff-readme, duplicate-diff
