Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

Add `bucket_create` to `modules/gcs`
  modules/gcs/README.md
  modules/gcs/iam.tf
  modules/gcs/main.tf
  modules/gcs/managed-folders.tf
  modules/gcs/outputs.tf
  modules/gcs/variables.tf
Due: cff-readme

Create local with bucket name
  modules/gcs/main.tf
  modules/gcs/outputs.tf
  modules/gcs/tags.tf
Due: cff-readme

Update variable description
  modules/gcs/README.md
  modules/gcs/variables.tf
Due: cff-readme

Fix tests
  tests/modules/folder/examples/logging.yaml
  tests/modules/gcs/examples/cmek.yaml
  tests/modules/gcs/examples/hns.yaml
  tests/modules/gcs/examples/iam-authoritative.yaml
  tests/modules/gcs/examples/iam-bindings-additive.yaml
  tests/modules/gcs/examples/iam-bindings.yaml
  tests/modules/gcs/examples/lifecycle.yaml
  tests/modules/gcs/examples/managed-folders.yaml
  tests/modules/gcs/examples/notification.yaml
  tests/modules/gcs/examples/object-upload.yaml
  tests/modules/gcs/examples/retention-logging.yaml
  tests/modules/gcs/examples/simple.yaml
  tests/modules/gcs/examples/tags.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
  tests/modules/project_factory/examples/example.yaml
Due: none

Fix bucket output
  modules/gcs/outputs.tf
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme

Fix tests
  tests/fast/stages/s1_resman/simple.yaml
  tests/modules/project/examples/data.yaml
Due: none

Allow networking stage to be disabled
  fast/stages/1-resman/stage-2-security.tf
Due: cff-readme, tflint-fast, check-names

Allow networking stage to be disabled (#2831)
  fast/stages/1-resman/stage-2-security.tf
Due: cff-readme, tflint-fast, check-names

fix(certificate-manager): reference dns_authz by fully qualified id
  modules/certificate-manager/main.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-dns-authz.yaml
Due: cff-readme

fix(certificate-manager): reference dns_authz by fully qualified id (#2833)
  modules/certificate-manager/main.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-dns-authz.yaml
Due: cff-readme

update changelog
  CHANGELOG.md
Due: none

Allow multiple stage 2 project factories
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/moved/v36.0.1-v37.0.0.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/variables-addons.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Fix bindings and rename default project factory
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Remove debug
  fast/stages/1-resman/outputs-providers.tf
Due: cff-readme, tflint-fast, check-names

Update readme
  fast/stages/1-resman/README.md
  fast/stages/1-resman/iam.tf
Due: cff-readme, tflint-fast, check-names

Allow multiple stage-2 project factories (#2834)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/moved/v36.0.1-v37.0.0.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/variables-addons.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Interpolate SAs in tag-level iam
  fast/stages/1-resman/organization.tf
Due: cff-readme, tflint-fast, check-names

Remove duplicate line
  fast/stages/1-resman/organization.tf
Due: cff-readme, tflint-fast, check-names

Interpolate SAs in tag-level iam (#2836)
  fast/stages/1-resman/organization.tf
Due: cff-readme, tflint-fast, check-names

wip
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/stage-2/networking.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/stage-cicd.tf
  fast/stages/1-resman/variables-stages.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

restored locals
  fast/stages/0-bootstrap/outputs-providers.tf
Due: cff-readme, tflint-fast, check-names

PF RO IAM view on PF created buckets
  fast/stages/1-resman/data/top-level-folders/teams.yaml
Due: check-names

Leverage environments for folder and project creation in FAST resman and security (#2787)
  fast/stages/2-security/certs.tf
Due: cff-readme, tflint-fast, check-names

prepare v37.0.0-rc2 release
  CHANGELOG.md
Due: none

Implement FAST stage add-ons, refactor netsec as add-on (#2800)
  fast/addons/2-networking-test/outputs.tf
  fast/stages/2-security/certs.tf
  tests/fast/addons/a2_networking_test/tftest.yaml
Due: cff-readme, tflint-fast, check-names

Fix merge issues
  fast/addons/2-networking-test/outputs.tf
  tests/fast/addons/a2_networking_test/tftest.yaml
Due: cff-readme, tflint-fast, check-names

WIP
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/data/stage-2/security.yaml
  fast/stages/1-resman/data/stage-3/gcve-prod.yaml
  fast/stages/1-resman/data/stage-3/gke-dev.yaml
  fast/stages/1-resman/data/stage-3/gke-prod.yaml
  fast/stages/1-resman/data/stage-3/project-factory-dev.yaml
  fast/stages/1-resman/data/stage-3/project-factory-prod.yaml
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables-stages.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

wip
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/stage-3/project-factory-dev.yaml
  fast/stages/1-resman/data/stage-3/project-factory-prod.yaml
  fast/stages/1-resman/moved/v37.0.0.tf
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/plan.txt
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/v37.0.0.tf
Due: cff-readme, tflint-fast, check-names

wip
  fast/stages/1-resman/data/stage-3/gcve-prod.yaml
  fast/stages/1-resman/data/stage-3/gke-prod.yaml
  fast/stages/1-resman/data/stage-3/project-factory-dev.yaml
  fast/stages/1-resman/data/stage-3/project-factory-prod.yaml
  fast/stages/1-resman/moved/v37.0.0.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/plan.txt
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Add bucket IAM policy read
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/top-level-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme, tflint-fast, check-names
