Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Update Folder README with `tools/tfdoc.py` tool
  modules/folder/README.md
Due: cff-readme

feat: Add new compliance regime options for Assured Workloads (#3794)
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  modules/folder/README.md
  modules/folder/variables.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
Due: cff-readme, check-names, duplicate-diff

fix: wip
  modules/organization/variables-scc.tf
  modules/project/alerts.tf
Due: cff-readme, duplicate-diff

fix: various fixes to hardened dataset
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/folders/data-platform/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/observability/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/serverless.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/log-0.yaml
  modules/organization/service-agents.yaml
  modules/project/service-agents.yaml
Due: check-names, duplicate-diff

fix: tests
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

fix: tests
  tests/fast/stages/s0_org_setup/hardened.yaml
Due: duplicate-diff

Add support for cipher suite configuration on net-vpn-* modules (#3790)
  modules/README.md
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-dynamic/main.tf
  modules/net-vpn-dynamic/variables.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  modules/net-vpn-static/README.md
  modules/net-vpn-static/main.tf
  modules/net-vpn-static/variables.tf
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem-custom-ciphers.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_static/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_static/examples/vpn-single-tunnel.yaml
Due: cff-readme, duplicate-diff

fix(alloydb): allow 1 vCPU in machine_config validation
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

feat: add support for service agent in vpc-sc stage
  fast/stages/0-org-setup/output-files.tf
  fast/stages/1-vpcsc/datasets/hardened/egress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/datasets/hardened/ingress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables-fast.tf
Due: cff-readme, check-names, duplicate-diff

Add information about CI/CD seup for other stages
  fast/stages/0-org-setup/README.md
Due: cff-readme, check-names

Use e2-micro instead of f1-micro as default
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
  tests/modules/compute_mig/examples/flexible.yaml
  tests/modules/compute_vm/context-template-regional.yaml
  tests/modules/compute_vm/context-template.yaml
  tests/modules/compute_vm/context-vm.yaml
  tests/modules/compute_vm/examples/defaults.yaml
  tests/modules/compute_vm/examples/disks-example-template.yaml
  tests/modules/compute_vm/examples/independent-boot-disk.yaml
  tests/modules/compute_vm/examples/sa-custom.yaml
  tests/modules/compute_vm/examples/sa-default.yaml
  tests/modules/compute_vm/examples/sa-managed.yaml
  tests/modules/compute_vm/examples/sa-none.yaml
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
  tests/modules/compute_vm/examples/tag-bindings.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
  tests/modules/net_lb_app_ext/examples/tls-settings.yaml
  tests/modules/net_lb_app_ext_regional/examples/tls-settings.yaml
  tests/modules/net_lb_ext/examples/dual_stack.yaml
  tests/modules/net_lb_ext/examples/e2e.yaml
  tests/modules/net_lb_ext/examples/ext_migs.yaml
  tests/modules/net_lb_ext/examples/fwd_rules.yaml
  tests/modules/net_lb_ext/examples/migs.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel-custom-ciphers.yaml
  tests/modules/net_vpn_dynamic/examples/vpn-single-tunnel.yaml
Due: cff-readme, duplicate-diff

fix(alloydb): allow 72 vCPU in machine_config validation and cross_region_replication
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

fix(alloydb): allow 1 and 72 vCPU in Read Pool. Run terraform -fmt
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

fix(modules/organization): conditions ignored in tags
  modules/organization/README.md
  modules/organization/tags.tf
  tests/modules/organization/examples/tags.yaml
Due: cff-readme, duplicate-diff

fix(modules/project): conditions ignored in tags
  modules/project/tags.tf
  tests/modules/project/examples/tags.yaml
Due: cff-readme, duplicate-diff

fix(modules/project): Tags:1 test skipped due to bad markdown block
  modules/project/README.md
Due: cff-readme

Change ASN from 64515 to 64517 in VPN Peer config
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vpns/to-prod.yaml
Due: check-names, duplicate-diff

Update ASN from 64515 to 64517 for prod VPN router
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
Due: check-names, duplicate-diff

Fix Cloud Router ASN conflict
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vpns/to-prod.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
Due: check-names, duplicate-diff

feat: add handling of service agents in vpc-sc stage
  fast/stages/0-org-setup/output-files.tf
  fast/stages/1-vpcsc/datasets/hardened/egress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/datasets/hardened/ingress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
  modules/organization/service-agents.yaml
  modules/vpc-sc/access-levels.tf
  modules/vpc-sc/main.tf
  modules/vpc-sc/perimeters-additive.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/variables.tf
  tests/fast/stages/s1_vpcsc/hardened.test
  tests/fast/stages/s1_vpcsc/hardened.tfvars
Due: cff-readme, check-names, duplicate-diff

feat: add handling of org based service agent
  fast/stages/0-org-setup/output-files.tf
  fast/stages/1-vpcsc/datasets/hardened/egress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/datasets/hardened/ingress-policies/fast-org-scc.yaml
  modules/organization/service-agents.yaml
  tests/fast/stages/s1_vpcsc/hardened.tfvars
  tests/fast/stages/s1_vpcsc/hardened.yaml
Due: cff-readme, check-names, duplicate-diff

fix: update output
  fast/stages/0-org-setup/output-files.tf
Due: cff-readme, check-names, duplicate-diff

fix: update service agent yaml file
  modules/organization/service-agents.yaml
Due: duplicate-diff

fix: gen service agents
  modules/organization/service-agents.yaml
Due: duplicate-diff

Hardened datasets minor fixes (#3795)
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/folders/data-platform/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/observability/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/log-0.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

Add support of organizational based service agents in VPC-SC stage (#3802)
  fast/stages/0-org-setup/output-files.tf
  fast/stages/1-vpcsc/datasets/hardened/egress-policies/fast-org-scc.yaml
  fast/stages/1-vpcsc/datasets/hardened/ingress-policies/fast-org-scc.yaml
  modules/organization/service-agents.yaml
  tests/fast/stages/s1_vpcsc/hardened.tfvars
  tests/fast/stages/s1_vpcsc/hardened.yaml
Due: cff-readme, check-names, duplicate-diff

Fix network "hub-and-spokes-vpns" dataset (#3800)
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/vpns/to-prod.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
Due: check-names, duplicate-diff

Alloydb module: enable 1-72 vcpu for C4A (#3799)
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

Add DNS files
  dns-terraform.tfvars
  dns.tf
Due: duplicate-diff

fix(organization): resolve yamllint trailing space error in tags.yaml example
  tests/modules/organization/examples/tags.yaml
Due: duplicate-diff

Ignored condition attribute in IAM tag bindings within the organisation/project modules (#3762)
  modules/organization/README.md
  modules/organization/tags.tf
  modules/project/README.md
  modules/project/tags.tf
  tests/modules/organization/examples/tags.yaml
  tests/modules/project/examples/tags.yaml
Due: cff-readme, duplicate-diff

Clarify documentation wrt. backend service vs backend
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext/README.md
Due: cff-readme
