Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

update readme
  fast/stages/1-resman/README.md
Due: cff-readme, check-names

address comment
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Allow IAP configuration with default IdP
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-backend-service.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/variables-backend-service.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables-backend-service.tf
Due: cff-readme

Fix readme
  fast/stages/1-resman/README.md
Due: cff-readme, check-names

add tag binding for stage folder config (#3028)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Use path as keys in project factory
  modules/net-vpc-factory/factory-projects-object.tf
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/bucket_iam.yaml
Due: cff-readme

Update CICD section of 0-bootstrap. Fixes #2930
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

Update CICD section of 0-bootstrap. (#3032)
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

Pathexpand all factory data paths
  fast/addons/2-networking-test/factory.tf
  fast/stages/2-networking-a-simple/monitoring.tf
  fast/stages/2-networking-c-separate-envs/monitoring.tf
  modules/analytics-hub/main.tf
  modules/data-catalog-tag/main.tf
  modules/organization/iam.tf
  modules/organization/org-policy-custom-constraints.tf
  modules/project/iam.tf
  modules/project/main.tf
  modules/project/quotas.tf
  modules/secops-rules/main.tf
Due: cff-readme, tflint-fast, check-names

Add managed Kafka project template with configuration and variable definitions
  fast/project-templates/managed-kafka/README.md
  fast/project-templates/managed-kafka/main.tf
  fast/project-templates/managed-kafka/outputs.tf
  fast/project-templates/managed-kafka/variables.tf
  fast/project-templates/managed-kafka/versions.tf
Due: cff-readme, tflint-fast, versions, check-names

PF SA fix for budget alert
  fast/stages/1-resman/data/stage-2/project-factory.yaml
Due: check-names

[WIP] New cloud function v2 based on cloud run service
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-function-v2/tags.tf
  modules/cloud-function-v2/triggers.tf
  modules/cloud-function-v2/variables-vpc-connector.tf
  modules/cloud-function-v2/variables.tf
  modules/cloud-function-v2/vpc-connector.tf
Due: cff-readme

PF SA fix for budget alert (#3036)
  fast/stages/1-resman/data/stage-2/project-factory.yaml
Due: check-names

Fixes
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/main.tf
Due: cff-readme

tfdoc
  modules/cloud-function-v2/README.md
Due: cff-readme

Use encryption key
  modules/cloud-function-v2/main.tf
Due: cff-readme

Refactor managed Kafka configuration to use a single kafka_config object for improved clarity and maintainability
  fast/project-templates/managed-kafka/main.tf
  fast/project-templates/managed-kafka/variables.tf
Due: cff-readme, tflint-fast, check-names

Added recipe HA VPN between AWS and GCP
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/aws.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/diagram.png
  modules/net-vpn-ha/recipe-vpn-aws-gcp/gcp.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/outputs.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/providers.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/variables.tf
Due: cff-readme

Add Apache License 2.0 header to managed Kafka template files
  fast/project-templates/managed-kafka/main.tf
  fast/project-templates/managed-kafka/outputs.tf
  fast/project-templates/managed-kafka/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix typo
  modules/net-vpn-ha/recipe-vpn-aws-gcp/README.md
Due: cff-readme

Update providers to work without credentials
  modules/net-vpn-ha/recipe-vpn-aws-gcp/providers.tf
Due: cff-readme

Add AWS resource to tools/lockfile/main.tf
  tools/lockfile/main.tf
Due: none

Fixed error in recipe docs
  modules/net-vpn-ha/recipe-vpn-aws-gcp/README.md
Due: cff-readme

Added recipe HA VPN between AWS and GCP (#3034)
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/aws.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/diagram.png
  modules/net-vpn-ha/recipe-vpn-aws-gcp/gcp.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/outputs.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/providers.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/variables.tf
  tools/lockfile/main.tf
Due: cff-readme

Formatting fix
  modules/gke-nodepool/main.tf
Due: cff-readme

README update
  modules/gke-cluster-standard/README.md
  modules/gke-nodepool/README.md
Due: cff-readme

changes
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme

Add vulnerability scanning to artifact registry module
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Due: cff-readme

make variable nullable = false
  modules/artifact-registry/variables.tf
Due: cff-readme

tfdoc
  modules/artifact-registry/README.md
Due: cff-readme

Add vulnerability scanning to artifact registry module (#3040)
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Due: cff-readme

Readme linting fix
  modules/gke-nodepool/README.md
Due: cff-readme

Update README and add project.yaml for Managed Kafka cluster setup
  fast/project-templates/managed-kafka/README.md
  fast/project-templates/managed-kafka/project.yaml
Due: cff-readme, check-names

Update README to skip tftest validation for managed Kafka module
  fast/project-templates/managed-kafka/README.md
Due: cff-readme, check-names

Add managed Kafka (#3035)
  fast/project-templates/managed-kafka/README.md
  fast/project-templates/managed-kafka/main.tf
  fast/project-templates/managed-kafka/outputs.tf
  fast/project-templates/managed-kafka/project.yaml
  fast/project-templates/managed-kafka/variables.tf
  fast/project-templates/managed-kafka/versions.tf
Due: cff-readme, tflint-fast, versions, check-names

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
