Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

adding more tests
  modules/project-factory/README.md
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme

add support for service account principalsets to project factory
  modules/project-factory/README.md
  modules/project-factory/main.tf
Due: cff-readme

added option for tag factory on resman
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

fix accounts endpoint in policy rules (#3179)
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Due: check-names

fixed doco
  fast/stages/1-resman/README.md
Due: cff-readme, check-names

added some more missed var.tag_values
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
Due: cff-readme, tflint-fast, check-names

fixed exp intended as ref
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
Due: cff-readme, tflint-fast, check-names

add support for service account principalsets to project factory (#3181)
  modules/project-factory/README.md
  modules/project-factory/main.tf
Due: cff-readme

Revert "fix accounts endpoint in policy rules (#3179)"
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Due: check-names

Revert "fix accounts endpoint in policy rules (#3179)" (#3183)
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Due: check-names

Rename agentspace module to ai-applications
  README.md
  modules/README.md
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/outputs.tf
  modules/ai-applications/variables.tf
  modules/ai-applications/versions.tf
  modules/ai-applications/versions.tofu
Due: cff-readme, versions, versions_tofu

Update default display name for data stores
  modules/ai-applications/README.md
  modules/ai-applications/main.tf
  modules/ai-applications/variables.tf
Due: cff-readme

Rename agentspace module to ai-applications (#3184)
  README.md
  modules/README.md
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/outputs.tf
  modules/ai-applications/variables.tf
  modules/ai-applications/versions.tf
  modules/ai-applications/versions.tofu
Due: cff-readme, versions, versions_tofu

reinstate #3179
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Due: check-names

reinstate #3179 (#3185)
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Due: check-names

updated fast security readme
  fast/stages/2-security/README.md
Due: cff-readme, check-names

removed not required data file
  fast/stages/2-security/data/vpc-sc/restricted-services.yaml
Due: check-names

change org policy condition to align with best practice documentation
  fast/stages/0-bootstrap/data/org-policies-managed/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
Due: check-names

aligned test
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/managed_org_policies.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: none

aligned test 2
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: none

documentation updates
  fast/stages/2-project-factory/README.md
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
Due: cff-readme, check-names

aligned test 3
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: none

Clean fast 2 security from vpcsc (#3187)
  fast/stages/0-bootstrap/data/org-policies-managed/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/2-security/README.md
  fast/stages/2-security/data/vpc-sc/restricted-services.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/managed_org_policies.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: cff-readme, check-names

Fixed hard-coded resource management tags (!var.tag_names) (#3180)
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
Due: cff-readme, tflint-fast, check-names

Correcting linting errors
  modules/cloud-deploy/README.md
  modules/cloud-deploy/variables.tf
Due: cff-readme

Correcting version.tf
  modules/cloud-deploy/versions.tf
Due: cff-readme, versions

Add support for IPv6 only subnets and IP collections
  modules/net-vpc/README.md
  modules/net-vpc/schemas/subnet.schema.json
  modules/net-vpc/schemas/subnet.schema.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/ipv6_only.yaml
Due: cff-readme

ip_cidr_range simplification as suggested by @wiktorn
  modules/net-vpc/subnets.tf
Due: cff-readme

light edit
  modules/cloud-deploy/automation.tf
  modules/cloud-deploy/delivery-pipeline.tf
  modules/cloud-deploy/deploy-policy.tf
  modules/cloud-deploy/iam.tf
  modules/cloud-deploy/main.tf
  modules/cloud-deploy/target.tf
Due: cff-readme

Ordered arguments and variables
  modules/cloud-deploy/README.md
  modules/cloud-deploy/automation.tf
  modules/cloud-deploy/delivery-pipeline.tf
  modules/cloud-deploy/deploy-policy.tf
  modules/cloud-deploy/iam.tf
  modules/cloud-deploy/main.tf
  modules/cloud-deploy/target.tf
  modules/cloud-deploy/variables.tf
Due: cff-readme

Updated README on module and root levels to include Cloud Deploy
  README.md
  modules/README.md
Due: cff-readme

Fixing formatting and test issues
  modules/cloud-deploy/README.md
  modules/cloud-deploy/main.tf
Due: cff-readme

fixing formatting
  modules/cloud-deploy/main.tf
Due: cff-readme

Addition of Cloud Deploy Module (#3169)
  README.md
  modules/README.md
  modules/cloud-deploy/README.md
  modules/cloud-deploy/automation.tf
  modules/cloud-deploy/delivery-pipeline.tf
  modules/cloud-deploy/deploy-policy.tf
  modules/cloud-deploy/iam.tf
  modules/cloud-deploy/main.tf
  modules/cloud-deploy/outputs.tf
  modules/cloud-deploy/target.tf
  modules/cloud-deploy/variables-iam.tf
  modules/cloud-deploy/variables.tf
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
Due: cff-readme, versions, versions_tofu

[module/ai-applications] fix module for unespected updates from APIs
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/variables.tf
Due: cff-readme

[module/ai-applications] fix module for unespected updates from APIs (#3189)
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/variables.tf
Due: cff-readme

added tag factory for project module
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables.tf
Due: cff-readme

missing header
  modules/project/README.md
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
