Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Fix cloudsql-instance: update retain_backups_on_delete to optional and default to null instead of false
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

Docs cloudsql-instance: Update backup_configuration to set retain_backups_on_delete default to null
  modules/cloudsql-instance/README.md
Due: cff-readme

feat: Allow empty prefix for project_factory buckets
  modules/project-factory/projects-buckets.tf
Due: cff-readme, duplicate-diff

feat(cloudsql-instance): add retain_backups_on_delete and final_backup_config support
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

added role required for support ticket creation
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
Due: check-names, duplicate-diff

updated tests for role count
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

updated tests for resource count
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

added role required for support ticket creation (#3578)
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/defaults.yaml
  fast/stages/0-org-setup/observability.tf
  modules/project/cmek.tf
  modules/project/service-agents.tf
  modules/project/shared-vpc.tf
Due: cff-readme, check-names, duplicate-diff

fixed project-factory module to pass service account description
  modules/project-factory/projects-service-accounts.tf
Due: cff-readme, duplicate-diff

fix: wip
  fast/stages/0-org-setup/observability.tf
Due: cff-readme, check-names, duplicate-diff

fixed project-factory module to pass service account description (#3579)
  modules/project-factory/projects-service-accounts.tf
Due: cff-readme, duplicate-diff

Moved project_numbers local to concat block
  modules/billing-account/budgets.tf
  modules/project-factory/projects.tf
  modules/project-factory/variables.tf
Due: cff-readme, duplicate-diff

fix: wip
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/logging.yaml
Due: cff-readme, duplicate-diff

Add yq snippets for imports
  fast/stages/README.md
Due: cff-readme, check-names

feat(compute-mig): add instance_lifecycle_policy support
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  modules/compute-mig/variables.tf
Due: cff-readme, duplicate-diff

Add more detailed version of yq
  fast/stages/README.md
Due: cff-readme, check-names

feat(compute-mig): add instance_lifecycle_policy support (#3577)
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  modules/compute-mig/variables.tf
Due: cff-readme, duplicate-diff

Add test for stage 0
  fast/stages/0-org-setup/observability.tf
  tests/fast/stages/s0_org_setup/data-hardened/cicd-workflows.yaml
  tests/fast/stages/s0_org_setup/data-hardened/defaults.yaml
  tests/fast/stages/s0_org_setup/hardened.tfvars
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/fast/stages/s0_org_setup/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

fix: wip
  tests/fast/stages/s2_project_factory/simple.yaml
  tests/fast/stages/s2_security/simple.yaml
Due: duplicate-diff

Add tests for cmek encryption
  fast/stages/3-gke-dev/main.tf
  tests/fast/stages/s3_data_platform_dev/hardened.tfvars
  tests/fast/stages/s3_data_platform_dev/hardened.yaml
  tests/fast/stages/s3_data_platform_dev/tftest.yaml
  tests/fast/stages/s3_gcve_dev/simple.yaml
  tests/fast/stages/s3_gke_dev/hardened.tfvars
  tests/fast/stages/s3_gke_dev/hardened.yaml
  tests/fast/stages/s3_gke_dev/simple.yaml
  tests/fast/stages/s3_gke_dev/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

fix: wip
  tests/fast/stages/s3_data_platform_dev/hardened.yaml
  tests/fast/stages/s3_gke_dev/hardened.yaml
  tests/fast/stages/s3_gke_dev/simple.yaml
Due: duplicate-diff

fix
  tests/fast/stages/s0_org_setup/hardened.tfvars
  tests/fast/stages/s0_org_setup/simple.tfvars
Due: none

fix: wip
  tests/fast/stages/s2_security/simple.yaml
  tests/fast/stages/s3_gke_dev/hardened.yaml
  tests/fast/stages/s3_gke_dev/simple.yaml
Due: duplicate-diff

fix: wip
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/fast/stages/s3_data_platform_dev/tftest.yaml
  tests/fast/stages/s3_gke_dev/tftest.yaml
Due: duplicate-diff

fix: wip
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

fix: wip
  tools/duplicate-diff.py
Due: none

Fixed with try block
  modules/billing-account/budgets.tf
Due: cff-readme, duplicate-diff

implement additional bucket attributes in project factory
  modules/project-factory/automation.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables-projects.tf
Due: cff-readme, duplicate-diff

update FAST schemas
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.json
Due: check-names

fmt/tfdoc
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/variables-projects.tf
Due: cff-readme, duplicate-diff

update schema docs
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/project.schema.md
  fast/stages/3-data-platform-dev/schemas/aspect-type.schema.md
  modules/dataplex-aspect-types/schemas/aspect-type.schema.md
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.md
Due: check-names

Implement additional GCS attributes in project factory (#3583)
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  fast/stages/3-data-platform-dev/schemas/aspect-type.schema.md
  modules/dataplex-aspect-types/schemas/aspect-type.schema.md
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
Due: cff-readme, check-names, duplicate-diff

add update schema links script (Gemini made)
  tools/update_schema_links.py
Due: none
