Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Add support for URL filtering profiles to FAST NGFW add-on (#3768)
  fast/addons/2-networking-ngfw/README.md
  fast/addons/2-networking-ngfw/security-profiles.tf
  fast/addons/2-networking-ngfw/variables.tf
  tests/fast/addons/a2_networking_ngfw/simple.yaml
  tools/lint.sh
  tools/requirements.txt
Due: cff-readme, check-names, duplicate-diff

artifact-registry
  CONTEXT.md
  modules/artifact-registry/README.md
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/context.tfvars
  tests/modules/artifact_registry/context.yaml
  tests/modules/artifact_registry/tftest.yaml
Due: cff-readme, duplicate-diff

compute-mig
  CONTEXT.md
  modules/compute-mig/README.md
  modules/compute-mig/autoscaler.tf
  modules/compute-mig/main.tf
  modules/compute-mig/outputs.tf
  modules/compute-mig/variables.tf
  tests/modules/artifact_registry/context.yaml
  tests/modules/compute_mig/context.tfvars
  tests/modules/compute_mig/context.yaml
  tests/modules/compute_mig/tftest.yaml
Due: cff-readme, duplicate-diff

gke modules
  CONTEXT.md
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  modules/gke-hub/variables.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_cluster_autopilot/context.tfvars
  tests/modules/gke_cluster_autopilot/context.yaml
  tests/modules/gke_cluster_autopilot/network_tags.tfvars
  tests/modules/gke_cluster_standard/context.tfvars
  tests/modules/gke_cluster_standard/context.yaml
  tests/modules/gke_cluster_standard/tftest.yaml
  tests/modules/gke_hub/context.tfvars
  tests/modules/gke_hub/context.yaml
  tests/modules/gke_hub/tftest.yaml
  tests/modules/gke_nodepool/context.tfvars
  tests/modules/gke_nodepool/context.yaml
  tests/modules/gke_nodepool/tftest.yaml
Due: cff-readme, duplicate-diff

doc
  CONTEXT.md
Due: none

net-vpc-peering
  CONTEXT.md
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
  tests/modules/net_vpc_peering/context.tfvars
  tests/modules/net_vpc_peering/context.yaml
  tests/modules/net_vpc_peering/tftest.yaml
Due: cff-readme, duplicate-diff

Add support for regional health checks to net-lb-int module (#3770)
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-int/variables.tf
Due: cff-readme, duplicate-diff

Allow specifying cloudrun target without service name in net-lb-app-int module (#3771)
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
Due: cff-readme, duplicate-diff

wip
  tests/modules/compute_mig/context.tfvars
  tests/modules/gke_cluster_autopilot/context.tfvars
  tests/modules/gke_cluster_autopilot/context.yaml
  tests/modules/gke_cluster_standard/context.tfvars
  tests/modules/gke_cluster_standard/context.yaml
  tests/modules/gke_hub/context.tfvars
  tests/modules/gke_hub/context.yaml
  tests/modules/gke_nodepool/context.tfvars
  tests/modules/gke_nodepool/context.yaml
Due: duplicate-diff

allow reusing IAM binding key across objects in kms module
  modules/kms/README.md
  modules/kms/iam.tf
  tests/modules/kms/examples/basic.yaml
Due: cff-readme, duplicate-diff

fix inventory
  tests/modules/kms/context.yaml
Due: duplicate-diff

Update CORS policy in urlmap_config to use lists for allow_headers, allow_methods, and expose_headers
  modules/net-lb-app-ext-regional/variables-urlmap.tf
Due: cff-readme, duplicate-diff

Update README.md to clarify urlmap_config structure and options for load balancer configuration
  modules/net-lb-app-ext-regional/README.md
Due: cff-readme

fix(net-lb-app-ext-regional): use list(string) for route_rules cors_policy attributes (#3776)
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables-urlmap.tf
Due: cff-readme, duplicate-diff

Allow reusing IAM binding key across objects in kms module (#3775)
  modules/kms/README.md
  modules/kms/iam.tf
  tests/modules/kms/context.yaml
  tests/modules/kms/examples/basic.yaml
Due: cff-readme, duplicate-diff

comment alerting policy to prevent e2e errors
  fast/stages/0-org-setup/datasets/classic/observability/iac-0/impersonation.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

comment alerting policy to prevent e2e errors (#3777)
  fast/stages/0-org-setup/datasets/classic/observability/iac-0/impersonation.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

Add Cilium Clusterwide Network Policy and FQDN Network Policy
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: cff-readme, duplicate-diff

Add missing folder features to project factory and align logging across folder/org modules
  CHANGELOG.md
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/main.tf
  modules/folder/variables-logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
  modules/organization/variables.tf
  modules/project-factory/README.md
  modules/project-factory/folders.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/variables-folders.tf
  tests/modules/folder/context.tfvars
  tests/modules/folder/context.yaml
  tests/modules/folder/main.tf
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
Due: cff-readme, check-names, duplicate-diff

fix: add compute-vm lifecycle to prevent VM from being recreated when image family updates
  modules/compute-vm/main.tf
Due: cff-readme, duplicate-diff

Add missing folder features to project factory and align logging across folder/org modules (#3779)
  CHANGELOG.md
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/main.tf
  modules/folder/variables-logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
  modules/organization/variables.tf
  modules/project-factory/README.md
  modules/project-factory/folders.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/variables-folders.tf
  tests/modules/folder/context.tfvars
  tests/modules/folder/context.yaml
  tests/modules/folder/main.tf
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
Due: cff-readme, check-names, duplicate-diff

Support additional dns_access attributes in GKE cluster modules
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme, check-names, duplicate-diff

fix FAST test
  tests/fast/stages/s3_gke_dev/hardened.tfvars
Due: none

Support additional dns_access attributes in GKE cluster modules (#3781)
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/fast/stages/s3_gke_dev/hardened.tfvars
Due: cff-readme, check-names, duplicate-diff

Update README
  modules/gke-cluster-autopilot/README.md
Due: cff-readme

Add Cilium Clusterwide Network Policy and FQDN Network Policy for Autopilot Clusters (#3778)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: cff-readme, duplicate-diff

fix inventory after merge
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

allow null name, use basepath for factories in pf folders
  modules/project-factory/README.md
  modules/project-factory/folders.tf
Due: cff-readme, duplicate-diff

fix id in folder schema
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.json
  tools/duplicate-diff.py
Due: check-names

fix(cloudsql): always render backup_configuration block to allow disabling backups
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

refactor(cloudsql): use nullable backup_configuration variable for explicit don't-manage semantics
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

fix(cloudsql): force point_in_time_recovery_enabled=false when backups disabled
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

fix(cloudsql): guard binary_log_enabled and point_in_time_recovery_enabled when backups disabled
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

Additional changes to folder module and project factory (#3782)
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.json
  modules/project-factory/README.md
  modules/project-factory/folders.tf
  modules/project-factory/schemas/folder.schema.json
  tools/duplicate-diff.py
Due: cff-readme, check-names, duplicate-diff

formatting
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

tfdoc
  modules/cloudsql-instance/README.md
Due: cff-readme

fix(cloudsql): always render backup_configuration block to allow disabling backups (#3780)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

fix inventory
  tests/fast/addons/a2_networking_ngfw/simple.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
