Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Fix
  modules/project/README.md
Due: cff-readme

implement defaults in vpc sc stage
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/datasets/classic/defaults.yaml
  fast/stages/1-vpcsc/datasets/hardened/defaults.yaml
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/1-vpcsc/schemas/defaults.schema.json
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/outputs.tf
  tests/fast/stages/s1_vpcsc/factory.tfvars
  tests/fast/stages/s1_vpcsc/simple.tfvars
  tests/fast/stages/s1_vpcsc/simple.yaml
Due: cff-readme, tflint-fast, check-names

tflint
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

Streamline stage variables and output files for vpc-sc and security stages (#3471)
  fast/stages/0-org-setup/output-files.tf
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/datasets/classic/defaults.yaml
  fast/stages/1-vpcsc/datasets/hardened/defaults.yaml
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/1-vpcsc/schemas/defaults.schema.json
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/main.tf
  fast/stages/2-security/outputs.tf
  fast/stages/2-security/schemas/defaults.schema.json
  fast/stages/2-security/variables-fast.tf
  fast/stages/2-security/variables.tf
  tests/fast/stages/s1_vpcsc/factory.tfvars
  tests/fast/stages/s1_vpcsc/simple.tfvars
  tests/fast/stages/s1_vpcsc/simple.yaml
  tests/fast/stages/s2_security/not-simple.tfvars
Due: cff-readme, tflint-fast, check-names

2 spaces!
  tools/duplicate-diff.py
Due: none

Enable tflint_fast for 0-org-setup
  tests/fast/stages/s0_org_setup/simple.tfvars
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/fast/stages/s0_org_setup/tftest.yaml
Due: none

Enable extra_dirs for tflint_fast
  tools/tflint-fast.py
Due: none

Run tflint-fast only if changes affected fast
  .pre-commit-config.yaml
  tools/tflint-fast.py
Due: none

fix tflint errors for 0-org-setup
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/output-files.tf
Due: cff-readme, tflint-fast, check-names

Align agent-engine with interface for Cloud Functions and Cloud Run
  modules/agent-engine/README.md
  modules/agent-engine/main.tf
  modules/agent-engine/outputs.tf
  modules/agent-engine/serviceaccount.tf
  modules/agent-engine/variables-serviceaccount.tf
  modules/agent-engine/variables.tf
  modules/cloud-function-v2/serviceaccount.tf
  modules/cloud-run-v2/serviceaccount.tf
  tests/modules/agent_engine/examples/encryption.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/minimal-pickle.yaml
  tests/modules/agent_engine/examples/minimal.yaml
  tools/duplicate-diff.py
Due: cff-readme

networking stage
  fast/stages/2-networking/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/defaults.yaml
  fast/stages/2-networking/factory-projects.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/outputs.tf
  fast/stages/2-networking/schemas/defaults.schema.json
  fast/stages/2-networking/variables-fast.tf
  fast/stages/2-networking/variables.tf
  fast/stages/2-security/main.tf
  tests/fast/stages/s2_networking/ncc.tfvars
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/nva.tfvars
  tests/fast/stages/s2_networking/peerings.tfvars
  tests/fast/stages/s2_networking/peerings.yaml
  tests/fast/stages/s2_networking/vpns.tfvars
  tests/fast/stages/s2_networking/vpns.yaml
Due: cff-readme, tflint-fast, check-names

implement defaults for vpc defaults :)
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/schemas/defaults.schema.json
Due: cff-readme, tflint-fast, check-names

Enable tflint on 2-security
  tests/fast/stages/s2_security/simple.tfvars
  tests/fast/stages/s2_security/simple.yaml
  tests/fast/stages/s2_security/tftest.yaml
Due: none

tflint
  fast/stages/2-security/README.md
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

Bump tflint version for performance
  .github/workflows/linting.yml
Due: none

Rename peering test to simple
  tests/fast/stages/s2_networking/peerings.tfvars
  tests/fast/stages/s2_networking/peerings.yaml
  tests/fast/stages/s2_networking/tftest.yaml
Due: none

tflint
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-dns.tf
  fast/stages/2-networking/factory-projects.tf
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/variables-fast.tf
  fast/stages/2-networking/variables.tf
Due: cff-readme, tflint-fast, check-names

bring peering test back
  tests/fast/stages/s2_networking/simple.tfvars
  tests/fast/stages/s2_networking/simple.yaml
Due: none

bring peering test back
  tests/fast/stages/s2_networking/tftest.yaml
Due: none

yaml lint
  tests/fast/stages/s2_networking/simple.yaml
Due: none

Align network stage defaults/outputs to other stages, add defaults schema (#3481)
  fast/stages/2-networking/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/defaults.yaml
  fast/stages/2-networking/factory-dns.tf
  fast/stages/2-networking/factory-projects.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/outputs.tf
  fast/stages/2-networking/schemas/defaults.schema.json
  fast/stages/2-networking/variables-fast.tf
  fast/stages/2-networking/variables.tf
  fast/stages/2-security/main.tf
  tests/fast/stages/s2_networking/ncc.tfvars
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/nva.tfvars
  tests/fast/stages/s2_networking/simple.tfvars
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/tftest.yaml
  tests/fast/stages/s2_networking/vpns.tfvars
  tests/fast/stages/s2_networking/vpns.yaml
Due: cff-readme, tflint-fast, check-names

chore: cleanup remove fleet output
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/outputs.tf
Due: cff-readme

chore: cleanup remove fleet output (#3482)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/outputs.tf
Due: cff-readme

Update README.md
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-standard/README.md
Due: cff-readme

Update variable
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Update test file
  tests/fast/stages/s0_org_setup/simple.yaml
Due: none

Add second wave of hardened controls for GKE and networking
  fast/stages/0-org-setup/datasets/classic/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudbuildDisableWorkerPoolExternalIP.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.networkRequireBackendServiceLogging.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/cloudsqlInstanceChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/accesscontextmanager.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/appengine.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/bigquery.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/cloudbuild.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/dns.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/essentialcontacts.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gke.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/network.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/serverless.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/sql.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/vertexai.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  fast/stages/0-org-setup/organization.tf
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/gke-clusters.tf
  fast/stages/3-gke-dev/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/fast/stages/s0_org_setup/simple.yaml
Due: cff-readme, tflint-fast, check-names

Update tests and documentaiton
  fast/stages/0-org-setup/datasets/hardened/README.md
  tests/modules/gke_cluster_autopilot/examples/access-google.yaml
  tests/modules/gke_cluster_autopilot/examples/basic.yaml
  tests/modules/gke_cluster_standard/examples/access-google.yaml
  tests/modules/gke_cluster_standard/examples/access-private.yaml
  tests/modules/gke_cluster_standard/examples/access-public.yaml
  tests/modules/gke_cluster_standard/examples/notifications.yaml
  tests/modules/gke_cluster_standard/examples/regional.yaml
  tests/modules/gke_hub/examples/full.yaml
Due: cff-readme, check-names

Side-step create-before-destroy disease by forcing new subnet creation on CIDR range change
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  tests/modules/net_vpc/context.yaml
  tests/modules/net_vpc/examples/dns-policies.yaml
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/firewall_policy_enforcement_order.yaml
  tests/modules/net_vpc/examples/ipv6.yaml
  tests/modules/net_vpc/examples/ipv6_only.yaml
  tests/modules/net_vpc/examples/peering.yaml
  tests/modules/net_vpc/examples/psa-multiple-providers.yaml
  tests/modules/net_vpc/examples/psa-prefix-services.yaml
  tests/modules/net_vpc/examples/psa-prefix.yaml
  tests/modules/net_vpc/examples/psa-routes.yaml
  tests/modules/net_vpc/examples/psa.yaml
  tests/modules/net_vpc/examples/shared-vpc.yaml
  tests/modules/net_vpc/examples/simple.yaml
  tests/modules/net_vpc/examples/subnet-iam.yaml
  tests/modules/net_vpc/examples/subnet-options.yaml
  tests/modules/net_vpc/examples/subnets-internal-ranges.yaml
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
