Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

fix details
  fast/addons/2-networking-test/schemas/instance.schema.md
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-vpcsc/schemas/egress-policy.schema.md
  fast/stages/1-vpcsc/schemas/ingress-policy.schema.md
  fast/stages/2-networking-a-simple/schemas/firewall-policy-rules.schema.md
  fast/stages/2-networking-b-nva/schemas/firewall-policy-rules.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/firewall-policy-rules.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.md
  modules/data-catalog-tag-template/schemas/tag-template.schema.md
  modules/net-firewall-policy/schemas/firewall-policy-rules.schema.md
  modules/net-vpc-factory/schemas/network-project.schema.md
  modules/project-factory/schemas/project.schema.md
  modules/project/schemas/quotas.schema.md
  modules/vpc-sc/schemas/egress-policy.schema.md
  modules/vpc-sc/schemas/ingress-policy.schema.md
  tools/schema_docs.py
Due: tflint-fast, check-names

revert dp change
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

[cloud-run-v2] Add ability to deploy OpenTelemetry Collector sidecar
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-otel-sidecar.yaml
Due: cff-readme

fix: add port to unmanaged resource's startup & liveness probes
  modules/cloud-run-v2/service.tf
Due: cff-readme

fix typos and grammar in README.md's Overview section
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Fix PSA block
  modules/alloydb/main.tf
Due: cff-readme

Improvements to the architecture focused section
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Improvements on the Teams and Personas section
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

fix: add copyright boilerplate
  tests/modules/cloud_run_v2/examples/service-otel-sidecar.yaml
Due: none

Added versions.tf to net-vpc-factory
  modules/net-vpc-factory/versions.tf
Due: cff-readme, versions

tofu too
  modules/net-vpc-factory/versions.tofu
Due: versions_tofu

Fix README
  modules/cloud-run-v2/README.md
Due: cff-readme

Added versions.tf to net-vpc-factory (#3073)
  modules/net-vpc-factory/versions.tf
  modules/net-vpc-factory/versions.tofu
Due: cff-readme, versions, versions_tofu

[cloud-run-v2] Add ability to deploy OpenTelemetry Collector sidecar (#3071)
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-otel-sidecar.yaml
Due: cff-readme

Improves Data Platform README for clarity
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Quick fix to table of contents capitalization
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Fix broken link to stages README.md
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Add ability to define root A record in Cloud DNS
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/examples/private-zone-root.yaml
Due: cff-readme

Roles and Composer
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-domains.tf
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/product-0.yaml
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix tests.
  tests/fast/stages/s3_data_platform_dev/simple.tfvars
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Due: none

Fix README
  fast/stages/3-data-platform-dev/README.md
Due: cff-readme, tflint-fast, check-names

Add tfvars example.
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/terraform.tfvars.sample
Due: tflint-fast, check-names

Fix no VPC composer scenario and roles (#3075)
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-domains.tf
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/product-0.yaml
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/terraform.tfvars.sample
  fast/stages/3-data-platform-dev/variables.tf
  tests/fast/stages/s3_data_platform_dev/simple.tfvars
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Due: cff-readme, tflint-fast, check-names

Add 2 diagrams.
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/diagram_folders.png
  fast/stages/3-data-platform-dev/diagram_resman.png
  fast/stages/diagrams.excalidraw.gz
Due: cff-readme, tflint-fast, check-names

AlloyDB read poll support and various usability fixes (#3061)
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/custom.yaml
  tests/modules/alloydb/examples/psc.yaml
  tests/modules/alloydb/examples/read_pool.yaml
  tests/modules/alloydb/examples/simple.yaml
Due: cff-readme

Remove bridge perimeters
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/outputs.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/service-perimeters-bridge.tf
  modules/vpc-sc/variables.tf
Due: cff-readme

Update FAST stages
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
Due: cff-readme, tflint-fast, validate_metadata, check-names

Allow project ids in perimeter definitions
  modules/vpc-sc/main.tf
  modules/vpc-sc/perimeters.tf
Due: cff-readme

Use CAI
  modules/vpc-sc/main.tf
Due: cff-readme

Preserve order order for ingress/egress policies
  modules/vpc-sc/perimeters.tf
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme

Use CAI
  fast/stages/1-vpcsc/main.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/main.tf
  modules/vpc-sc/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix tests
  modules/vpc-sc/main.tf
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme

VPC SC module refactor (#3062)
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/main.tf
  modules/vpc-sc/outputs.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/service-perimeters-bridge.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme, tflint-fast, validate_metadata, check-names

feat: add schemas to repository files
  fast/extras/0-cicd-gitlab/main.tf
Due: cff-readme, tflint-fast, check-names

Update README.
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Add ability to optionally update Cloud Run job containers outside Terraform.
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
