Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

feat: implement the new iam interface in `artifact-registry` (#2606)
  modules/artifact-registry/README.md
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables-iam.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/examples/iam.yaml
Due: cff-readme

alloydb variables refactor
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
Due: cff-readme

alloydb variables refactor (#2599)
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
Due: cff-readme

dockerfile and reqs update
  blueprints/cloud-operations/network-quota-monitoring/Dockerfile
  blueprints/cloud-operations/network-quota-monitoring/src/main.py
  blueprints/cloud-operations/network-quota-monitoring/src/requirements.txt
Due: validate_metadata

update changelog
  CHANGELOG.md
Due: none

add extra job revision attributes
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

add extra job revision attributes (#2608)
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

deployment via cloud run jobs
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/README.md
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/main.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/outputs.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/variables.tf
  tests/blueprints/cloud_operations/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/deploy_cloudrun_job/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/deploy_cloudrun_job/examples/inventory.yaml
Due: validate_metadata

README
  blueprints/cloud-operations/network-quota-monitoring/README.md
Due: validate_metadata

boilerplate
  blueprints/cloud-operations/network-quota-monitoring/Dockerfile
  tests/blueprints/__init__.py
  tests/blueprints/cloud_operations/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/deploy_cloudrun_job/__init__.py
  tests/examples/__init__.py
Due: validate_metadata

Update outputs.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/outputs.tf
Due: validate_metadata

Add support for bundling net monitoring tool in a Docker image, and deploying via CR Job (#2609)
  blueprints/cloud-operations/network-quota-monitoring/Dockerfile
  blueprints/cloud-operations/network-quota-monitoring/README.md
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/README.md
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/main.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/outputs.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/variables.tf
  blueprints/cloud-operations/network-quota-monitoring/src/main.py
  blueprints/cloud-operations/network-quota-monitoring/src/requirements.txt
  tests/blueprints/cloud_operations/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/deploy_cloudrun_job/__init__.py
  tests/blueprints/cloud_operations/network_quota_monitoring/deploy_cloudrun_job/examples/inventory.yaml
  tests/examples/__init__.py
Due: validate_metadata

fix
  fast/stages/2-networking-b-nva/diagram-regional.svg
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
Due: cff-readme, tflint-fast, check-names

Fix project-factory SA indirections
  modules/project-factory/main.tf
Due: cff-readme

updated validation for cicd_repos
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

removed references to azdo
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-azure.yaml
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

added option for tfe_cicd
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers-defs.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/providers_gcs.tf.tpl
  fast/stages/0-bootstrap/templates/providers_terraform.tf.tpl
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-tenant-factory/tenant-fast-cicd.tf
Due: cff-readme, tflint-fast, check-names

formatting and readme
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
Due: cff-readme, tflint-fast, check-names

formatting
  fast/stages/1-tenant-factory/tenant-fast-cicd.tf
Due: cff-readme, tflint-fast, check-names

added terraform option for cicd_repos
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

update readme
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

modified provider templating for tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/providers_gcs.tf.tpl
  fast/stages/1-resman/templates/providers_terraform.tf.tpl
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-tenant-factory/identity-providers-defs.tf
  fast/stages/1-tenant-factory/outputs.tf
  fast/stages/1-tenant-factory/templates/providers_gcs.tf.tpl
  fast/stages/1-tenant-factory/templates/providers_terraform.tf.tpl
  fast/stages/1-tenant-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

added missing resman gsa
  fast/stages/1-tenant-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

updated readmes
  fast/stages/1-resman/README.md
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/outputs.tf
Due: cff-readme, tflint-fast, check-names

added options for tf style write/branch structure
  fast/stages/1-resman/README.md
  fast/stages/1-resman/cicd-data-platform.tf
  fast/stages/1-resman/cicd-gcve.tf
  fast/stages/1-resman/cicd-gke.tf
  fast/stages/1-resman/cicd-netsec.tf
  fast/stages/1-resman/cicd-networking.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/cicd-security.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

added cicf_backends to tests
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_tenant_factory/simple.tfvars
Due: none

added cicd_backends to tests
  tests/fast/stages/s1_resman/checklist.tfvars
Due: none

changed max prefix length to 10 in docu for tenants to avoid too long SA names
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

support log exclusions in bootstrap log sinks
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

support log exclusions in bootstrap log sinks (#2616)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

fix(artifact-registry): fix a move issue with tf>1.7
  modules/artifact-registry/iam.tf
Due: cff-readme

fix(artifact-registry): fix a move issue with tf>1.7 (#2617)
  modules/artifact-registry/iam.tf
Due: cff-readme

Small bugfix
  fast/stages/1-resman/organization.tf
Due: cff-readme, tflint-fast, check-names

Fixed reversed null check
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

added output for tfvars_globals
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: cff-readme, tflint-fast, check-names

GCVE network mode for 2-networking-b-nva stage (#2544)
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-pri/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-pri/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-sec/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-sec/rules.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-pri/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-sec/landing-default-sec.yaml
  fast/stages/2-networking-b-nva/diagram-regional.svg
  fast/stages/2-networking-b-nva/dns-landing.tf
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/net-regional-vpc.tf
  fast/stages/2-networking-b-nva/nva-bgp-ncc.tf
  fast/stages/2-networking-b-nva/nva-bgp.tf
  fast/stages/2-networking-b-nva/nva-regional-vpc.tf
  fast/stages/2-networking-b-nva/outputs.tf
  fast/stages/2-networking-b-nva/test-resources.tf
  fast/stages/2-networking-b-nva/variables.tf
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/tftest.yaml
Due: cff-readme, tflint-fast, check-names

added output for tfvars_globals (#2620)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: cff-readme, tflint-fast, check-names

Add Logging Data Defaults to Data Defaults and Data Overrides
  modules/project-factory/factory-projects.tf
  modules/project-factory/folders.tf
  modules/project-factory/variables.tf
Due: cff-readme

Run TFDoc & FMT
  modules/project-factory/README.md
  modules/project-factory/folders.tf
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
