Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Fix E2E tests.
  modules/cloud-function-v1/README.md
  modules/cloud-function-v2/README.md
  modules/cloud-run-v2/README.md
  modules/project/README.md
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures/secret-credentials.tf
  tests/modules/cloud_run_v2/examples/service-iam-env.yaml
  tests/modules/project/examples/iam-authoritative.yaml
  tests/modules/project/examples/iam-group.yaml
Due: cff-readme, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpPolicyRule.yaml
Due: check-names, duplicate-diff

Update documentation
  fast/stages/0-org-setup/datasets/hardened/README.md
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.networkRequireSubnetPrivateGoogleAccess.yaml
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-project-factory/data/projects/dev-app-a-0.yaml
  fast/stages/2-project-factory/data/projects/prod-app-a-0.yaml
  fast/stages/3-gke-dev/README.md
Due: cff-readme, check-names, duplicate-diff

changelog
  CHANGELOG.md
Due: none

Password for initial_user for AlloyDB is now rquired
  modules/alloydb/README.md
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/cross_region_replication.yaml
  tests/modules/alloydb/examples/custom.yaml
  tests/modules/alloydb/examples/psc.yaml
  tests/modules/alloydb/examples/read_pool.yaml
  tests/modules/alloydb/examples/simple.yaml
Due: cff-readme, duplicate-diff

stage README
  fast/stages/1-vpcsc/README.md
Due: cff-readme, check-names

vpc-sc in security stage
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/2-security/.fast-stage.env
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/main.tf
Due: cff-readme, check-names, duplicate-diff

vpc-sc for networking
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/2-networking/main.tf
Due: cff-readme, check-names, duplicate-diff

vpc-sc for net
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/defaults.yaml
Due: check-names, duplicate-diff

vpc-sc for pf
  fast/stages/2-project-factory/main.tf
Due: cff-readme, check-names, duplicate-diff

vpc-sc for pf
  fast/stages/2-project-factory/data/defaults.yaml
Due: check-names, duplicate-diff

spelling
  fast/stages/1-vpcsc/README.md
Due: cff-readme, check-names

inventory
  tests/fast/stages/s0_org_setup/simple.yaml
Due: duplicate-diff

Refactor FAST VPC-SC docs, ensure cooperative VPC-SC resource control works (#3504)
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/1-vpcsc/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/defaults.yaml
  fast/stages/2-networking/main.tf
  fast/stages/2-project-factory/data/defaults.yaml
  fast/stages/2-project-factory/main.tf
  fast/stages/2-security/.fast-stage.env
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/main.tf
  tests/fast/stages/s0_org_setup/simple.yaml
Due: cff-readme, check-names, duplicate-diff

Allow defining org-level pam_entitlements in 0-org-setup
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/organization.schema.json
  modules/organization/main.tf
  modules/organization/service-agents.tf
Due: cff-readme, check-names, duplicate-diff

Allow defining org-level pam_entitlements in 0-org-setup (#3506)
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/organization.schema.json
  modules/organization/main.tf
  modules/organization/service-agents.tf
Due: cff-readme, check-names, duplicate-diff

Another reason not to try
  CURSED_KNOWLEDGE.md
Due: none

Adding database_dialect support to Spanner Instance module
  modules/spanner-instance/main.tf
Due: cff-readme, duplicate-diff

[FAST] fix host project names in sample yaml files in project factory
  fast/stages/2-project-factory/data/projects/dev-app-a-0.yaml
  fast/stages/2-project-factory/data/projects/prod-app-a-0.yaml
Due: check-names, duplicate-diff

Add support for hyperdisk performance options
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/disk-hyperdisk-cust-performance.yaml
  tests/modules/compute_vm/examples/disk-hyperdisk-pool.yaml
Due: cff-readme, duplicate-diff

Add support for ARM based VMs
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/disk-hyperdisk-arm.yaml
Due: cff-readme, duplicate-diff

[FAST] fix host project names in sample yaml files in project factory (#3508)
  fast/stages/2-project-factory/data/projects/dev-app-a-0.yaml
  fast/stages/2-project-factory/data/projects/prod-app-a-0.yaml
Due: check-names, duplicate-diff

Manage a default for delete_default_routes_on_create in 2-networking
  fast/stages/2-networking/factory-vpcs.tf
Due: cff-readme, check-names, duplicate-diff

Sets a default for delete_default_routes_on_create in 2-networking
  fast/stages/2-networking/factory-vpcs.tf
Due: cff-readme, check-names, duplicate-diff

Sets a default for delete_default_routes_on_create in 2-networking (#3511)
  fast/stages/2-networking/factory-vpcs.tf
Due: cff-readme, check-names, duplicate-diff

Adding support for instance_settings to Spanner Instance module + updating module tfdocs
  modules/spanner-instance/README.md
  modules/spanner-instance/main.tf
  modules/spanner-instance/variables.tf
Due: cff-readme, duplicate-diff

vpcsc tfvars optional in net
  fast/stages/2-networking/.fast-stage.env
Due: check-names

net project/vpc renames
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

fix provider diffs in inventories
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: duplicate-diff

Rename project and VPC resources in net stage datasets (#3513)
  fast/stages/2-networking/.fast-stage.env
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-nva/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-peerings/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-vpns/vpcs/prod/.config.yaml
  tests/fast/stages/s2_networking/ncc.yaml
  tests/fast/stages/s2_networking/simple.yaml
  tests/fast/stages/s2_networking/vpns.yaml
Due: check-names, duplicate-diff

wip
  modules/folder/README.md
  modules/folder/main.tf
  modules/folder/variables.tf
Due: cff-readme, duplicate-diff

folder module
  modules/folder/README.md
  modules/folder/variables.tf
  tests/modules/folder/examples/autokey.yaml
Due: cff-readme, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
