Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

implement new-style context expansion in vpc-sc module
  modules/vpc-sc/README.md
  modules/vpc-sc/access-levels.tf
  modules/vpc-sc/main.tf
  modules/vpc-sc/perimeters-additive.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/context.tfvars
  tests/modules/vpc_sc/context.yaml
  tests/modules/vpc_sc/data/access-levels/test-context.yaml
  tests/modules/vpc_sc/data/egress-policies/test-context.yaml
  tests/modules/vpc_sc/data/ingress-policies/test-context.yaml
  tests/modules/vpc_sc/data/perimeters/default.yaml
  tests/modules/vpc_sc/data/restricted-services.yaml
  tests/modules/vpc_sc/tftest.yaml
Due: cff-readme

fix fast vpc-sc tests
  fast/stages/1-vpcsc/data/ingress-policies/fast-org-log-sinks.yaml
  fast/stages/1-vpcsc/data/perimeters/default.yaml
  fast/stages/1-vpcsc/main.tf
  tests/fast/stages/s1_vpcsc/data/vpc-sc/ingress-policies/fast-org-log-sinks.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/perimeters/default.yaml
  tests/fast/stages/s1_vpcsc/simple.tfvars
Due: cff-readme, tflint-fast, check-names

boilerplate
  tests/modules/vpc_sc/data/access-levels/test-context.yaml
  tests/modules/vpc_sc/data/egress-policies/test-context.yaml
Due: none

vpc sc stage
  fast-lite/0-bootstrap/data/defaults.yaml
  fast-lite/0-bootstrap/data/organization/.config.yaml
  fast-lite/0-bootstrap/data/projects/core/iac-0.yaml
  fast-lite/0-bootstrap/output-files.tf
  fast-lite/1-vpcsc/.fast-stage.env
  fast-lite/1-vpcsc/IAM.md
  fast-lite/1-vpcsc/README.md
  fast-lite/1-vpcsc/data/access-levels/geo.yaml
  fast-lite/1-vpcsc/data/ingress-policies/fast-org-log-sinks.yaml
  fast-lite/1-vpcsc/data/perimeters/default.yaml
  fast-lite/1-vpcsc/data/restricted-services.yaml
  fast-lite/1-vpcsc/diagram.png
  fast-lite/1-vpcsc/fast_version.txt
  fast-lite/1-vpcsc/main.tf
  fast-lite/1-vpcsc/outputs.tf
  fast-lite/1-vpcsc/schemas/access-level.schema.json
  fast-lite/1-vpcsc/schemas/access-level.schema.md
  fast-lite/1-vpcsc/schemas/egress-policy.schema.json
  fast-lite/1-vpcsc/schemas/egress-policy.schema.md
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.json
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.md
  fast-lite/1-vpcsc/schemas/perimeters.schema.json
  fast-lite/1-vpcsc/schemas/perimeters.schema.md
  fast-lite/1-vpcsc/variables-fast.tf
  fast-lite/1-vpcsc/variables.tf
  modules/project-factory-new/outputs.tf
Due: cff-readme, check-names

schemas
  fast-lite/0-bootstrap/schemas/billing-account.schema.md
  fast-lite/0-bootstrap/schemas/cicd.schema.json
  fast-lite/0-bootstrap/schemas/cicd.schema.md
  fast-lite/0-bootstrap/schemas/custom-role.schema.md
  fast-lite/0-bootstrap/schemas/defaults.schema.md
  fast-lite/0-bootstrap/schemas/folder.schema.md
  fast-lite/0-bootstrap/schemas/org-policies.schema.md
  fast-lite/0-bootstrap/schemas/organization.schema.md
  fast-lite/0-bootstrap/schemas/project.schema.md
  fast-lite/0-bootstrap/schemas/tags.schema.md
  fast-lite/1-vpcsc/schemas/access-level.schema.json
  fast-lite/1-vpcsc/schemas/access-level.schema.md
  fast-lite/1-vpcsc/schemas/egress-policy.schema.json
  fast-lite/1-vpcsc/schemas/egress-policy.schema.md
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.json
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.md
  fast-lite/1-vpcsc/schemas/perimeters.schema.json
  fast-lite/1-vpcsc/schemas/perimeters.schema.md
  fast/stages/1-vpcsc/schemas/egress-policy.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  modules/net-vpc-factory/schemas/network-project.schema.md
  modules/project-factory-new/schemas/budget.schema.md
  modules/project-factory-new/schemas/folder.schema.md
  modules/project-factory-new/schemas/project.schema.md
  modules/vpc-sc/schemas/egress-policy.schema.md
Due: check-names

fast-lite compatibility for vpc sc stage
  fast-lite/0-bootstrap/output-files.tf
  fast-lite/1-vpcsc/.fast-stage.env
  fast-lite/1-vpcsc/IAM.md
  fast-lite/1-vpcsc/README.md
  fast-lite/1-vpcsc/data/access-levels/geo.yaml
  fast-lite/1-vpcsc/data/ingress-policies/fast-org-log-sinks.yaml
  fast-lite/1-vpcsc/data/perimeters/default.yaml
  fast-lite/1-vpcsc/data/restricted-services.yaml
  fast-lite/1-vpcsc/diagram.png
  fast-lite/1-vpcsc/fast_version.txt
  fast-lite/1-vpcsc/main.tf
  fast-lite/1-vpcsc/outputs.tf
  fast-lite/1-vpcsc/schemas/access-level.schema.json
  fast-lite/1-vpcsc/schemas/access-level.schema.md
  fast-lite/1-vpcsc/schemas/egress-policy.schema.json
  fast-lite/1-vpcsc/schemas/egress-policy.schema.md
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.json
  fast-lite/1-vpcsc/schemas/ingress-policy.schema.md
  fast-lite/1-vpcsc/schemas/perimeters.schema.json
  fast-lite/1-vpcsc/schemas/perimeters.schema.md
  fast-lite/1-vpcsc/variables-fast.tf
  fast-lite/1-vpcsc/variables.tf
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
Due: cff-readme, tflint-fast, check-names

make log project number optional in vpc-sc stage
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

http_keep_alive_timeout_sec for internal application load balancers (HTTP and HTTPS)
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/variables.tf
Due: cff-readme

http_keep_alive_timeout_sec for internal application load balancers (HTTP and HTTPS)
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/variables.tf
Due: cff-readme

Added cross project support for backend bucket.
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Ran terraform fmt.
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Ran tfdoc.
  modules/net-lb-app-ext/README.md
Due: cff-readme

Update variables.tf
  modules/net-lb-app-int-cross-region/variables.tf
Due: cff-readme

Add Cloud Run Worker Pools
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloudrun-job/main.tf
  blueprints/networking/psc-glb-and-armor/modules/producer/main.tf
  blueprints/serverless/cloud-run-microservices/cloudrun.tf
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/workerpool.tf
  tests/modules/cloud_run_v2/examples/job-iam-env.yaml
  tests/modules/cloud_run_v2/examples/service-iam-env.yaml
  tests/modules/cloud_run_v2/examples/tags.yaml
Due: cff-readme, validate_metadata

Add support for GPUs in Cloud Run
  .github/pull_request_template.md
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/workerpool.tf
  tests/modules/cloud_run_v2/examples/gpu-job.yaml
  tests/modules/cloud_run_v2/examples/gpu-service.yaml
  tests/modules/cloud_run_v2/examples/gpu-workerpool.yaml
Due: cff-readme

Disable E2E for Cloud Run job, as there are some issues with the quota
  modules/cloud-run-v2/README.md
Due: cff-readme

E2E: Align triggers location to the bucket
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  tests/fixtures/gcs.tf
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-external-sa.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-pubsub-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-storage-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-storage.yaml
Due: cff-readme

Remove support for creating SA for event arc triggers
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-external-sa.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-pubsub-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-storage-sa-create.yaml
Due: cff-readme

Fix references to service_account
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-external-sa.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-storage.yaml
Due: cff-readme

Add cross project support for backend bucket (#3273)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

changelog
  CHANGELOG.md
Due: none

Add keep_alive timeout for LBs that support it
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
Due: cff-readme

Pull changes from main
  modules/net-lb-app-int-cross-region/README.md
Due: cff-readme

Set node_pool_auto_config for GKE standard cluster only if auto provisioning is enabled
  modules/gke-cluster-standard/main.tf
Due: cff-readme

handle null dereference for terraform cli less than v1.12
  modules/gke-cluster-standard/main.tf
Due: cff-readme

networking
  fast-lite/0-bootstrap/data/billing-accounts/default.yaml
  fast-lite/0-bootstrap/data/organization/tags/environment.yaml
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
Due: cff-readme, tflint-fast, check-names

networking
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

networking
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
Due: cff-readme, tflint-fast, check-names
