Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

net firewall policy
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/main.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-h.tfvars
  tests/modules/net_firewall_policy/context-h.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_firewall_policy/tftest.yaml
Due: cff-readme

Checkpoint
  fast/stages/2-networking/README.md
  fast/stages/2-networking/TODO.md
  fast/stages/2-networking/_factory-testvms.tf
  fast/stages/2-networking/factory-vpcs.tf
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/README.md
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/diagram-ncc.png
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/diagram-ncc.svg
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/dev/subnets/dev-dataplatform.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/dev/subnets/dev-default.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/dev/subnets/dev-gke-nodes.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/hub/firewall-rules/default-ingress.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/hub/subnets/hub-default.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/hub/vpns/onprem.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/prod/subnets/prod-default.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-nva/defaults.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-peerings/defaults.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-vpns/defaults.yaml
  modules/net-vpc/subnets.tf
Due: cff-readme, tflint-fast, check-names

Make SSM gitignores a list (#3413)
  modules/secure-source-manager-instance/README.md
  modules/secure-source-manager-instance/variables.tf
  tests/modules/secure_source_manager_instance/examples/initial-config.yaml
Due: cff-readme

NCC Readme stub
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/README.md
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/dns/zones/net-core-0/peer-root.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/dns/zones/net-dev-0/pvt-dev-test.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/dns/zones/net-prod-0/pvt-prod-test.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/hub/subnets/hub-default.yaml
  fast/stages/2-networking/recipes/hub-and-spokes-ncc/vpcs/hub/vpns/onprem.yaml
Due: cff-readme, check-names

Add support for context to net-cloudnat, net-firewall-policy modules (#3414)
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/main.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
  tests/modules/net_cloudnat/context.tfvars
  tests/modules/net_cloudnat/context.yaml
  tests/modules/net_cloudnat/tftest.yaml
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-h.tfvars
  tests/modules/net_firewall_policy/context-h.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_firewall_policy/tftest.yaml
Due: cff-readme

Fix 3-data-platform-dev stage config variable
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/variables.tf
  tests/fast/stages/s3_data_platform_dev/simple.tfvars
Due: cff-readme, tflint-fast, check-names

net-lb-int
  modules/net-lb-int/README.md
  modules/net-lb-int/groups.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  tests/modules/net_lb_int/context.tfvars
  tests/modules/net_lb_int/context.yaml
  tests/modules/net_lb_int/tftest.yaml
Due: cff-readme

net-vpc-firewall
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/default-rules.tf
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
  tests/modules/net_vpc_firewall/context.tfvars
  tests/modules/net_vpc_firewall/context.yaml
  tests/modules/net_vpc_firewall/tftest.yaml
Due: cff-readme

net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/psa.tf
  modules/net-vpc/routes.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Due: cff-readme

Implemented the same for every stage 3 stages.
  fast/stages/3-gcve-dev/README.md
  fast/stages/3-gcve-dev/variables.tf
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/variables.tf
  fast/stages/3-secops-dev/README.md
  fast/stages/3-secops-dev/variables.tf
  tests/fast/stages/s3_gcve_dev/simple.tfvars
  tests/fast/stages/s3_gke_dev/simple.tfvars
  tests/fast/stages/s3_secops_dev/simple.tfvars
Due: cff-readme, tflint-fast, check-names

Added retention support for project-factory buckets
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  modules/project-factory/projects-buckets.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: cff-readme, check-names

Cleanup
  fast/stages/0-org-setup/schemas/project.schema.md
Due: check-names

Added missing audiences to fast_0_org_setup
  fast/stages/0-org-setup/cicd.tf
Due: cff-readme, tflint-fast, check-names

Run terraform fmt
  fast/stages/0-org-setup/cicd.tf
Due: cff-readme, tflint-fast, check-names

net-vpc
  modules/net-vpc/internal-ranges.tf
  modules/net-vpc/main.tf
  modules/net-vpc/routes.tf
  modules/net-vpc/subnets.tf
  tests/modules/net_vpc/context.tfvars
  tests/modules/net_vpc/context.yaml
  tests/modules/net_vpc/tftest.yaml
Due: cff-readme

support legacy regions context in net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/variables.tf
Due: cff-readme

fix failing test
  modules/net-vpc/internal-ranges.tf
Due: cff-readme

Add support for context to net-lb-int net-vpc-firewall and net-vpc module (#3419)
  modules/net-lb-int/README.md
  modules/net-lb-int/groups.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/default-rules.tf
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/internal-ranges.tf
  modules/net-vpc/main.tf
  modules/net-vpc/psa.tf
  modules/net-vpc/routes.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_lb_int/context.tfvars
  tests/modules/net_lb_int/context.yaml
  tests/modules/net_vpc/context.tfvars
  tests/modules/net_vpc/context.yaml
  tests/modules/net_vpc/tftest.yaml
  tests/modules/net_vpc_firewall/context.tfvars
  tests/modules/net_vpc_firewall/context.yaml
  tests/modules/net_vpc_firewall/tftest.yaml
Due: cff-readme

changelog
  CHANGELOG.md
Due: none

net-vpn-ha
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/context.tfvars
  tests/modules/net_vpn_ha/context.yaml
  tests/modules/net_vpn_ha/tftest.yaml
Due: cff-readme

net-vpn-ha (#3420)
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/context.tfvars
  tests/modules/net_vpn_ha/context.yaml
  tests/modules/net_vpn_ha/tftest.yaml
Due: cff-readme

Adds network_id to net-vpc outputs
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: cff-readme

Fixes description
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: cff-readme

Adds network_id to net-vpc outputs (#3421)
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: cff-readme

Make local.rules convertible to map
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
Due: cff-readme

First commit
  README.md
  modules/README.md
  modules/bigquery-connection/README.md
  modules/bigquery-connection/iam.tf
  modules/bigquery-connection/main.tf
  modules/bigquery-connection/outputs.tf
  modules/bigquery-connection/variables.tf
  tests/modules/bigquery_connection/examples/cloudsql.yaml
  tests/modules/bigquery_connection/examples/cloudsql_kms.yaml
  tests/modules/bigquery_connection/examples/spanner.yaml
Due: cff-readme

Support CIDR range sets in firewall modules context
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-h.tfvars
  tests/modules/net_firewall_policy/context-h.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_vpc_firewall/context.tfvars
  tests/modules/net_vpc_firewall/context.yaml
Due: cff-readme

refine variables and outputs
  modules/bigquery-connection/README.md
  modules/bigquery-connection/iam.tf
  modules/bigquery-connection/outputs.tf
  modules/bigquery-connection/variables.tf
Due: cff-readme

Support CIDR range sets in firewall modules context (#3424)
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-h.tfvars
  tests/modules/net_firewall_policy/context-h.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_vpc_firewall/context.tfvars
  tests/modules/net_vpc_firewall/context.yaml
Due: cff-readme

Fix lint
  modules/bigquery-connection/outputs.tf
Due: cff-readme

Fix linting.
  modules/bigquery-connection/README.md
  modules/bigquery-connection/outputs.tf
  modules/bigquery-connection/variables.tf
Due: cff-readme

Update change
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
Due: check-names

bigquery-dataset: add missing return_type to routines, fix view schema encode, add dependency between routines and views
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Due: cff-readme

Fix test.
  tests/modules/bigquery_dataset/examples/routines.yaml
Due: none

Adds context support to peering zones
  modules/dns/main.tf
  tests/modules/dns/context-peering.tfvars
  tests/modules/dns/context-peering.yaml
  tests/modules/dns/context-private.tfvars
  tests/modules/dns/context-private.yaml
  tests/modules/dns/tftest.yaml
Due: cff-readme

Add missing project number variable to outputs in 0-org-setup stage
  fast/stages/0-org-setup/output-files.tf
Due: cff-readme, tflint-fast, check-names

Always use local.project_id in net-vpc
  modules/net-vpc/main.tf
  modules/net-vpc/outputs.tf
  modules/net-vpc/psa.tf
Due: cff-readme

Fixed typo
  fast/stages/0-org-setup/output-files.tf
Due: cff-readme, tflint-fast, check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
