Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Add example for context on net-lb-int readme; udpated copyright
  modules/net-lb-int/README.md
  modules/net-lb-int/groups.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-int/recipe-ilb-next-hop/assets/gw.yaml
  modules/net-lb-int/recipe-ilb-next-hop/backend.tf.sample
  modules/net-lb-int/recipe-ilb-next-hop/gateways.tf
  modules/net-lb-int/recipe-ilb-next-hop/main.tf
  modules/net-lb-int/recipe-ilb-next-hop/outputs.tf
  modules/net-lb-int/recipe-ilb-next-hop/variables.tf
  modules/net-lb-int/recipe-ilb-next-hop/vms.tf
  modules/net-lb-int/recipe-ilb-next-hop/vpc-left.tf
  modules/net-lb-int/recipe-ilb-next-hop/vpc-right.tf
  modules/net-lb-int/variables.tf
  tests/modules/net_lb_int/context.tfvars
  tests/modules/net_lb_int/defaults.tfvars
  tests/modules/net_lb_int/defaults.yaml
  tests/modules/net_lb_int/examples/context.yaml
  tests/modules/net_lb_int/forwarding-rule.tfvars
  tests/modules/net_lb_int/forwarding-rule.yaml
  tests/modules/net_lb_int/health-checks-grpc.tfvars
  tests/modules/net_lb_int/health-checks-grpc.yaml
  tests/modules/net_lb_int/health-checks-http.tfvars
  tests/modules/net_lb_int/health-checks-http.yaml
  tests/modules/net_lb_int/health-checks-http2.tfvars
  tests/modules/net_lb_int/health-checks-http2.yaml
  tests/modules/net_lb_int/health-checks-https.tfvars
  tests/modules/net_lb_int/health-checks-https.yaml
  tests/modules/net_lb_int/health-checks-ssl.tfvars
  tests/modules/net_lb_int/health-checks-ssl.yaml
  tests/modules/net_lb_int/health-checks-tcp.tfvars
  tests/modules/net_lb_int/health-checks-tcp.yaml
  tests/modules/net_lb_int/tftest.yaml
Due: cff-readme, duplicate-diff

Add context to net-lb-app-ext module
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/groups.tf
  modules/net-lb-app-ext/health-check.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables.tf
  tests/modules/net_lb_app_ext/examples/context.yaml
Due: cff-readme, duplicate-diff

Update tfdoc
  modules/net-lb-app-ext/README.md
Due: cff-readme

Add line at eof
  tests/modules/net_lb_app_ext/examples/context.yaml
Due: duplicate-diff

Update context for net-lb-app-int module and add example in README.md
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/main.tf
  tests/modules/net_lb_app_int/examples/context.yaml
Due: cff-readme, duplicate-diff

Fix tests
  modules/net-lb-app-ext/README.md
Due: cff-readme

Add context to net-address module (#3876)
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/outputs.tf
  modules/net-address/psc.tf
  modules/net-address/variables.tf
  tests/modules/net_address/examples/context.yaml
  tests/modules/net_address/examples/external.yaml
  tests/modules/net_address/examples/internal.yaml
  tests/modules/net_address/examples/ipsec-interconnect.yaml
  tests/modules/net_address/examples/ipv6.yaml
  tests/modules/net_address/examples/network-attachments.yaml
  tests/modules/net_address/examples/psa.yaml
  tests/modules/net_address/examples/psc-global.yaml
  tests/modules/net_address/examples/psc-service-attachment-all-apis.yaml
  tests/modules/net_address/examples/psc-service-attachment.yaml
  tests/modules/net_address/examples/psc.yaml
Due: cff-readme, duplicate-diff

Add example for context on net-lb-int readme; updated copyright (#3878)
  modules/net-lb-int/README.md
  modules/net-lb-int/groups.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-int/recipe-ilb-next-hop/assets/gw.yaml
  modules/net-lb-int/recipe-ilb-next-hop/backend.tf.sample
  modules/net-lb-int/recipe-ilb-next-hop/gateways.tf
  modules/net-lb-int/recipe-ilb-next-hop/main.tf
  modules/net-lb-int/recipe-ilb-next-hop/outputs.tf
  modules/net-lb-int/recipe-ilb-next-hop/variables.tf
  modules/net-lb-int/recipe-ilb-next-hop/vms.tf
  modules/net-lb-int/recipe-ilb-next-hop/vpc-left.tf
  modules/net-lb-int/recipe-ilb-next-hop/vpc-right.tf
  modules/net-lb-int/variables.tf
  tests/modules/net_lb_int/context.tfvars
  tests/modules/net_lb_int/defaults.tfvars
  tests/modules/net_lb_int/defaults.yaml
  tests/modules/net_lb_int/examples/context.yaml
  tests/modules/net_lb_int/forwarding-rule.tfvars
  tests/modules/net_lb_int/forwarding-rule.yaml
  tests/modules/net_lb_int/health-checks-grpc.tfvars
  tests/modules/net_lb_int/health-checks-grpc.yaml
  tests/modules/net_lb_int/health-checks-http.tfvars
  tests/modules/net_lb_int/health-checks-http.yaml
  tests/modules/net_lb_int/health-checks-http2.tfvars
  tests/modules/net_lb_int/health-checks-http2.yaml
  tests/modules/net_lb_int/health-checks-https.tfvars
  tests/modules/net_lb_int/health-checks-https.yaml
  tests/modules/net_lb_int/health-checks-ssl.tfvars
  tests/modules/net_lb_int/health-checks-ssl.yaml
  tests/modules/net_lb_int/health-checks-tcp.tfvars
  tests/modules/net_lb_int/health-checks-tcp.yaml
  tests/modules/net_lb_int/tftest.yaml
Due: cff-readme, duplicate-diff

Fix linting
  tests/modules/net_lb_app_int/examples/context.yaml
Due: duplicate-diff

Add context to net-lb-app-ext module (#3879)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/groups.tf
  modules/net-lb-app-ext/health-check.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables.tf
  tests/modules/net_lb_app_ext/examples/context.yaml
Due: cff-readme, duplicate-diff

Add context to net-lb-app-int module (#3880)
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/main.tf
  tests/modules/net_lb_app_int/examples/context.yaml
Due: cff-readme, duplicate-diff

feat(cloud-function-v2): add support for min_instance_count
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme, duplicate-diff

feat(agent-engine): add support for container and custom image specs
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/container.yaml
  tests/modules/agent_engine/examples/image-spec.yaml
Due: cff-readme, duplicate-diff

Add more context and tests to agent-engine module
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/context.yaml
Due: cff-readme, duplicate-diff

Update guidelines for PR review comments
  tools/pr_review.py
Due: none

Update guidelines for PR review comments (#3888)
  tools/pr_review.py
Due: none

Add example "Remote Docker registry with credentials" for artifact-registry
  modules/artifact-registry/README.md
Due: cff-readme

Add more context and tests to agent-engine module (#3886)
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/context.yaml
Due: cff-readme, duplicate-diff

Add more context to automated reviews
  .github/workflows/pr-review.yml
  tools/pr_review.py
Due: none

feat(agent-engine): refactor for container deployments and API alignment
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/main.tf
  modules/agent-engine/variables.tf
  tests/modules/agent_engine/examples/container.yaml
  tests/modules/agent_engine/examples/encryption.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/image-spec.yaml
  tests/modules/agent_engine/examples/minimal-pickle.yaml
  tests/modules/agent_engine/examples/minimal.yaml
  tests/modules/agent_engine/examples/pickle-gcs.yaml
  tests/modules/agent_engine/examples/psc-i.yaml
  tests/modules/agent_engine/examples/sa-custom.yaml
  tests/modules/agent_engine/examples/sa-default.yaml
  tests/modules/agent_engine/examples/unmanaged.yaml
Due: cff-readme, duplicate-diff

Add more context to automated reviews (#3891)
  .github/workflows/pr-review.yml
  tools/pr_review.py
Due: none

Update dynamic python_spec block and related example yamls
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  tests/modules/agent_engine/examples/context.yaml
  tests/modules/agent_engine/examples/encryption.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/minimal.yaml
  tests/modules/agent_engine/examples/psc-i.yaml
  tests/modules/agent_engine/examples/sa-custom.yaml
  tests/modules/agent_engine/examples/sa-default.yaml
  tests/modules/agent_engine/examples/unmanaged.yaml
Due: cff-readme, duplicate-diff

feat(2-networking): add support for static IPs NAT
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-cloudnat.tf
  fast/stages/2-networking/schemas/vpc.schema.json
  tests/fast/stages/s2_networking/data-teststatic-ips-nat/defaults.yaml
  tests/fast/stages/s2_networking/data-teststatic-ips-nat/projects/net-core-0.yaml
  tests/fast/stages/s2_networking/data-teststatic-ips-nat/vpcs/core/.config.yaml
  tests/fast/stages/s2_networking/data-teststatic-ips-nat/vpcs/core/subnets/core-default.yaml
  tests/fast/stages/s2_networking/static_ips_nat.tfvars
  tests/fast/stages/s2_networking/static_ips_nat.yaml
  tests/fast/stages/s2_networking/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

fix(linting): fix linting
  fast/stages/2-networking/schemas/vpc.schema.md
  tests/fast/stages/s2_networking/static_ips_nat.yaml
Due: check-names, duplicate-diff

Fix schema docs and regenerate vlan_attachments test outputs
  fast/stages/2-networking/schemas/attachment-groups.schema.md
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: check-names, duplicate-diff

Fixing folder-level essential contacts provisioning in project-factory module
  modules/project-factory/folders.tf
Due: cff-readme, duplicate-diff

Skip IAM for the Agent Gateway Service Agent
  modules/project/service-agents.yaml
  tools/build_service_agents.py
Due: duplicate-diff

fix(cloudsql-instance): support context interpolation for psc_allowed_consumer_projects
  modules/cloudsql-instance/main.tf
Due: cff-readme, duplicate-diff

Fix tests
  modules/apigee/recipe-apigee-swp/README.md
  tests/modules/project/service_agents.yaml
  tests/modules/project/service_agents_universe.yaml
Due: cff-readme, duplicate-diff

Skip IAM for the Agent Gateway Service Agent (#3893)
  modules/apigee/recipe-apigee-swp/README.md
  modules/project/service-agents.yaml
  tests/modules/project/service_agents.yaml
  tests/modules/project/service_agents_universe.yaml
  tools/build_service_agents.py
Due: cff-readme, duplicate-diff

First draft implementation
  modules/application-factory/PRD.md
  modules/application-factory/PROMPT.md
  modules/application-factory/artifact-registry.tf
  modules/application-factory/bigquery.tf
  modules/application-factory/cloudsql.tf
  modules/application-factory/compute-vm.tf
  modules/application-factory/gcs.tf
  modules/application-factory/main.tf
  modules/application-factory/net-lb-app-int.tf
  modules/application-factory/net-lb-int.tf
  modules/application-factory/outputs.tf
  modules/application-factory/pubsub.tf
  modules/application-factory/sample/artifact-registry/app-docker.yaml
  modules/application-factory/sample/bigquery/app-dataset.yaml
  modules/application-factory/sample/cloudsql/app-db.yaml
  modules/application-factory/sample/compute-vm/app-server.yaml
  modules/application-factory/sample/gcs/app-data.yaml
  modules/application-factory/sample/net-lb-app-int/app-http-lb.yaml
  modules/application-factory/sample/net-lb-int/app-lb.yaml
  modules/application-factory/sample/pubsub/app-events.yaml
  modules/application-factory/sample/secret-manager/app-secrets.yaml
  modules/application-factory/sample/service-accounts/app-sa.yaml
  modules/application-factory/sample/service-accounts/ci-sa.yaml
  modules/application-factory/schemas/artifact-registry.schema.json
  modules/application-factory/schemas/bigquery.schema.json
  modules/application-factory/schemas/cloudsql.schema.json
  modules/application-factory/schemas/compute-vm.schema.json
  modules/application-factory/schemas/gcs.schema.json
  modules/application-factory/schemas/net-lb-app-int.schema.json
  modules/application-factory/schemas/net-lb-int.schema.json
  modules/application-factory/schemas/pubsub.schema.json
  modules/application-factory/schemas/secret-manager.schema.json
  modules/application-factory/schemas/service-account.schema.json
  modules/application-factory/secret-manager.tf
  modules/application-factory/service-accounts.tf
  modules/application-factory/variables.tf
Due: cff-readme, duplicate-diff

Progress
  modules/application-factory/cloudsql.tf
  modules/application-factory/compute-vm.tf
  modules/application-factory/gcs.tf
  modules/application-factory/net-lb-app-int.tf
  modules/application-factory/service-accounts.tf
  modules/application-factory/variables.tf
Due: cff-readme, duplicate-diff

chore: update CHANGELOG.md links format
  CHANGELOG.md
Due: none

feat: changelog bump without links list
  tools/changelog.py
Due: none

test(cloudsql-instance): add context tests for psc_allowed_consumer_projects
  tests/modules/cloudsql_instance/context.tfvars
  tests/modules/cloudsql_instance/context.yaml
Due: duplicate-diff

update changelog
  CHANGELOG.md
Due: none
