Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

updated MongoDB connectivity using Private service connect
  fast/project-templates/data-mongodb/main.tf
Due: cff-readme, check-names, duplicate-diff

feat(fast/data-mongodb): add MongoDB Atlas database user resource
  fast/project-templates/data-mongodb/README.md
  fast/project-templates/data-mongodb/main.tf
  fast/project-templates/data-mongodb/variables.tf
Due: cff-readme, check-names, duplicate-diff

Update stage 0 test inventories
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/output-files.tf
  tests/fast/stages/s0_org_setup/caa.yaml
  tests/fast/stages/s0_org_setup/customizations.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/fast/stages/s0_org_setup/starter-gcd.yaml
Due: cff-readme, check-names, duplicate-diff

Update stage 0 test inventories (#4059)
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/output-files.tf
  tests/fast/stages/s0_org_setup/caa.yaml
  tests/fast/stages/s0_org_setup/customizations.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
  tests/fast/stages/s0_org_setup/starter-gcd.yaml
Due: cff-readme, check-names, duplicate-diff

Fix folder schema
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  tools/skill-turn-harness/playbooks/playbook.schema.md
Due: check-names

Fix folder schema (#4061)
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  tools/skill-turn-harness/playbooks/playbook.schema.md
Due: check-names

add lb service policy
  modules/net-lb-proxy-int-cross-region/backend-service.tf
Due: cff-readme, duplicate-diff

Add DNS peering support to agent-gateway module
  modules/agent-gateway/README.md
  modules/agent-gateway/main.tf
  modules/agent-gateway/variables.tf
  tests/modules/agent_gateway/examples/peering.yaml
Due: cff-readme, duplicate-diff

Fix agent engine tests
  tests/modules/agent_engine/examples/container.yaml
  tests/modules/agent_engine/examples/context.yaml
  tests/modules/agent_engine/examples/deletion-protection.yaml
  tests/modules/agent_engine/examples/encryption.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/image-spec.yaml
  tests/modules/agent_engine/examples/memory-bank.yaml
  tests/modules/agent_engine/examples/minimal-pickle.yaml
  tests/modules/agent_engine/examples/minimal.yaml
  tests/modules/agent_engine/examples/pickle-gcs.yaml
  tests/modules/agent_engine/examples/psc-i.yaml
  tests/modules/agent_engine/examples/sa-create.yaml
  tests/modules/agent_engine/examples/sa-external.yaml
  tests/modules/agent_engine/examples/unmanaged.yaml
Due: duplicate-diff

Silence linter
  tests/modules/agent_engine/examples/container.yaml
  tests/modules/agent_engine/examples/environment.yaml
  tests/modules/agent_engine/examples/image-spec.yaml
  tests/modules/agent_engine/examples/memory-bank.yaml
  tests/modules/agent_engine/examples/minimal-pickle.yaml
  tests/modules/agent_engine/examples/pickle-gcs.yaml
  tests/modules/agent_engine/examples/sa-create.yaml
Due: duplicate-diff

add var check
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

Update variables.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

Update backend-service.tf
  modules/net-lb-proxy-int-cross-region/backend-service.tf
Due: cff-readme, duplicate-diff

Remove dependency on module.addresses in main.tf
  fast/project-templates/data-mongodb/main.tf
Due: cff-readme, check-names, duplicate-diff

fix: update reference
  modules/net-lb-proxy-int-cross-region/backend-service.tf
Due: cff-readme, duplicate-diff

modules/iam-service-account: mirror email in output name for create/reuse symmetry
  modules/iam-service-account/README.md
  modules/iam-service-account/outputs.tf
Due: cff-readme, duplicate-diff

test(iam-service-account): update universe.yaml output name assertion
  tests/modules/iam_service_account/universe.yaml
Due: duplicate-diff

Fix `name` output in iam-service-account module (#4063)
  modules/iam-service-account/README.md
  modules/iam-service-account/outputs.tf
  tests/modules/iam_service_account/universe.yaml
Due: cff-readme, duplicate-diff

feat: add lb mode to tls route proxy (#12)
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

feat(compute-vm): add external_ipv6 to network_interfaces
  modules/compute-vm/instance.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

docs: update compute-vm docs for external_ipv6
  modules/compute-vm/README.md
Due: cff-readme

Manual stage 0 complete
  fast/stages/0-org-setup/datasets/classic/cicd.yaml
  fast/stages/0-org-setup/datasets/classic/defaults.yaml
  fast/stages/0-org-setup/datasets/classic/folders/networking/staging/.config.yaml
  fast/stages/0-org-setup/datasets/classic/folders/sandbox/.config.yaml
  fast/stages/0-org-setup/datasets/classic/folders/security/staging/.config.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/auditConfigChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/binaryAuthorizationPolicyChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/cloudsqlInstanceChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/customRoleChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/firewallRuleChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/networkChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/projectOwnershipChange.yaml
  fast/stages/0-org-setup/datasets/classic/observability/log-0/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/datasets/classic/organization/custom-constraints/gke.yaml
  fast/stages/0-org-setup/datasets/classic/organization/custom-constraints/sql.yaml
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/gke.yaml
  fast/stages/0-org-setup/datasets/classic/organization/org-policies/sql.yaml
  fast/stages/0-org-setup/datasets/classic/organization/tags/environment.yaml
  fast/stages/0-org-setup/datasets/classic/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/classic/projects/core/log-0.yaml
  fast/stages/stayhome-ai-design/deployment-state.md
  fast/stages/stayhome-ai-design/landing-zone-design.md
  fast/stages/stayhome-ai-design/output-0-org-setup.txt
  fast/stages/stayhome-ai-design/setRequiredRoles.sh
  fast/stages/stayhome-ai-design/upstream-bug-log-buckets-cross-project-ctx.md
Due: check-names, duplicate-diff

Successfully migrated local stage 0 state to GCS. Updating deployment state file.
  fast/stages/stayhome-ai-design/deployment-state.md
Due: check-names

feat(net-lb-app-ext-regional): Add the HTTP keep alive timeout attribute for HTTP and HTTPS proxy config variables. This to allow modification of this parameter for Regional Ext App LB
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: cff-readme, duplicate-diff

support multi backend services
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/outputs.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

Add external_ipv6 to compute-vm module network_interfaces (#4064)
  modules/compute-vm/README.md
  modules/compute-vm/instance.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

Add conditional IAM bindings support for service accounts
  adrs/modules/20260727-sa-iam-conditions.md
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables-iam.tf
  tests/modules/iam_service_account/examples/iam-bindings.yaml
Due: cff-readme, duplicate-diff

Expand conditional IAM bindings example in service account module
  modules/iam-service-account/README.md
  tests/modules/iam_service_account/examples/iam-bindings.yaml
Due: cff-readme, duplicate-diff

Add conditional IAM bindings support to project factory
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/projects-service-accounts.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Propagate project and folder schema parity to FAST stages
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
Due: check-names

Add conditional IAM bindings support for external resources in service account module (#4071)
  adrs/modules/20260727-sa-iam-conditions.md
  fast/stages/0-org-setup/schemas/folder.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/folder.schema.json
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.json
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/folder.schema.json
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables-iam.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/projects-service-accounts.tf
  modules/project-factory/schemas/folder.schema.json
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  tests/modules/iam_service_account/examples/iam-bindings.yaml
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Add native tag bindings support to net-firewall-policy
  fast/stages/2-networking/factory-firewall-policies.tf
  fast/stages/2-networking/schemas/firewall-policy.schema.json
  fast/stages/2-networking/schemas/firewall-policy.schema.md
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/tags.tf
  modules/net-firewall-policy/variables.tf
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/global.yaml
  tests/fast/stages/s2_networking/fw_policies.yaml
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_firewall_policy/examples/global-net.yaml
Due: cff-readme, check-names, duplicate-diff

Add native tag bindings support to net-firewall-policy (#4072)
  fast/stages/2-networking/factory-firewall-policies.tf
  fast/stages/2-networking/schemas/firewall-policy.schema.json
  fast/stages/2-networking/schemas/firewall-policy.schema.md
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/tags.tf
  modules/net-firewall-policy/variables.tf
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/global.yaml
  tests/fast/stages/s2_networking/fw_policies.yaml
  tests/modules/net_firewall_policy/context-g.tfvars
  tests/modules/net_firewall_policy/context-g.yaml
  tests/modules/net_firewall_policy/context-r.tfvars
  tests/modules/net_firewall_policy/context-r.yaml
  tests/modules/net_firewall_policy/examples/global-net.yaml
Due: cff-readme, check-names, duplicate-diff

Fix tag binding parent path using numeric ID
  modules/net-firewall-policy/tags.tf
Due: cff-readme, duplicate-diff

Add GKE Backup Restore Plans support
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/backup.yaml
Due: cff-readme, duplicate-diff
