Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

No new lines within single resources block
  modules/net-vpn-ha/main.tf
Due: cff-readme, duplicate-diff

Adds support for custom learned routes to net-vpn-ha (#3523)
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
Due: cff-readme, duplicate-diff

fix schema doc tool, fix schema errors, regenerate schema docs
  fast/stages/0-org-setup/schemas/cicd.schema.md
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/organization.schema.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/0-org-setup/schemas/tags.schema.md
  fast/stages/1-vpcsc/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/defaults.schema.json
  fast/stages/2-networking/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/dns-response-policy-rules.schema.md
  fast/stages/2-networking/schemas/dns.schema.md
  fast/stages/2-networking/schemas/firewall-policy.schema.md
  fast/stages/2-networking/schemas/firewall-rules.schema.md
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/ncc-hub.schema.md
  fast/stages/2-networking/schemas/nva.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-networking/schemas/subnet.schema.md
  fast/stages/2-networking/schemas/vpc.schema.md
  fast/stages/2-networking/schemas/vpn.schema.md
  fast/stages/2-project-factory/schemas/defaults.schema.json
  fast/stages/2-project-factory/schemas/defaults.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/certificate-authority.schema.md
  fast/stages/2-security/schemas/defaults.schema.md
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/keyring.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/net-vpc/schemas/internal-range.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project/schemas/tags.schema.md
  modules/vpc-sc/schemas/perimeter.schema.md
  modules/workstation-cluster/schemas/workstation-config.schema.md
  tools/schema_docs.py
Due: check-names

remove unneeded var
  tools/schema_docs.py
Due: none

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshRule.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.networkRequireSubnetPrivateGoogleAccess.yaml
Due: check-names, duplicate-diff

Prettify the custom sha
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireVPCConnector.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireBinaryAuthorization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/computeDisableNestedVirtualization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeDisableClientCertificateAuth.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireDataplaneV2.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireRegionalCluster.yaml
Due: check-names, duplicate-diff

Prettify documentation
  fast/stages/0-org-setup/datasets/hardened/organization/observability/auditConfigChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/cloudsqlInstanceChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/customRoleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/projectOwnershipChange.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/storageIamChanges.yaml
Due: check-names, duplicate-diff

Prettify monitoring alerts
  fast/stages/0-org-setup/datasets/hardened/organization/observability/customRoleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/projectOwnershipChange.yaml
Due: check-names, duplicate-diff

Prettify controls
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudsqlRequirePointInTimeRecovery.yaml
Due: check-names, duplicate-diff

rendering tweaks
  fast/addons/2-networking-test/schemas/instance.schema.md
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/folder.schema.md
  fast/stages/0-org-setup/schemas/organization.schema.md
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/1-vpcsc/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/dns.schema.md
  fast/stages/2-networking/schemas/folder.schema.md
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-networking/schemas/subnet.schema.md
  fast/stages/2-project-factory/schemas/defaults.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/defaults.schema.md
  fast/stages/2-security/schemas/folder.schema.md
  fast/stages/2-security/schemas/project.schema.md
  modules/net-vpc/schemas/internal-range.schema.md
  modules/net-vpc/schemas/subnet.schema.md
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.md
  modules/project/schemas/observability.schema.md
  modules/project/schemas/quotas.schema.md
  modules/workstation-cluster/schemas/workstation-config.schema.md
  tools/schema_docs.py
Due: check-names

fix
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshRule.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictPublicAccessRule.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.gkeRequireNodePoolSandbox.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/sql.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/sql.yaml
Due: check-names, duplicate-diff

Prettify yaml controls
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictPublicAccessRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.gkeRequireNodePoolSandbox.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.networkRequireSubnetPrivateGoogleAccess.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/auditConfigChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/cloudsqlInstanceChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/customRoleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/projectOwnershipChange.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireVPCConnector.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireBinaryAuthorization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudsqlRequirePointInTimeRecovery.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/computeDisableNestedVirtualization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeDisableClientCertificateAuth.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireDataplaneV2.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireRegionalCluster.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
Due: check-names, duplicate-diff

Prettify yaml controls (#3525)
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictPublicAccessRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictRdpRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSshRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.gkeRequireNodePoolSandbox.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.networkRequireSubnetPrivateGoogleAccess.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/auditConfigChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/cloudsqlInstanceChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/customRoleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallPolicyRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/firewallRuleChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/networkRouteChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/projectOwnershipChange.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/storageIamChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudfunctionsV1RequireVPCConnector.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireBinaryAuthorization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireIngressInternalAndLoadBalancer.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudsqlRequirePointInTimeRecovery.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/computeDisableNestedVirtualization.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeDisableClientCertificateAuth.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireDataplaneV2.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireRegionalCluster.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
Due: check-names, duplicate-diff

Add 3rd wave of control
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudkmsAllowedProtectionLevel.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudrunJobDisableDefaultServiceAccount.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudrunServiceDisableDefaultServiceAccount.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudsqlRequireHighAvailibility.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.dataprocDisableDefaultServiceAccount.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.dataprocRequireInternalIp.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.dataprocRequireKerberos.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRequireDescription.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictCacheSearchDatabasesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictCacheSearchDatabasesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictDirectoryServicesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictDirectoryServicesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictInsecureProtocolsRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictMailProtocolsPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictMailProtocolsRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictManagementPortsPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictManagementPortsRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNetworkServicesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNetworkServicesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNoSQLDatabasesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNoSQLDatabasesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSQLDatabasesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictSQLDatabasesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.gkeRequireConfidentialNodes.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/observability/binaryAuthorizationPolicyChanges.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/cloudkms.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/dataproc.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gke.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/iam.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/serverless.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudkmsAllowedProtectionLevel.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunDisableJobDefaultServiceAccount.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunDisableServiceDefaultServiceAccount.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudrunRequireEgressAllTraffic.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/cloudsqlRequireHighAvailibility.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/gkeRequireConfidentialNodes.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/scc-sha-custom-modules/secretmanagerAllowedRotationPeriod.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.cloudkmsAllowedProtectionLevel.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gke.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictInsecureProtocolsPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNetworkServicesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNetworkServicesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNoSQLDatabasesPolicyRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/custom-constraints/custom.firewallRestrictNoSQLDatabasesRule.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/firewall.yaml
Due: check-names, duplicate-diff

Add optinal secondary read pool support to the alloydb module
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

module-level support
  modules/organization/README.md
  modules/organization/identity-providers.tf
  modules/organization/variables.tf
  tests/modules/organization/examples/wfif.yaml
Due: cff-readme, duplicate-diff

fast stage 0
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
Due: cff-readme, check-names, duplicate-diff

fix inventory, add outputs/tfvars
  fast/stages/0-org-setup/output-files.tf
  modules/organization/README.md
  modules/organization/outputs.tf
  tests/modules/organization/examples/wfif.yaml
Due: cff-readme, check-names, duplicate-diff

wip
  modules/organization/README.md
  modules/organization/variables-identity-providers.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/identity-providers-defs.tf
  modules/project/identity-providers.tf
  modules/project/outputs.tf
  modules/project/variables-identity-providers.tf
  tests/modules/project/examples/wif.yaml
Due: cff-readme, duplicate-diff

project factory
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.json
  modules/gcs/main.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/projects-defaults.tf
  modules/project-factory/projects.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  modules/project/variables-identity-providers.tf
  tests/modules/project_factory/examples/example.yaml
  tools/duplicate-diff.py
Due: cff-readme, check-names, duplicate-diff

pf outputs
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Due: cff-readme, duplicate-diff

Disable policy blocking gke cluster creation
  fast/stages/3-gke-dev/main.tf
  modules/project/main.tf
  modules/project/organization-policies.tf
Due: cff-readme, check-names, duplicate-diff

Add sample policies but disabled
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gcp.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gke.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/network.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/storage.yaml
Due: check-names, duplicate-diff

iam templates will be added where ci/cd configs are managed
  modules/project/identity-providers-defs.tf
  modules/project/outputs.tf
  modules/project/variables-identity-providers.tf
Due: cff-readme, duplicate-diff

Add support for Workforce Identity to organization module and org setup stage (#3530)
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
  modules/organization/README.md
  modules/organization/identity-providers.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  tests/modules/organization/examples/wfif.yaml
Due: cff-readme, check-names, duplicate-diff

fix merge conflicts
  modules/organization/README.md
  modules/organization/variables.tf
Due: cff-readme, duplicate-diff

update schema docs
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.md
Due: check-names

Add support for Workload Identity to project module and project factory (#3531)
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/gcs/main.tf
  modules/organization/README.md
  modules/organization/variables-identity-providers.tf
  modules/organization/variables.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/outputs.tf
  modules/project-factory/projects-defaults.tf
  modules/project-factory/projects.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  modules/project/README.md
  modules/project/identity-providers-defs.tf
  modules/project/identity-providers.tf
  modules/project/outputs.tf
  modules/project/variables-identity-providers.tf
  tests/modules/project/examples/wif.yaml
  tests/modules/project_factory/examples/example.yaml
  tools/duplicate-diff.py
Due: cff-readme, check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/gke.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/storage.yaml
Due: check-names, duplicate-diff

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/network.yaml
Due: check-names, duplicate-diff

Update hardened readme.md
  fast/stages/0-org-setup/datasets/hardened/README.md
Due: cff-readme, check-names

assign service usage roles on iac project to automation service accounts
  fast/stages/0-org-setup/datasets/classic/projects/core/iac-0.yaml
  fast/stages/0-org-setup/datasets/hardened/projects/core/iac-0.yaml
  tests/fast/stages/s0_org_setup/hardened.yaml
  tests/fast/stages/s0_org_setup/simple.yaml
Due: check-names, duplicate-diff

Fix egress-policy schema by removing pattern to match the one in ingress-policy schema.
  fast/stages/1-vpcsc/schemas/egress-policy.schema.json
  fast/stages/1-vpcsc/schemas/egress-policy.schema.md
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/egress-policy.schema.md
Due: check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
