Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Add support for Workstation Boost Configurations to workstation-cluster module
  modules/workstation-cluster/README.md
  modules/workstation-cluster/factory.tf
  modules/workstation-cluster/main.tf
  modules/workstation-cluster/variables.tf
  tests/modules/workstation_cluster/examples/boost-configs.yaml
Due: cff-readme, duplicate-diff

Fix tag binding parent path using numeric ID (#4077)
  modules/net-firewall-policy/tags.tf
Due: cff-readme, duplicate-diff

Fix project ID mismatch in logging bucket sink IAM conditions
  modules/billing-account/logging.tf
  modules/folder/logging.tf
  modules/organization/logging.tf
  modules/project/logging.tf
  tests/modules/billing_account/examples/logging.yaml
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/context.yaml
  tests/modules/organization/examples/logging-iam-external.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/logging.yaml
Due: cff-readme, duplicate-diff

Refactor logging bucket sink CEL expression into local map
  modules/billing-account/logging.tf
  modules/folder/logging.tf
  modules/organization/logging.tf
  modules/project/logging.tf
Due: cff-readme, duplicate-diff

Add contributing skill for end-to-end CFF contribution workflows
  skills/README.md
  skills/contributing/SKILL.md
Due: none

Fix YAML frontmatter quotes in contributing skill description
  skills/contributing/SKILL.md
Due: none

Rename CFF to Fabric in contribution documentation
  skills/contributing/SKILL.md
Due: none

feat(iam-service-account): add deletion_policy support
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/context.yaml
Due: cff-readme, duplicate-diff

Change accelerator variable to a map of type => count
  modules/workstation-cluster/README.md
  modules/workstation-cluster/factory.tf
  modules/workstation-cluster/main.tf
  modules/workstation-cluster/variables.tf
Due: cff-readme, duplicate-diff

Update workstation-config schema
  modules/workstation-cluster/schemas/workstation-config.schema.json
  modules/workstation-cluster/schemas/workstation-config.schema.md
  modules/workstation-cluster/variables.tf
  tests/modules/workstation_cluster/examples/boost-configs.yaml
Due: cff-readme, duplicate-diff

Add example boost_configs to gce-workstation-cluster project template
  fast/project-templates/gce-workstation-cluster/data/workstation-configs/default.yaml
Due: check-names, duplicate-diff

Address review feedback on contributing skill
  .gitignore
  skills/README.md
  skills/contributing/SKILL.md
Due: none

Fix project ID mismatch in logging bucket sink IAM conditions (#4081)
  modules/billing-account/logging.tf
  modules/folder/logging.tf
  modules/organization/logging.tf
  modules/project/logging.tf
  tests/modules/billing_account/examples/logging.yaml
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/context.yaml
  tests/modules/organization/examples/logging-iam-external.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/logging.yaml
Due: cff-readme, duplicate-diff

Add contributing skill for end-to-end CFF contribution workflows (#4082)
  .gitignore
  skills/README.md
  skills/contributing/SKILL.md
Due: none

feat(iam-service-account): add deletion_policy support (#4083)
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/context.yaml
Due: cff-readme, duplicate-diff

Fix tests (tf/provider version difference)
  tests/modules/workstation_cluster/examples/boost-configs.yaml
Due: duplicate-diff

Add support for Workstation Boost Configurations to `workstation-cluster` module (#4080)
  fast/project-templates/gce-workstation-cluster/data/workstation-configs/default.yaml
  modules/workstation-cluster/README.md
  modules/workstation-cluster/factory.tf
  modules/workstation-cluster/main.tf
  modules/workstation-cluster/schemas/workstation-config.schema.json
  modules/workstation-cluster/schemas/workstation-config.schema.md
  modules/workstation-cluster/variables.tf
  tests/modules/workstation_cluster/examples/boost-configs.yaml
Due: cff-readme, check-names, duplicate-diff

Update prereqs skill and use ask_question
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/TESTING.md
  skills/fast/prerequisites/references/phase2-admin-and-baseline.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/skill-turn-harness/TODO.md
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
Due: duplicate-diff

Make prereqs skill aware about essential contacts
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
Due: none

Address review changes
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/TESTING.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
Due: none

Update prereqs skill and use `ask_question` (#4085)
  skills/fast/prerequisites/SKILL.md
  skills/fast/prerequisites/TESTING.md
  skills/fast/prerequisites/references/phase2-admin-and-baseline.md
  skills/fast/prerequisites/references/phase4-config-and-wrapup.md
  tools/skill-turn-harness/TODO.md
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcd-custom-manual-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev-autonomous.yaml
  tools/skill-turn-harness/playbooks/fast/prerequisites/gcp-dev.yaml
Due: duplicate-diff

fix linting
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: cff-readme, duplicate-diff

update docs
  modules/net-lb-app-ext-regional/README.md
Due: cff-readme

Add HTTP keep alive timeout attribute to net-lb-app-ext-regional module (#4068)
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: cff-readme, duplicate-diff

fix duplicate-diff
  fast/stages/0-org-setup/schemas/vpc-factory.schema.json
Due: check-names

update schema docs
  fast/stages/0-org-setup/schemas/vpc-factory.schema.md
Due: check-names

Update fabric builder skill
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
Due: none

net-vpc: Add VPC BGP configuration (#4052)
  fast/stages/0-org-setup/schemas/vpc-factory.schema.json
  fast/stages/0-org-setup/schemas/vpc-factory.schema.md
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/schemas/vpc-factory.schema.json
  modules/net-vpc-factory/schemas/vpc-factory.schema.md
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/bgp_config.tfvars
  tests/modules/net_vpc/bgp_config.yaml
  tests/modules/net_vpc_factory/examples/example.yaml
Due: cff-readme, check-names, duplicate-diff

Update MongoDB connectivity using Private Service Connect (#4057)
  fast/project-templates/data-mongodb/main.tf
Due: cff-readme, check-names, duplicate-diff

Update fabric builder skill (#4086)
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
Due: none

Supplementing project.schema.json with 'logging_sinks' element across all the codebase.
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: check-names

Fix data-mongodb template for MongoDB Atlas provider v2
  fast/project-templates/data-mongodb/README.md
  fast/project-templates/data-mongodb/main.tf
  fast/project-templates/data-mongodb/outputs.tf
  fast/project-templates/data-mongodb/providers_override.tf
Due: cff-readme, check-names, duplicate-diff

Add token file fixture to devops-azure-wif agents test example
  fast/project-templates/devops-azure-wif/self-hosted-agents/README.md
Due: cff-readme, check-names

Revert "Update MongoDB connectivity using Private Service Connect (#4057)"
  fast/project-templates/data-mongodb/main.tf
Due: cff-readme, check-names, duplicate-diff

skip tofu was cargo-culted in the PR, not required
  fast/project-templates/devops-azure-wif/self-hosted-agents/README.md
Due: cff-readme, check-names

Fix project template tests for MongoDB Atlas provider v2 and secret write-only validation (#4093)
  fast/project-templates/data-mongodb/README.md
  fast/project-templates/data-mongodb/main.tf
  fast/project-templates/data-mongodb/outputs.tf
  fast/project-templates/data-mongodb/providers_override.tf
  fast/project-templates/devops-azure-wif/self-hosted-agents/README.md
Due: cff-readme, check-names, duplicate-diff

Add traffic splitting and revision tagging to modules/cloud-run-v2
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/traffic.yaml
  tests/modules/cloud_run_v2/tftest.yaml
  tests/modules/cloud_run_v2/traffic.tfvars
  tests/modules/cloud_run_v2/traffic.yaml
Due: cff-readme, duplicate-diff

Trim traffic test inventories to provider-stable attributes
  tests/modules/cloud_run_v2/examples/traffic.yaml
  tests/modules/cloud_run_v2/traffic.yaml
Due: duplicate-diff

Add traffic splitting and revision tagging to modules/cloud-run-v2 (#4094)
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/traffic.yaml
  tests/modules/cloud_run_v2/tftest.yaml
  tests/modules/cloud_run_v2/traffic.tfvars
  tests/modules/cloud_run_v2/traffic.yaml
Due: cff-readme, duplicate-diff

Supplementing project.schema.json with 'logging_sinks' element across all the codebase. (#4091)
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
