Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

skills: add release-process skill
  skills/maintenance/release-process/SKILL.md
Due: none

tools: format changelog.py
  tools/changelog.py
Due: none

tools: fix double 'v' prefix in changelog unreleased link
  tools/changelog.py
Due: none

tools: fix get_release_date missing 'v' prefix
  tools/changelog.py
Due: none

skills: package release-process skill
  skills/maintenance/release-process/release-process.skill
Due: none

skills: remove packaged binary
  skills/maintenance/release-process/release-process.skill
Due: none

docs: link to release-process skill in contributing guide
  CONTRIBUTING.md
Due: none

tools: safely handle empty release list in changelog
  tools/changelog.py
Due: none

tools: format changelog.py and update GEMINI.md guidelines
  GEMINI.md
  tools/changelog.py
Due: none

Ignore changes setting for developer_connect_source under lifecycle management
  modules/agent-engine/agent-unmanaged.tf
Due: cff-readme, duplicate-diff

Release process skill and update to changelog tool (#3895)
  CHANGELOG.md
  CONTRIBUTING.md
  GEMINI.md
  skills/maintenance/release-process/SKILL.md
  tools/changelog.py
Due: none

fixing review comments for `try` and default path for `source_path`
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/variables.tf
Due: cff-readme, duplicate-diff

Support context interpolation for psc_allowed_consumer_projects in module cloudsql-instance (#3894)
  modules/cloudsql-instance/main.tf
  tests/modules/cloudsql_instance/context.tfvars
  tests/modules/cloudsql_instance/context.yaml
Due: cff-readme, duplicate-diff

Implemented test for NCC-RA module
  modules/ncc-spoke-ra/README.md
  tests/modules/ncc_spoke_ra/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Implemented test for module net-ipsec-over-interconnect
  modules/net-ipsec-over-interconnect/README.md
  tests/modules/net_ipsec_over_interconnect/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Implemented test for module net-vlan-attachment
  modules/net-vlan-attachment/README.md
  tests/modules/net_vlan_attachment/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Implemented test for module net-vpn-dynamic
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-dynamic/variables.tf
  tests/modules/net_vpn_dynamic/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Implemented test for module net-vpn-ha
  modules/net-vpn-ha/README.md
  tests/modules/net_vpn_ha/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Changed README code examples
  modules/ncc-spoke-ra/README.md
  modules/net-ipsec-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-ha/README.md
  tests/modules/ncc_spoke_ra/examples/bgp-route-policies.yaml
  tests/modules/net_ipsec_over_interconnect/examples/bgp-route-policies.yaml
  tests/modules/net_vlan_attachment/examples/bgp-route-policies.yaml
  tests/modules/net_vpn_dynamic/examples/bgp-route-policies.yaml
  tests/modules/net_vpn_ha/examples/bgp-route-policies.yaml
Due: cff-readme, duplicate-diff

Fix VPC and VPN schemas
  fast/stages/2-networking/schemas/vpc.schema.json
  fast/stages/2-networking/schemas/vpc.schema.md
  fast/stages/2-networking/schemas/vpn.schema.md
Due: check-names

Fix priority maximum accepted value (2^31 instead of 231)
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-routers.tf
  modules/ncc-spoke-ra/variables.tf
  modules/net-ipsec-over-interconnect/variables.tf
  modules/net-vlan-attachment/variables.tf
  modules/net-vpn-dynamic/variables.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme, check-names, duplicate-diff

feat(cloud-function-v2): add support for auto_update_policy
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v2/examples/automatic-update-policy.yaml
Due: cff-readme, duplicate-diff

fix(linting): fix linting
  tests/fast/stages/s2_networking/data-teststatic-ips-nat/vpcs/core/.config.yaml
  tests/fast/stages/s2_networking/static_ips_nat.yaml
Due: duplicate-diff

Add enable_deletion_protection variable to agent engine module
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/main.tf
  modules/agent-engine/variables.tf
  modules/cloudsql-instance/main.tf
  modules/project/service-agents.yaml
  skills/maintenance/release-process/SKILL.md
  tests/modules/agent_engine/examples/deletion-protection.yaml
Due: cff-readme, duplicate-diff

Add reference to inventory in test
  modules/agent-engine/README.md
Due: cff-readme

Fixing folder-level essential contacts provisioning in project-factory module (#3892)
  modules/project-factory/folders.tf
Due: cff-readme, duplicate-diff

fix(tests): remove version file from inventory
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: duplicate-diff

Boilerplate
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: duplicate-diff

Add attachment groups factory to 2-networking (#3871)
  fast/stages/2-networking/README.md
  fast/stages/2-networking/factory-vlan-attachments.tf
  fast/stages/2-networking/schemas/attachment-groups.schema.json
  fast/stages/2-networking/schemas/attachment-groups.schema.md
  fast/stages/2-networking/schemas/vlan-attachments.schema.json
  fast/stages/2-networking/schemas/vlan-attachments.schema.md
  fast/stages/2-networking/schemas/vpc.schema.json
  fast/stages/2-networking/schemas/vpc.schema.md
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/attachment-groups/test-group.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-0.yaml
  tests/fast/stages/s2_networking/data-testvlan/vpcs/hub/vlan-attachments/onprem-1.yaml
  tests/fast/stages/s2_networking/vlan_attachments.yaml
Due: cff-readme, check-names, duplicate-diff

Add enable_deletion_protection variable to agent engine module (#3898)
  modules/agent-engine/README.md
  modules/agent-engine/agent-managed.tf
  modules/agent-engine/agent-unmanaged.tf
  modules/agent-engine/main.tf
  modules/agent-engine/variables.tf
  modules/cloudsql-instance/main.tf
  modules/project/service-agents.yaml
  skills/maintenance/release-process/SKILL.md
  tests/modules/agent_engine/examples/deletion-protection.yaml
Due: cff-readme, duplicate-diff

Added tests and defaulting enabled to false
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Add optional name parameter and updated schemas
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
  modules/project-factory/projects-dns-armor.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables-projects.tf
Due: cff-readme, check-names, duplicate-diff

make dns_threat_detector.enabled optional in project schemas
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  fast/stages/2-networking/schemas/project.schema.json
  fast/stages/2-networking/schemas/project.schema.md
  fast/stages/2-project-factory/schemas/project.schema.json
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/2-security/schemas/project.schema.json
  fast/stages/2-security/schemas/project.schema.md
Due: check-names

Add more context to dns-response-policy module
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/variables.tf
  tests/modules/dns_response_policy/examples/context.yaml
Due: cff-readme, duplicate-diff

Add more context to dns-response-policy module (#3899)
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/variables.tf
  tests/modules/dns_response_policy/examples/context.yaml
Due: cff-readme, duplicate-diff

Add agent gateway poc module
  modules/agent-gateway/main.tf
  modules/agent-gateway/outputs.tf
  modules/agent-gateway/variables.tf
  modules/agent-gateway/versions.tf
  modules/agent-gateway/versions.tofu
Due: cff-readme, versions, duplicate-diff

README and tests
  README.md
  modules/agent-gateway/README.md
  modules/agent-gateway/main.tf
  modules/agent-gateway/variables.tf
  tests/modules/agent_gateway/examples/minimal.yaml
  tests/modules/agent_gateway/examples/proxy.yaml
  tests/modules/agent_gateway/examples/psc-i.yaml
Due: cff-readme, duplicate-diff

fix: labels are 'key:value', plain strings, not arrays
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/2-networking/schemas/defaults.schema.json
  fast/stages/2-networking/schemas/defaults.schema.md
  fast/stages/2-project-factory/schemas/defaults.schema.json
  fast/stages/2-project-factory/schemas/defaults.schema.md
  fast/stages/2-security/schemas/defaults.schema.json
  fast/stages/2-security/schemas/defaults.schema.md
Due: check-names
