Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Supplementing missing IAM secions mapping in project-factory module.
  modules/project-factory/projects-service-accounts.tf
Due: cff-readme, duplicate-diff

Supplementing missing IAM secions mapping in project-factory module. (#4044)
  modules/project-factory/projects-service-accounts.tf
Due: cff-readme, duplicate-diff

Avoid cascading permadiff with modules/billing-account threshold_rules
  modules/billing-account/budgets.tf
Due: cff-readme, duplicate-diff

Avoid cascading permadiff with modules/billing-account threshold_rules (#4045)
  modules/billing-account/budgets.tf
Due: cff-readme, duplicate-diff

docs(adr): add context-aware access bindings ADR
  adrs/20260703-context-aware-access.md
Due: none

fix: private endpoint
  fast/project-templates/data-mongodb/main.tf
Due: cff-readme, check-names, duplicate-diff

remove fast/.codegraph folder
  .vscode/settings.json
  fast/.codegraph/.gitignore
Due: check-names

Adding automatic principals format conversion when using interpolation via iam_principals
  modules/folder/README.md
  modules/folder/deny-policies.tf
  modules/organization/README.md
  modules/organization/deny-policies.tf
  modules/project/README.md
  modules/project/deny-policies.tf
Due: cff-readme, duplicate-diff

Fixing reference to org-level PAM service agent in classic, classic-gcd and hardened datasets
  fast/stages/0-org-setup/datasets/classic-gcd/organization/.config.yaml
  fast/stages/0-org-setup/datasets/classic/organization/.config.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/.config.yaml
Due: check-names, duplicate-diff

Adapting automated tests for modified modules
  tests/modules/folder/context.yaml
  tests/modules/organization/context.yaml
  tests/modules/project/context.yaml
Due: duplicate-diff

Removing copy-paste error
  tests/modules/organization/context.yaml
Due: duplicate-diff

Clarified some steps in fast/stages/0-org-setup to make it easier for newcomers
  adrs/20251013-context-locals.md
  fast/README.md
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/datasets/classic/billing-accounts/default.yaml
Due: cff-readme, check-names, duplicate-diff

Fixing typos from all modified files
  modules/folder/README.md
  modules/folder/deny-policies.tf
  modules/organization/README.md
  modules/organization/deny-policies.tf
  modules/project/README.md
  modules/project/deny-policies.tf
Due: cff-readme, duplicate-diff

feat: add tls route support
  modules/net-lb-proxy-int-cross-region/README.md
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

feat: add tls route support (#11)
  modules/net-lb-proxy-int-cross-region/README.md
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
Due: cff-readme, duplicate-diff

fix(compute-vm): ignore restored disk source drift (#10)
  modules/compute-vm/disks.tf
Due: cff-readme, duplicate-diff

feat: add lb mode
  modules/net-lb-proxy-int-cross-region/main.tf
Due: cff-readme, duplicate-diff

feat: add beta provider
  modules/net-lb-proxy-int-cross-region/main.tf
Due: cff-readme, duplicate-diff

make tlsroute and normal backend service immutable in the same proxy
  modules/net-lb-proxy-int-cross-region/main.tf
Due: cff-readme, duplicate-diff

Update fabric-builder skill with SSL bypass and provider alignment
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
  skills/fabric-builder/scripts/fabric.py
Due: none

Update fabric-builder skill with SSL bypass and provider alignment (#4051)
  skills/fabric-builder/SKILL.md
  skills/fabric-builder/references/conventions.md
  skills/fabric-builder/scripts/fabric.py
Due: none

Add Context-Aware Access support to organization module
  modules/organization/README.md
  modules/organization/context_aware_access.tf
  modules/organization/outputs.tf
  modules/organization/schemas/access-level.schema.json
  modules/organization/schemas/access-level.schema.md
  modules/organization/variables.tf
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
  tests/modules/organization/examples/context-aware-access.yaml
  tests/modules/organization/factory-caa/access_levels/factory_level.yaml
  tools/duplicate-diff.py
  tools/schema_docs.py
Due: cff-readme, duplicate-diff

Add Context-Aware Access support to FAST Stage 0
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/access-level.schema.json
  fast/stages/0-org-setup/schemas/access-level.schema.md
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
  fast/stages/0-org-setup/variables.tf
  tests/fast/stages/s0_org_setup/caa.tfvars
  tests/fast/stages/s0_org_setup/caa.yaml
  tests/fast/stages/s0_org_setup/data-caa/defaults.yaml
  tests/fast/stages/s0_org_setup/data-caa/organization/.config.yaml
  tests/fast/stages/s0_org_setup/data-caa/organization/access-levels/level.yaml
  tests/fast/stages/s0_org_setup/tftest.yaml
  tools/duplicate-diff.py
Due: cff-readme, check-names, duplicate-diff

Fix formatting in organization module test fixtures
  tests/modules/organization/context.tfvars
Due: none

Refactor organization and vpc-sc modules to address PR review comments
  modules/organization/README.md
  modules/organization/context_aware_access.tf
  modules/organization/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/variables.tf
Due: cff-readme, duplicate-diff

Add support for context aware access to the org module and FAST stage 0 (#4046)
  adrs/20260703-context-aware-access.md
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/access-level.schema.json
  fast/stages/0-org-setup/schemas/access-level.schema.md
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
  fast/stages/0-org-setup/variables.tf
  modules/organization/README.md
  modules/organization/context_aware_access.tf
  modules/organization/outputs.tf
  modules/organization/schemas/access-level.schema.json
  modules/organization/schemas/access-level.schema.md
  modules/organization/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/variables.tf
  tests/fast/stages/s0_org_setup/caa.tfvars
  tests/fast/stages/s0_org_setup/caa.yaml
  tests/fast/stages/s0_org_setup/data-caa/defaults.yaml
  tests/fast/stages/s0_org_setup/data-caa/organization/.config.yaml
  tests/fast/stages/s0_org_setup/data-caa/organization/access-levels/level.yaml
  tests/fast/stages/s0_org_setup/tftest.yaml
  tests/modules/organization/context.tfvars
  tests/modules/organization/context.yaml
  tests/modules/organization/examples/context-aware-access.yaml
  tests/modules/organization/factory-caa/access_levels/factory_level.yaml
  tools/duplicate-diff.py
  tools/schema_docs.py
Due: cff-readme, check-names, duplicate-diff

Add VPC BGP configuration and fix IAM service account reuse with custom domains
  modules/iam-service-account/main.tf
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/bgp_config.tfvars
  tests/modules/net_vpc/bgp_config.yaml
Due: cff-readme, duplicate-diff

review: Working on feedbacks
  modules/iam-service-account/main.tf
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/schemas/vpc-factory.schema.json
  modules/net-vpc-factory/schemas/vpc-factory.schema.md
  modules/net-vpc/README.md
  modules/net-vpc/variables.tf
  tests/modules/net_vpc_factory/examples/example.yaml
Due: cff-readme, duplicate-diff

Implement TPU support in compute-vm module and add tests
  modules/compute-vm/README.md
  modules/compute-vm/disks.tf
  modules/compute-vm/instance.tf
  modules/compute-vm/main.tf
  modules/compute-vm/template.tf
  modules/compute-vm/tpu.tf
  modules/compute-vm/variables.tf
  tests/modules/compute-vm/common.tfvars
  tests/modules/compute-vm/tftest.yaml
  tests/modules/compute-vm/tpu_direct.tfvars
  tests/modules/compute-vm/tpu_direct.yaml
  tests/modules/compute-vm/tpu_queued.tfvars
  tests/modules/compute-vm/tpu_queued.yaml
  tests/modules/compute-vm/tpu_template.tfvars
  tests/modules/compute-vm/tpu_template.yaml
  tools/check_documentation.py
Due: cff-readme, duplicate-diff

Align TPU resource names to convention and update documentation
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
  modules/compute-vm/tpu.tf
  tests/modules/compute-vm/tpu_direct.yaml
  tests/modules/compute-vm/tpu_queued.yaml
Due: cff-readme, duplicate-diff

Add TPU VM and Queued Resource support to compute-vm module (#4054)
  modules/compute-vm/README.md
  modules/compute-vm/disks.tf
  modules/compute-vm/instance.tf
  modules/compute-vm/main.tf
  modules/compute-vm/outputs.tf
  modules/compute-vm/template.tf
  modules/compute-vm/tpu.tf
  modules/compute-vm/variables.tf
  tests/modules/compute-vm/common.tfvars
  tests/modules/compute-vm/tftest.yaml
  tests/modules/compute-vm/tpu_direct.tfvars
  tests/modules/compute-vm/tpu_direct.yaml
  tests/modules/compute-vm/tpu_queued.tfvars
  tests/modules/compute-vm/tpu_queued.yaml
  tests/modules/compute-vm/tpu_template.tfvars
  tests/modules/compute-vm/tpu_template.yaml
  tools/check_documentation.py
Due: cff-readme, duplicate-diff

updated MongoDB fast template
  fast/.codegraph/.gitignore
  fast/project-templates/data-mongodb/main.tf
  fast/project-templates/data-mongodb/outputs.tf
  fast/project-templates/data-mongodb/project.yaml
  fast/project-templates/data-mongodb/providers_override.tf
  fast/project-templates/data-mongodb/variables.tf
Due: cff-readme, check-names, duplicate-diff

Fix E2E test for cloudsql-instance PSC auto connections (#4033)
  modules/cloudsql-instance/README.md
Due: cff-readme

Add network passthrough load balancer traffic policy to net-lb-int (#4042)
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  tests/modules/net_lb_int/zonal-affinity.tfvars
  tests/modules/net_lb_int/zonal-affinity.yaml
Due: cff-readme, duplicate-diff

Enable use of tags with dynamic values created in 0-org-setup stage to tag folders/projects managed inside the stage. (#4028)
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/factory.tf
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/variables.tf
Due: cff-readme, check-names, duplicate-diff

Pin GitHub Actions to secure commit SHAs (#4031)
  .github/actions/fabric-tests/action.yml
  .github/workflows/daily-tag.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/pr-review.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Fix malformed member in automation SA IAM roles (#4040)
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, duplicate-diff
