Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$

Enable managed connection pooling
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/connection_pool.yaml
Due: cff-readme, duplicate-diff

removed 2-secops from FAST_STAGE_DEPS in 3-secops-dev
  fast/stages/3-secops-dev/.fast-stage.env
Due: check-names

removed 2-secops from FAST_STAGE_DEPS in 3-secops-dev (#4011)
  fast/stages/3-secops-dev/.fast-stage.env
Due: check-names

fix service directory module
  modules/service-directory/README.md
  modules/service-directory/main.tf
  modules/service-directory/outputs.tf
  tests/modules/service_directory/examples/dns.yaml
  tests/modules/service_directory/examples/pna.yaml
  tests/modules/service_directory/examples/services.yaml
  tests/modules/service_directory/examples/simple.yaml
Due: cff-readme, duplicate-diff

Add validation to connection_pool_flags
  modules/alloydb/variables.tf
Due: cff-readme, duplicate-diff

Update FAST stages README and cleanup instructions
  fast/stages/CLEANUP.md
  fast/stages/README.md
Due: cff-readme, check-names

Fix boot disk validation conflict when attaching existing disk
  modules/compute-vm/disks.tf
  modules/compute-vm/instance.tf
  modules/compute-vm/main.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/boot-disk-attach.tfvars
  tests/modules/compute_vm/boot-disk-attach.yaml
  tests/modules/compute_vm/tftest.yaml
Due: cff-readme, duplicate-diff

Update FAST stages README and cleanup instructions (#4013)
  fast/stages/CLEANUP.md
  fast/stages/README.md
Due: cff-readme, check-names

Update README
  modules/alloydb/README.md
Due: cff-readme

Enable managed connection pooling in modules/alloydb (#4009)
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/connection_pool.yaml
Due: cff-readme, duplicate-diff

Support per-replica tier override in modules/cloudsql-instance
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/replicas.yaml
Due: cff-readme, duplicate-diff

Fix boot disk validation when attaching existing disk in compute-vm
  modules/compute-vm/README.md
  modules/compute-vm/instance.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

Fix boot disk validation when attaching existing disk in compute-vm (#4015)
  modules/compute-vm/README.md
  modules/compute-vm/instance.tf
  modules/compute-vm/variables.tf
Due: cff-readme, duplicate-diff

authscripts for gcd
  fast/stages/0-org-setup/utils/creds-off.sh
  fast/stages/0-org-setup/utils/creds-on.sh
Due: check-names, duplicate-diff

Added IAM Deny Policy to organization schema
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
Due: check-names

Added IAM Deny Policy to organization schema (#4016)
  fast/stages/0-org-setup/schemas/organization.schema.json
  fast/stages/0-org-setup/schemas/organization.schema.md
Due: check-names

Update README
  modules/cloudsql-instance/README.md
Due: cff-readme

Support per-replica tier override in modules/cloudsql-instance (#4014)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/replicas.yaml
Due: cff-readme, duplicate-diff

Fix net-lb-int-proxy
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
Due: cff-readme, duplicate-diff

Add net-lb-proxy-int-cross-region module and tests
  modules/net-lb-proxy-int-cross-region/README.md
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/groups.tf
  modules/net-lb-proxy-int-cross-region/health-check.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/outputs.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
  modules/net-lb-proxy-int-cross-region/versions.tf
  modules/net-lb-proxy-int-cross-region/versions.tofu
  tests/modules/net_lb_proxy_int_cross_region/common.tfvars
  tests/modules/net_lb_proxy_int_cross_region/health-checks-tcp.tfvars
  tests/modules/net_lb_proxy_int_cross_region/health-checks-tcp.yaml
  tests/modules/net_lb_proxy_int_cross_region/tftest.yaml
Due: cff-readme, versions, duplicate-diff

Add context support example and tests
  modules/net-lb-proxy-int-cross-region/README.md
  tests/modules/net_lb_proxy_int_cross_region/context.tfvars
  tests/modules/net_lb_proxy_int_cross_region/context.yaml
  tests/modules/net_lb_proxy_int_cross_region/tftest.yaml
Due: cff-readme, duplicate-diff

Update copyright to 2026 and support instance group backends
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/groups.tf
  modules/net-lb-proxy-int-cross-region/health-check.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/outputs.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
  tests/modules/net_lb_proxy_int_cross_region/instance-groups.tfvars
  tests/modules/net_lb_proxy_int_cross_region/instance-groups.yaml
  tests/modules/net_lb_proxy_int_cross_region/tftest.yaml
Due: cff-readme, duplicate-diff

docs: correct Instance Groups support note in README
  modules/net-lb-proxy-int-cross-region/README.md
Due: cff-readme

feat(0-org-setup): make predefined iam_principals groups configurable via var.groups
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/variables.tf
  tests/fast/stages/s0_org_setup/groups.tfvars
  tests/fast/stages/s0_org_setup/groups.yaml
  tests/fast/stages/s0_org_setup/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

Add net-lb-proxy-int-cross-region module and tests (#4017)
  modules/net-lb-proxy-int-cross-region/README.md
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/groups.tf
  modules/net-lb-proxy-int-cross-region/health-check.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/outputs.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
  modules/net-lb-proxy-int-cross-region/versions.tf
  modules/net-lb-proxy-int-cross-region/versions.tofu
  tests/modules/net_lb_proxy_int_cross_region/common.tfvars
  tests/modules/net_lb_proxy_int_cross_region/context.tfvars
  tests/modules/net_lb_proxy_int_cross_region/context.yaml
  tests/modules/net_lb_proxy_int_cross_region/health-checks-tcp.tfvars
  tests/modules/net_lb_proxy_int_cross_region/health-checks-tcp.yaml
  tests/modules/net_lb_proxy_int_cross_region/instance-groups.tfvars
  tests/modules/net_lb_proxy_int_cross_region/instance-groups.yaml
  tests/modules/net_lb_proxy_int_cross_region/tftest.yaml
Due: cff-readme, versions, duplicate-diff

fix(fast): grant custom storage_viewer role to iac-pf-ro on Teams folder
  fast/stages/0-org-setup/datasets/classic/folders/teams/.config.yaml
Due: check-names, duplicate-diff

WIP update
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/health-checks-none.tfvars
  tests/modules/net_lb_proxy_int/health-checks-none.yaml
  tests/modules/net_lb_proxy_int/health-checks-psc.tfvars
  tests/modules/net_lb_proxy_int/health-checks-psc.yaml
  tests/modules/net_lb_proxy_int/tftest.yaml
Due: cff-readme, duplicate-diff

Add Multi-Region support to cloud-run-v2 module
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/multiregion.yaml
  tests/modules/cloud_run_v2/multiregion.tfvars
  tests/modules/cloud_run_v2/multiregion.yaml
  tests/modules/cloud_run_v2/tftest.yaml
Due: cff-readme, duplicate-diff

Support context expansion for multi_region_settings regions
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  tests/modules/cloud_run_v2/context.tfvars
  tests/modules/cloud_run_v2/context.yaml
Due: cff-readme, duplicate-diff

Fix multi_region_regions formatting line length
  modules/cloud-run-v2/main.tf
Due: cff-readme, duplicate-diff

Add Multi-Region support to cloud-run-v2 module (#4022)
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/context.tfvars
  tests/modules/cloud_run_v2/context.yaml
  tests/modules/cloud_run_v2/examples/multiregion.yaml
  tests/modules/cloud_run_v2/multiregion.tfvars
  tests/modules/cloud_run_v2/multiregion.yaml
  tests/modules/cloud_run_v2/tftest.yaml
Due: cff-readme, duplicate-diff

fix(net-vpc-firewall): consistent for_each types in custom_rules
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  tests/modules/net_vpc_firewall/examples/factory.yaml
Due: cff-readme, duplicate-diff

Update tests
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/examples/address.yaml
  tests/modules/net_lb_proxy_int/examples/context.yaml
  tests/modules/net_lb_proxy_int/examples/group-config.yaml
  tests/modules/net_lb_proxy_int/examples/health-check-config.yaml
  tests/modules/net_lb_proxy_int/examples/health-check-link.yaml
  tests/modules/net_lb_proxy_int/examples/hybrid-neg.yaml
  tests/modules/net_lb_proxy_int/examples/internet-neg.yaml
  tests/modules/net_lb_proxy_int/examples/minimal.yaml
  tests/modules/net_lb_proxy_int/examples/neg-link.yaml
  tests/modules/net_lb_proxy_int/examples/ports.yaml
  tests/modules/net_lb_proxy_int/examples/psc-neg.yaml
  tests/modules/net_lb_proxy_int/health-checks-none.yaml
  tests/modules/net_lb_proxy_int/health-checks-psc.yaml
Due: cff-readme, duplicate-diff

Update and fix module net-lb-proxy-int (#4024)
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/examples/address.yaml
  tests/modules/net_lb_proxy_int/examples/context.yaml
  tests/modules/net_lb_proxy_int/examples/group-config.yaml
  tests/modules/net_lb_proxy_int/examples/health-check-config.yaml
  tests/modules/net_lb_proxy_int/examples/health-check-link.yaml
  tests/modules/net_lb_proxy_int/examples/hybrid-neg.yaml
  tests/modules/net_lb_proxy_int/examples/internet-neg.yaml
  tests/modules/net_lb_proxy_int/examples/minimal.yaml
  tests/modules/net_lb_proxy_int/examples/neg-link.yaml
  tests/modules/net_lb_proxy_int/examples/ports.yaml
  tests/modules/net_lb_proxy_int/examples/psc-neg.yaml
  tests/modules/net_lb_proxy_int/health-checks-none.tfvars
  tests/modules/net_lb_proxy_int/health-checks-none.yaml
  tests/modules/net_lb_proxy_int/health-checks-psc.tfvars
  tests/modules/net_lb_proxy_int/health-checks-psc.yaml
  tests/modules/net_lb_proxy_int/tftest.yaml
Due: cff-readme, duplicate-diff

Port forwarding_rules_config, health check, and PSC NEG fixes to net-lb-proxy-int-cross-region
  modules/net-lb-proxy-int-cross-region/README.md
  modules/net-lb-proxy-int-cross-region/backend-service.tf
  modules/net-lb-proxy-int-cross-region/health-check.tf
  modules/net-lb-proxy-int-cross-region/main.tf
  modules/net-lb-proxy-int-cross-region/variables.tf
  tests/modules/net_lb_proxy_int_cross_region/health-checks-tcp.yaml
  tests/modules/net_lb_proxy_int_cross_region/instance-groups.yaml
  tests/modules/net_lb_proxy_int_cross_region/multiple-ports.tfvars
  tests/modules/net_lb_proxy_int_cross_region/multiple-ports.yaml
  tests/modules/net_lb_proxy_int_cross_region/psc.tfvars
  tests/modules/net_lb_proxy_int_cross_region/psc.yaml
  tests/modules/net_lb_proxy_int_cross_region/tftest.yaml
Due: cff-readme, duplicate-diff

Implement hashed naming for BGP route policies and move policy management from interconnect config to BGP peer config
  fast/stages/2-networking/factory-routers.tf
  fast/stages/2-networking/factory-vlan-attachments.tf
  fast/stages/2-networking/factory-vpns.tf
  modules/ncc-spoke-ra/main.tf
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/variables.tf
  modules/net-vpn-dynamic/main.tf
  modules/net-vpn-ha/main.tf
  tests/modules/ncc_spoke_ra/examples/bgp-route-policies.yaml
  tests/modules/net_ipsec_over_interconnect/examples/bgp-route-policies.yaml
  tests/modules/net_vlan_attachment/examples/bgp-route-policies.yaml
  tests/modules/net_vpn_dynamic/examples/bgp-route-policies.yaml
  tests/modules/net_vpn_ha/examples/bgp-route-policies.yaml
Due: cff-readme, check-names, duplicate-diff

Add ADR for net-lb family interface standardization
  adrs/20260615-net-lb-interface-standardization.md
Due: none
