Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

tfdoc, tests
  fast/stages/0-bootstrap/data/custom-constraints/gke.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gke.yaml
  fast/stages/0-bootstrap/data/org-policies/gke.yaml
  fast/stages/1-resman/README.md
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/managed_org_policies.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: cff-readme, check-names

Improve and document org policy tags use in FAST resman stage (#3162)
  fast/stages/0-bootstrap/data/custom-constraints/gke.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gke.yaml
  fast/stages/0-bootstrap/data/org-policies/gke.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization-tags.tf
  fast/stages/1-resman/organization.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/managed_org_policies.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Due: cff-readme, tflint-fast, check-names

Add notebooks, appengine and appspot to dns policy routing
  .pre-commit-config.yaml
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  tests/fast/stages/s2_networking_a_simple/ncc.yaml
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
  tools/duplicate-diff.py
Due: check-names

add support for custom roles and hos tproject iam to project modules
  fast/stages/0-bootstrap/data/custom-roles/dns_zone_binder.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/networking.yaml
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/shared-vpc.tf
  modules/project/variables.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/simple.tfvars
Due: cff-readme, tflint-fast, check-names

align vpc factory
  modules/net-vpc-factory/factory-projects-object.tf
Due: cff-readme

Allow custom roles in context, add support for shared VPC IAM to project and project factory (#3163)
  fast/stages/0-bootstrap/data/custom-roles/dns_zone_binder.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/networking.yaml
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables.tf
  modules/net-vpc-factory/factory-projects-object.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/shared-vpc.tf
  modules/project/variables.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/simple.tfvars
Due: cff-readme, tflint-fast, check-names

update changelog
  CHANGELOG.md
Due: none

update schemas
  fast/stages/2-project-factory/schemas/project.schema.md
  modules/project-factory/schemas/project.schema.md
Due: check-names

add CI/CD automation support
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/outputs-automation.tf
  fast/stages/2-project-factory/outputs.tf
  fast/stages/2-project-factory/templates/workflow-github.yaml
  fast/stages/2-project-factory/templates/workflow-gitlab.yaml
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/main.tf
  modules/project-factory/outputs.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, tflint-fast, check-names

ignores all labels in unmanaged version
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
Due: cff-readme

feat: ignores labels added by gh action in unmanaged cloud run service / job (#3161)
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
Due: cff-readme

feat: adds support for direct cloud run iap
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

fixes error
  modules/cloud-run-v2/service.tf
Due: cff-readme

update README.md
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

simplifies iap configuration
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

docs && fmt
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

ensures tf < 1.2 compatibility
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

adds iap configuration test
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/variables.tf
Due: cff-readme

add CI/CD automation support
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/outputs-automation.tf
  fast/stages/2-project-factory/outputs.tf
  fast/stages/2-project-factory/templates/workflow-github.yaml
  fast/stages/2-project-factory/templates/workflow-gitlab.yaml
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/main.tf
  modules/project-factory/outputs.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, tflint-fast, check-names

enforce `service_account` and `provider_file` when using workflow template
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Due: none

format readme example
  modules/cloud-run-v2/README.md
Due: cff-readme

use stage_name in local_file outputs
  fast/stages/2-project-factory/outputs-automation.tf
Due: cff-readme, tflint-fast, check-names

fixes test
  modules/cloud-run-v2/README.md
Due: cff-readme

Apply suggestions from code review
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

fixes validation
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

fix: missing gcs mount_options argument
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme

simplify and clarify CI/CD configuration
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/outputs-automation.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme, tflint-fast, check-names

minor doc update
  modules/project-factory/README.md
Due: cff-readme

Addition of Cloud Deploy module
  modules/cloud-deploy/README.md
  modules/cloud-deploy/automation.tf
  modules/cloud-deploy/delivery-pipeline.tf
  modules/cloud-deploy/deploy-policy.tf
  modules/cloud-deploy/iam.tf
  modules/cloud-deploy/main.tf
  modules/cloud-deploy/outputs.tf
  modules/cloud-deploy/target.tf
  modules/cloud-deploy/variables.tf
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
Due: cff-readme, versions, versions_tofu

ran tfdocs to update README
  modules/cloud-deploy/README.md
Due: cff-readme

Addition of Cloud Deploy Module
  modules/cloud-deploy/README.md
  modules/cloud-deploy/automation.tf
  modules/cloud-deploy/delivery-pipeline.tf
  modules/cloud-deploy/deploy-policy.tf
  modules/cloud-deploy/iam.tf
  modules/cloud-deploy/main.tf
  modules/cloud-deploy/outputs.tf
  modules/cloud-deploy/target.tf
  modules/cloud-deploy/variables.tf
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
Due: cff-readme, versions, versions_tofu

fmt
  modules/cloud-run-v2/service.tf
Due: cff-readme

use iam-service-account for automation IAM
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme

DNS zones added you Apigee module (#3149)
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Due: cff-readme

Update modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/variables.tf
Due: cff-readme
