Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Adds duplicate schemas to duplicate-diff tool
  tools/duplicate-diff.py
Due: none

wip, broken
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/datasets/classic/cicd.yaml
  fast/stages/0-org-setup/schemas/cicd.schema.json
  fast/stages/0-org-setup/wif-providers.tf
Due: cff-readme, tflint-fast, check-names

allow null project id for service account reuse
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/outputs.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/examples/reuse-0.yaml
Due: cff-readme

fix pf
  modules/project-factory/automation.tf
  modules/project-factory/projects-service-accounts.tf
Due: cff-readme

fix inventory
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: none

fix: wip
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/compute.yaml
  fast/stages/0-org-setup/datasets/hardened/organization/org-policies/network.yaml
  fast/stages/0-org-setup/organization.tf
  fast/stages/2-networking-a-simple/data/subnets/landing/landing-default.yaml
  fast/stages/2-networking-a-simple/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-pri/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-sec/landing-default-sec.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/prod/prod-default.yaml
Due: cff-readme, tflint-fast, check-names

example formatting
  modules/iam-service-account/README.md
Due: cff-readme

add comment
  modules/iam-service-account/main.tf
Due: cff-readme

Fix typos
  fast/stages/0-org-setup/datasets/classic/defaults.yaml
  fast/stages/0-org-setup/datasets/hardened/defaults.yaml
Due: check-names

fix iam
  modules/iam-service-account/iam.tf
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme

Allow null project id in service account module when reusing service account (#3452)
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/main.tf
  modules/iam-service-account/outputs.tf
  modules/iam-service-account/variables.tf
  modules/project-factory/automation.tf
  modules/project-factory/projects-service-accounts.tf
  tests/fast/stages/s0_org_setup/not-simple.yaml
  tests/modules/iam_service_account/examples/reuse-0.yaml
  tests/modules/project_factory/examples/example.yaml
Due: cff-readme

wip
  fast/stages/0-org-setup/cicd.tf
Due: cff-readme, tflint-fast, check-names

streamline locals
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/wif-providers.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/0-org-setup/README.md
Due: cff-readme, check-names

update yaml files
  fast/stages/0-org-setup/datasets/classic/cicd.yaml
  tests/fast/stages/s0_org_setup/data-simple/cicd.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: check-names

Fix typos (#3453)
  fast/stages/0-org-setup/datasets/classic/defaults.yaml
  fast/stages/0-org-setup/datasets/hardened/defaults.yaml
Due: check-names

fix: wip
  fast/stages/3-data-platform-dev/data-domains-automation.tf
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-products-automation.tf
  fast/stages/3-data-platform-dev/data-products-exposure.tf
Due: cff-readme, tflint-fast, check-names

fix: wip
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Service agents cursed knowledge
  CURSED_KNOWLEDGE.md
Due: none

Linter nits hard
  tools/duplicate-diff.py
Due: none

Service agents cursed knowledge (#3455)
  CURSED_KNOWLEDGE.md
Due: none

More knowledge
  CURSED_KNOWLEDGE.md
Due: none

Dataset + tests
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/diagram-ncc.png
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/diagram-ncc.svg
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/response-policies/net-core-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/fwd-root.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/peer-root.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/pvt-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-dev-0/pvt-dev-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-prod-0/pvt-prod-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/firewall-policies/networking-policy.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/ncc-hubs/prod-hub.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-core-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/firewall-rules/default-ingress.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-dataplatform.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-default.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-gke-nodes.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/subnets/hub-default.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vpns/onprem.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/firewall-rules/default-ingress.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/subnets/prod-default.yaml
  tests/fast/stages/s2_networking/ncc.tfvars
  tests/fast/stages/s2_networking/ncc.yaml
Due: cff-readme, tflint-fast, check-names

Updated README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/README.md
Due: cff-readme, check-names

Main README.md updates
  fast/stages/2-networking/README.md
Due: cff-readme, check-names

Small fixes
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/ncc-hubs/prod-hub.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-core-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
Due: check-names

Minor fixes
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/ncc-hubs/hub.yaml
Due: cff-readme, check-names

Update test inventory
  tests/fast/stages/s2_networking/ncc.yaml
Due: none

Not params again 😭
  tests/fast/stages/s2_networking/ncc.yaml
Due: none

2-networking - NCC Dataset (#3457)
  fast/stages/2-networking/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/README.md
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/defaults.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/diagram-ncc.png
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/diagram-ncc.svg
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/response-policies/net-core-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/fwd-root.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/peer-root.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-core-0/pvt-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-dev-0/pvt-dev-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/dns/zones/net-prod-0/pvt-prod-test.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/firewall-policies/networking-policy.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/ncc-hubs/hub.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-core-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-dev-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/projects/net-prod-0.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/firewall-rules/default-ingress.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-dataplatform.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-default.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/dev/subnets/dev-gke-nodes.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/subnets/hub-default.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/hub/vpns/onprem.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/.config.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/firewall-rules/default-ingress.yaml
  fast/stages/2-networking/datasets/hub-and-spokes-ncc/vpcs/prod/subnets/prod-default.yaml
  tests/fast/stages/s2_networking/ncc.tfvars
  tests/fast/stages/s2_networking/ncc.yaml
Due: cff-readme, tflint-fast, check-names

refactor
  fast/stages/0-org-setup/assets/workflow-github.yaml
  fast/stages/0-org-setup/assets/workflow-gitlab.yaml
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/datasets/classic/cicd.yaml
  fast/stages/0-org-setup/schemas/cicd.schema.json
  tests/fast/stages/s0_org_setup/data-simple/cicd.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: cff-readme, tflint-fast, check-names

Cloud Function v2 - contexts and interface refactor
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/serviceaccount.tf
  modules/cloud-function-v2/variables-serviceaccount.tf
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v2/examples/bucket-creation.yaml
  tests/modules/cloud_function_v2/examples/custom-bundle.yaml
  tests/modules/cloud_function_v2/examples/http-trigger.yaml
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_function_v2/examples/multiple_functions.yaml
  tests/modules/cloud_function_v2/examples/private-build-pool.yaml
  tests/modules/cloud_function_v2/examples/pubsub-non-http-trigger.yaml
  tests/modules/cloud_function_v2/examples/secrets.yaml
  tests/modules/cloud_function_v2/examples/service-account-1.yaml
  tests/modules/cloud_function_v2/examples/service-account-2.yaml
  tools/duplicate-diff.py
Due: cff-readme

Dont use provider functions, because OpenTofu doesnt like them
  modules/cloud-function-v1/vpcconnector.tf
  modules/cloud-function-v2/vpcconnector.tf
Due: cff-readme

Context tests for Cloud Function v1
  tests/modules/cloud_function_v1/context.tfvars
  tests/modules/cloud_function_v1/context.yaml
  tests/modules/cloud_function_v1/tftest.yaml
Due: none

align project-templates to new functions interface
  fast/project-templates/secops-anonymization-pipeline/README.md
  fast/project-templates/secops-anonymization-pipeline/main.tf
  modules/api-gateway/recipe-multi-region/README.md
  modules/api-gateway/recipe-multi-region/main.tf
Due: cff-readme, tflint-fast, check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
