Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

Add support for VPC internal ranges to modules/net-vpc
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-gke-nodes.yaml
  modules/gke-hub/README.md
  modules/net-vpc/README.md
  modules/net-vpc/internal-ranges.tf
  modules/net-vpc/outputs.tf
  modules/net-vpc/schemas/internal-range.schema.json
  modules/net-vpc/schemas/subnet.schema.json
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/fixtures/shared-vpc.tf
  tests/modules/net_vpc/examples/internal-ranges.yaml
  tests/modules/net_vpc/examples/subnets-internal-ranges.yaml
Due: cff-readme, tflint-fast, check-names

Sort outputs.
  modules/net-vpc/outputs.tf
Due: cff-readme

Fix validation for terraform < 1.13
  modules/net-vpc/variables.tf
Due: cff-readme

Fix readme again
  modules/net-vpc/README.md
Due: cff-readme

fix sort
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: cff-readme

Fix validations for opentofu
  modules/net-vpc/README.md
  modules/net-vpc/variables.tf
Due: cff-readme

Add support for VPC internal ranges to `modules/net-vpc` (#3318)
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-gke-nodes.yaml
  modules/gke-hub/README.md
  modules/net-vpc/README.md
  modules/net-vpc/internal-ranges.tf
  modules/net-vpc/outputs.tf
  modules/net-vpc/schemas/internal-range.schema.json
  modules/net-vpc/schemas/subnet.schema.json
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/fixtures/shared-vpc.tf
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
  tests/modules/net_vpc/examples/internal-ranges.yaml
  tests/modules/net_vpc/examples/subnets-internal-ranges.yaml
Due: cff-readme, tflint-fast, check-names

net-lb-app-ext
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  tests/modules/net_lb_app_ext/examples/classic-vs-non-classic.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
Due: cff-readme

net-lb-app-int-cross-region
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/variables.tf
Due: cff-readme

Add http_keep_alive_timeout_sec to application load balancers (#3320)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/variables.tf
  tests/modules/net_lb_app_ext/examples/classic-vs-non-classic.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
Due: cff-readme

changelog
  CHANGELOG.md
Due: none

add instance access logging support to apigee module
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/examples/access-logging.yaml
Due: cff-readme

add instance access logging support to apigee module (#3321)
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/examples/access-logging.yaml
Due: cff-readme

Added read-only providers to 0-org-setup stage, and fixed CI/CD parameters in the generated workflow file (WIF_PROVIDER, provider files etc.)
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/data/cicd.yaml
  fast/stages/0-org-setup/data/defaults.yaml
Due: cff-readme, tflint-fast, check-names

Added read-only providers to 0-org-setup stage, and fixed CI/CD parameters in the generated workflow file (WIF_PROVIDER, provider files etc.) (#3322)
  fast/stages/0-org-setup/cicd.tf
  fast/stages/0-org-setup/data/cicd.yaml
  fast/stages/0-org-setup/data/defaults.yaml
Due: cff-readme, tflint-fast, check-names

feat: Support serverless_deployment NEG for api gateway
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

feat: Support serverless_deployment NEG for api gateway (#3323)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Fixed small syntax error in dev-gke-nodes.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-gke-nodes.yaml
Due: check-names

incremental improvements to project factory and underlying modules
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables.tf
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
Due: cff-readme, tflint-fast, check-names

fix org policies diff test
  tests/modules/organization/test_plan_org_policies_modules.py
Due: none

dev-platform.yaml secondary_ip_ranges syntax fix
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-dataplatform.yaml
Due: tflint-fast, check-names

dev-platform.yaml secondary_ip_ranges syntax fix (#3326)
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-dataplatform.yaml
Due: tflint-fast, check-names

Added environment configuration and output to org-setup stage, fixed test and made tfvars output sensitive.
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/outputs.tf
  fast/stages/0-org-setup/variables.tf
  tests/fast/stages/s0_org_setup/data-simple/defaults.yaml
  tests/fast/stages/s0_org_setup/not-simple.tfvars
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: cff-readme, tflint-fast, check-names

Incremental improvements to project factory and underlying modules (#3325)
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables.tf
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
  tests/modules/organization/test_plan_org_policies_modules.py
Due: cff-readme, tflint-fast, check-names

Fix alert variable notification prompts type in project module
  modules/project/README.md
  modules/project/variables-observability.tf
Due: cff-readme

add support for permissive mode to GKE cluster modules backup plans
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Fix alert variable notification prompts type in project module (#3330)
  modules/project/README.md
  modules/project/variables-observability.tf
Due: cff-readme

add support for permissive mode to GKE cluster modules backup plans (#3331)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: cff-readme

Update docs and fix tests
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  modules/gke-hub/variables.tf
  tests/modules/gke_hub/examples/defaults.yaml
  tests/modules/gke_hub/examples/full.yaml
  tests/modules/gke_hub/examples/policycontroller.yaml
Due: cff-readme

use ternaries as in the rest of the repo
  modules/gke-hub/main.tf
Due: cff-readme

Use same config format for servicemesh
  modules/gke-hub/main.tf
  modules/gke-hub/variables.tf
Due: cff-readme

Update gke-hub to use new Policy Controller API
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  modules/gke-hub/outputs.tf
  modules/gke-hub/variables.tf
Due: cff-readme

remove useless trys
  modules/gke-hub/main.tf
Due: cff-readme

Added 2 IAM roles for pf SA and updated test
  fast/stages/0-org-setup/data/folders/networking/.config.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: check-names

Updated role grant with condition
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/data/folders/networking/.config.yaml
  fast/stages/0-org-setup/outputs.tf
Due: cff-readme, tflint-fast, check-names

Added 2 IAM roles for pf SA and updated test (#3333)
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/data/folders/networking/.config.yaml
  fast/stages/0-org-setup/outputs.tf
  tests/fast/stages/s0_org_setup/not-simple.yaml
Due: cff-readme, tflint-fast, check-names

docs(blueprints): add deprecation notice
  blueprints/README.md
Due: validate_metadata

Update GKE module version reference to v43.0.0
  blueprints/README.md
Due: validate_metadata

allow setting resource policies in compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
Due: cff-readme
