Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

Update READMEs
  modules/organization/README.md
  modules/project/README.md
Due: cff-readme

Add tests
  tests/modules/folder/iam_by_principals_additive.tfvars
  tests/modules/folder/iam_by_principals_additive.yaml
  tests/modules/folder/tftest.yaml
  tests/modules/organization/iam_by_principals_additive.tfvars
  tests/modules/organization/iam_by_principals_additive.yaml
  tests/modules/organization/tftest.yaml
  tests/modules/project/iam_by_principals_additive.tfvars
  tests/modules/project/iam_by_principals_additive.yaml
Due: none

Remove "cycle errors"
  adrs/modules/20230816-iam-refactor.md
  modules/folder/README.md
  modules/folder/variables-iam.tf
  modules/organization/README.md
  modules/organization/variables-iam.tf
  modules/project/README.md
  modules/project/variables-iam.tf
Due: cff-readme

Add `iam_by_principals_additive` to project, organization and folder modules (#2814)
  adrs/modules/20230816-iam-refactor.md
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables-iam.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables-iam.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables-iam.tf
  tests/modules/folder/iam_by_principals_additive.tfvars
  tests/modules/folder/iam_by_principals_additive.yaml
  tests/modules/folder/tftest.yaml
  tests/modules/organization/iam_by_principals_additive.tfvars
  tests/modules/organization/iam_by_principals_additive.yaml
  tests/modules/organization/tftest.yaml
  tests/modules/project/iam_by_principals_additive.tfvars
  tests/modules/project/iam_by_principals_additive.yaml
  tools/lint.sh
Due: cff-readme

Update logging_data_access variables to use types
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables-observability.tf
Due: cff-readme

Fix dependencies
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
  fast/stages/0-bootstrap/automation.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-toplevel-folders.tf
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/variables.tf
Due: cff-readme, tflint-fast, validate_metadata, check-names

fix schema
  fast/stages/1-resman/schemas/top-level-folder.schema.json
Due: check-names

Add missing comma
  modules/project-factory/factory-projects.tf
Due: cff-readme

Fix try
  modules/project-factory/factory-projects.tf
Due: cff-readme

Fix readme examples
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
Due: cff-readme

Update `logging_data_access` type (#2816)
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
  fast/stages/0-bootstrap/automation.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/variables-toplevel-folders.tf
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables-observability.tf
Due: cff-readme, tflint-fast, validate_metadata, check-names

update changelog
  CHANGELOG.md
Due: none

halfway through refactor
  fast/addons/2-networking-swp/.fast-stage.env
  fast/addons/2-networking-swp/main.tf
  fast/addons/2-networking-swp/tls-inspection.tf
  fast/addons/2-networking-swp/variables-fast.tf
  fast/addons/2-networking-swp/variables.tf
Due: cff-readme, tflint-fast, check-names

fix permadiff in stage 0
  fast/stages/0-bootstrap/automation.tf
Due: cff-readme, tflint-fast, check-names

add missing schema
  fast/stages/2-networking-a-simple/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/hierarchical-ingress-rules.yaml
Due: check-names

update test inventories
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

Fix permadiff in stage 0 vpc-sc service account, add schemas to hierarchical policy YAML files (#2817)
  fast/stages/0-bootstrap/automation.tf
  fast/stages/2-networking-a-simple/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/hierarchical-ingress-rules.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: cff-readme, tflint-fast, check-names

Top level folder factory support for automation SA IAM
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
Due: cff-readme, tflint-fast, check-names

Use self to refer to SA
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme, tflint-fast, check-names

Fixes iam_bindings and iam_bindings_additive for top-level-folder
  fast/stages/1-resman/top-level-folders.tf
Due: cff-readme, tflint-fast, check-names

Tests
  tests/fast/stages/s1_resman/simple.yaml
Due: none

modules/compute-vm end-to-end tests and fixes
  modules/compute-vm/README.md
  tests/modules/compute_vm/examples/alias-ips.yaml
  tests/modules/compute_vm/examples/confidential.yaml
  tests/modules/compute_vm/examples/defaults.yaml
  tests/modules/compute_vm/examples/disk-options.yaml
  tests/modules/compute_vm/examples/group.yaml
  tests/modules/compute_vm/examples/gvnic.yaml
  tests/modules/compute_vm/examples/iam.yaml
  tests/modules/compute_vm/examples/independent-boot-disk.yaml
  tests/modules/compute_vm/examples/instance-schedule-create.yaml
  tests/modules/compute_vm/examples/instance-schedule-id.yaml
  tests/modules/compute_vm/examples/ips.yaml
  tests/modules/compute_vm/examples/metadata.yaml
  tests/modules/compute_vm/examples/sa-custom.yaml
  tests/modules/compute_vm/examples/sa-default.yaml
  tests/modules/compute_vm/examples/sa-managed.yaml
  tests/modules/compute_vm/examples/sa-none.yaml
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
  tests/modules/compute_vm/examples/sole-tenancy.yaml
  tests/modules/compute_vm/examples/spot.yaml
  tests/modules/compute_vm/examples/tag-bindings.yaml
  tests/modules/compute_vm/examples/template.yaml
Due: cff-readme

Beautified
  fast/stages/1-resman/top-level-folders.tf
Due: cff-readme, tflint-fast, check-names

fix inventory
  tests/fast/stages/s1_resman/simple.yaml
Due: none

Top level folder factory support for automation SA IAM (#2818)
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Due: cff-readme, tflint-fast, check-names

refactor cas module pool variable
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/iam.tf
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/outputs.tf
  modules/certificate-authority-service/variables.tf
Due: cff-readme

apply cas module refactor to ngfw fast addon
  fast/addons/2-networking-ngfw/README.md
  fast/addons/2-networking-ngfw/tls-inspection.tf
  fast/addons/2-networking-ngfw/variables.tf
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
  tests/fast/addons/a2_networking_ngfw/simple.tfvars
Due: cff-readme, tflint-fast, check-names

don't create resources for aservice agents not in services
  modules/project/service-agents.tf
Due: cff-readme

untested
  fast/addons/2-networking-ngfw/tls-inspection.tf
  fast/addons/2-networking-ngfw/variables.tf
  fast/addons/2-networking-swp/.fast-stage.env
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-swp/diagram.excalidraw.gz
  fast/addons/2-networking-swp/diagram.png
  fast/addons/2-networking-swp/main.tf
  fast/addons/2-networking-swp/outputs.tf
  fast/addons/2-networking-swp/tls-inspection.tf
  fast/addons/2-networking-swp/variables-fast.tf
  fast/addons/2-networking-swp/variables.tf
Due: cff-readme, tflint-fast, check-names

test
  fast/addons/2-networking-ngfw/README.md
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-swp/main.tf
  fast/addons/2-networking-swp/tls-inspection.tf
  fast/addons/2-networking-swp/variables-fast.tf
  tests/fast/addons/a2_networking_swp/__init__.py
  tests/fast/addons/a2_networking_swp/simple.tfvars
  tests/fast/addons/a2_networking_swp/simple.yaml
  tests/fast/addons/a2_networking_swp/tftest.yaml
Due: cff-readme, tflint-fast, check-names

tflint
  fast/addons/2-networking-ngfw/variables.tf
  fast/addons/2-networking-swp/outputs.tf
  fast/addons/2-networking-swp/tls-inspection.tf
Due: cff-readme, tflint-fast, check-names

tflint
  fast/addons/2-networking-ngfw/README.md
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-swp/outputs.tf
  tests/fast/addons/a2_networking_swp/simple.yaml
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/addons/2-networking-ngfw/variables-fast.tf
  fast/addons/2-networking-swp/tls-inspection.tf
Due: cff-readme, tflint-fast, check-names

don't create resources for aservice agents not in services (#2820)
  modules/project/service-agents.tf
Due: cff-readme

fix brainfarts
  fast/addons/2-networking-ngfw/variables-fast.tf
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-swp/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-swp/outputs.tf
Due: cff-readme, tflint-fast, check-names

update ca pool type in security stage
  fast/stages/2-security/README.md
  fast/stages/2-security/variables.tf
  tests/fast/stages/s2_security/simple.tfvars
  tests/fast/stages/s2_security/simple.yaml
Due: cff-readme, tflint-fast, check-names

add moved blocks
  modules/certificate-authority-service/main.tf
Due: cff-readme

remove try from output
  modules/certificate-authority-service/outputs.tf
Due: cff-readme
