Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, versions, check-names, duplicate-diff

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: true
  require_serial: true

versions:
  name: Align Terraform/OpenTofu provider versions
  language: python
  additional_dependencies:
  - click
  pass_filenames: false
  entry: tools/versions.py --quiet

check-names:
  name: Check name lengths for FAST
  language: python
  additional_dependencies:
  - click
  - deepdiff
  - ghapi
  - iso8601
  - marko
  - requests
  - yamale
  - jsonschema
  - BeautifulSoup4
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

Update README.md
  modules/billing-account/README.md
Due: cff-readme

Update main.tf
  modules/billing-account/main.tf
Due: cff-readme, duplicate-diff

Update iam.tf
  modules/billing-account/iam.tf
Due: cff-readme, duplicate-diff

Create Preview
  Preview
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

net-lb-proxy-int: add context
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/groups.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/examples/context.yaml
Due: cff-readme, duplicate-diff

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

Update modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/README.md
Due: cff-readme

Remove deletion policy from inventory
  tests/modules/net_lb_proxy_int/examples/context.yaml
Due: duplicate-diff

Add context to net-lb-proxy-int (#3988)
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/groups.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/examples/context.yaml
Due: cff-readme, duplicate-diff

docs: update release-process skill to use H2 for breaking changes
  skills/maintenance/release-process/SKILL.md
Due: none

Add list of connected repositories at the end of readme.
  README.md
Due: none

Add CODEOWNERS file with maintainers
  .github/CODEOWNERS
Due: none

Add CODEOWNERS file with maintainers (#3994)
  .github/CODEOWNERS
Due: none

Add support for regional firewall policies in 2-networking stage
  fast/stages/2-networking/factory-firewall-policies.tf
  fast/stages/2-networking/schemas/firewall-policy.schema.json
  fast/stages/2-networking/schemas/firewall-policy.schema.md
  tests/fast/stages/s2_networking/data-testregionalfw/defaults.yaml
  tests/fast/stages/s2_networking/data-testregionalfw/firewall-policies/policy1.yaml
  tests/fast/stages/s2_networking/regional_fw.tfvars
  tests/fast/stages/s2_networking/regional_fw.yaml
  tests/fast/stages/s2_networking/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

Revert "Add CODEOWNERS file with maintainers (#3994)"
  .github/CODEOWNERS
Due: none

Revert "Add CODEOWNERS file with maintainers (#3994)" (#3996)
  .github/CODEOWNERS
Due: none

Compact firewall policies tests in 2-networking stage
  tests/fast/stages/s2_networking/data-testfw/defaults.yaml
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/global.yaml
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/regional.yaml
  tests/fast/stages/s2_networking/fw_policies.tfvars
  tests/fast/stages/s2_networking/fw_policies.yaml
  tests/fast/stages/s2_networking/tftest.yaml
Due: duplicate-diff

Add support for regional firewall policies in 2-networking stage (#3997)
  fast/stages/2-networking/factory-firewall-policies.tf
  fast/stages/2-networking/schemas/firewall-policy.schema.json
  fast/stages/2-networking/schemas/firewall-policy.schema.md
  tests/fast/stages/s2_networking/data-testfw/defaults.yaml
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/global.yaml
  tests/fast/stages/s2_networking/data-testfw/firewall-policies/regional.yaml
  tests/fast/stages/s2_networking/fw_policies.tfvars
  tests/fast/stages/s2_networking/fw_policies.yaml
  tests/fast/stages/s2_networking/tftest.yaml
Due: cff-readme, check-names, duplicate-diff

Refine containerd_config variable interface
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/advanced-machine-features.yaml
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: cff-readme, duplicate-diff

fix(gke-nodepool): run terraform fmt to fix attribute alignment in containerd_config
  modules/gke-nodepool/variables.tf
Due: cff-readme, duplicate-diff

docs(gke-nodepool): regenerate README with updated variable line numbers
  modules/gke-nodepool/README.md
Due: cff-readme

fix(gke-nodepool): use coalesce instead of try for null header map in for_each
  modules/gke-nodepool/main.tf
Due: cff-readme, duplicate-diff

tests(gke-nodepool): update containerd-config inventory to match actual plan output
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: duplicate-diff

Add containerd_config support to gke-nodepool (#3973)
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/advanced-machine-features.yaml
  tests/modules/gke_nodepool/examples/containerd-config.yaml
Due: cff-readme, duplicate-diff

Updates from review; slim down locals; obsolete psc_allowed_consumer_projects
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme, duplicate-diff

Windows slashes
  modules/cloudsql-instance/README.md
Due: cff-readme

Add `binary_authorization` support to `modules/cloud-run-v2`
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job-managed.tf
  modules/cloud-run-v2/job-unmanaged.tf
  modules/cloud-run-v2/service-managed.tf
  modules/cloud-run-v2/service-unmanaged.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/workerpool-managed.tf
  modules/cloud-run-v2/workerpool-unmanaged.tf
  tests/modules/cloud_run_v2/examples/binary-authorization-job.yaml
  tests/modules/cloud_run_v2/examples/binary-authorization.yaml
Due: cff-readme, duplicate-diff

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  versions: any of: (versions.tf|^default-versions.tf|versions.tofu|default-versions.tofu)$
  check-names: any of: ^fast
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl|\.tpl|\.yaml)$
