Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Update VPN tunnel interface name handling for override
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: cff-readme

Update bgp peer handling for override
  modules/net-vpn-ha/main.tf
Due: cff-readme

Added renaming for both sides of peering
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: cff-readme

Fix precondition
  modules/net-vpc-peering/main.tf
Due: cff-readme

Remove spurious folders
  modules/tmpf9eksz75/README.md
  modules/tmpf9eksz75/iam.tf
  modules/tmpf9eksz75/main.tf
  modules/tmpf9eksz75/outputs.tf
  modules/tmpf9eksz75/variables.tf
  modules/tmpf9eksz75/versions.tf
  modules/tmpkr5qzird/README.md
  modules/tmpkr5qzird/iam.tf
  modules/tmpkr5qzird/main.tf
  modules/tmpkr5qzird/outputs.tf
  modules/tmpkr5qzird/variables.tf
  modules/tmpkr5qzird/versions.tf
  modules/tmpso70odgo/README.md
  modules/tmpso70odgo/iam.tf
  modules/tmpso70odgo/main.tf
  modules/tmpso70odgo/outputs.tf
  modules/tmpso70odgo/variables.tf
  modules/tmpso70odgo/versions.tf
Due: cff-readme, versions

Apply suggestions to peering module
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: cff-readme

Allow user to override peerings names
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: cff-readme

Allow user to override peerings names (#2459)
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: cff-readme

README
  fast/stages/1-vpc-sc/README.md
Due: cff-readme, check-names

boilerplate
  fast/stages/1-vpc-sc/data/access-levels/geo.yaml
Due: check-names

tflint
  fast/stages/2-security/README.md
  fast/stages/2-security/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  modules/vpc-sc/README.md
Due: cff-readme

fix security stage tests
  tests/fast/stages/s2_security/data/vpc-sc/access-levels/geo_it.yaml
  tests/fast/stages/s2_security/data/vpc-sc/access-levels/identity_me.yaml
  tests/fast/stages/s2_security/data/vpc-sc/egress-policies/test.yaml
  tests/fast/stages/s2_security/data/vpc-sc/ingress-policies/test.yaml
  tests/fast/stages/s2_security/simple.tfvars
  tests/fast/stages/s2_security/simple.yaml
Due: none

vpc-sc stage tests
  tests/fast/stages/s1_vpcsc/data/vpc-sc/access-levels/geo_it.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/access-levels/identity_me.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/egress-policies/test.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/ingress-policies/test.yaml
  tests/fast/stages/s1_vpcsc/simple.tfvars
  tests/fast/stages/s1_vpcsc/simple.yaml
  tests/fast/stages/s1_vpcsc/tftest.yaml
Due: none

tflint
  fast/stages/1-vpc-sc/README.md
  fast/stages/1-vpc-sc/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

fix resman stage test inventories
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.yaml
Due: none

Fix per comments on the PR
  fast/stages/3-network-security/README.md
  fast/stages/3-network-security/main.tf
  fast/stages/3-network-security/net-dev.tf
  fast/stages/3-network-security/net-prod.tf
  fast/stages/3-network-security/outputs.tf
  fast/stages/3-network-security/variables-fast.tf
  fast/stages/3-network-security/variables.tf
  tests/fast/stages/s3_network_security/simple.tfvars
Due: cff-readme, tflint-fast, check-names

fix doc
  fast/stages/3-network-security/README.md
Due: cff-readme, check-names

Regions
  fast/stages/3-network-security/README.md
  fast/stages/3-network-security/variables.tf
Due: cff-readme, tflint-fast, check-names

security README
  fast/stages/2-security/README.md
  fast/stages/2-security/diagram.png
  fast/stages/diagrams.excalidraw.gz
Due: cff-readme, check-names

stage-level README
  fast/stages/README.md
Due: cff-readme, check-names

Update README.md
  fast/stages/README.md
Due: cff-readme, check-names

update changelog
  CHANGELOG.md
Due: none

update changelog for v33.0.0
  CHANGELOG.md
Due: none

Update FABRIC-AND-CFT.md
  FABRIC-AND-CFT.md
Due: none

flexible perimeter variable
  fast/stages/1-vpc-sc/README.md
  fast/stages/1-vpc-sc/main.tf
  fast/stages/1-vpc-sc/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/fast/stages/s1_vpcsc/data/vpc-sc/restricted-services.yaml
  tests/fast/stages/s1_vpcsc/simple.tfvars
  tests/fast/stages/s1_vpcsc/simple.yaml
  tests/fixtures.py
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme, tflint-fast, check-names

remove diagram
  fast/stages/1-vpc-sc/README.md
Due: cff-readme, check-names

change default to dry run
  fast/stages/1-vpc-sc/README.md
  fast/stages/1-vpc-sc/variables.tf
Due: cff-readme, tflint-fast, check-names

default to dry run
  fast/stages/1-vpc-sc/README.md
  fast/stages/1-vpc-sc/variables.tf
  tests/fast/stages/s1_vpcsc/simple.tfvars
Due: cff-readme, tflint-fast, check-names

VPC-SC as separate FAST stage 1 (#2460)
  fast/stage-links.sh
  fast/stages/1-resman/iam.tf
  fast/stages/1-vpc-sc/IAM.md
  fast/stages/1-vpc-sc/README.md
  fast/stages/1-vpc-sc/data/access-levels/geo.yaml
  fast/stages/1-vpc-sc/data/restricted-services.yaml
  fast/stages/1-vpc-sc/diagram.png
  fast/stages/1-vpc-sc/main.tf
  fast/stages/1-vpc-sc/outputs.tf
  fast/stages/1-vpc-sc/variables-fast.tf
  fast/stages/1-vpc-sc/variables.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/diagram.png
  fast/stages/2-security/variables-fast.tf
  fast/stages/2-security/variables.tf
  fast/stages/README.md
  fast/stages/diagrams.excalidraw.gz
  modules/vpc-sc/README.md
  modules/vpc-sc/service-perimeters-regular.tf
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/access-levels/geo_it.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/access-levels/identity_me.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/egress-policies/test.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/ingress-policies/test.yaml
  tests/fast/stages/s1_vpcsc/data/vpc-sc/restricted-services.yaml
  tests/fast/stages/s1_vpcsc/simple.tfvars
  tests/fast/stages/s1_vpcsc/simple.yaml
  tests/fast/stages/s1_vpcsc/tftest.yaml
  tests/fast/stages/s2_security/simple.tfvars
  tests/fixtures.py
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme, tflint-fast, check-names

well know -> well-known
  blueprints/factories/README.md
Due: validate_metadata

well know -> well-known (#2463)
  blueprints/factories/README.md
Due: validate_metadata

fix peering routes config in fast a network stage
  fast/stages/2-networking-a-simple/spoke-peerings.tf
Due: cff-readme, tflint-fast, check-names

fix peering routes config in fast a network stage (#2464)
  fast/stages/2-networking-a-simple/spoke-peerings.tf
Due: cff-readme, tflint-fast, check-names

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
