Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

Fix not setting user defined password
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme

Move stage 3 custom roles to resman
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/roles/gcve/gcve_network_admin.yaml
  fast/stages/1-resman/data/roles/gcve/gcve_network_viewer.yaml
  fast/stages/1-resman/data/stage-3/gcve-dev.yaml
  fast/stages/1-resman/data/stage-3/gcve-prod.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/moved/v35.1.0-v36.0.0.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables-stages.tf
Due: cff-readme, tflint-fast, check-names

Fix tests
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/simple.yaml
Due: none

Update schema reference
  fast/stages/1-resman/data/roles/gcve/gcve_network_admin.yaml
  fast/stages/1-resman/data/roles/gcve/gcve_network_viewer.yaml
Due: check-names

Allow net-vpc-firewall factory files to be empty (#2719)
  modules/net-vpc-firewall/main.tf
Due: cff-readme

refactor interface, also implement in v1 module
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme

fix blueprint
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
Due: validate_metadata

Added min_instances, max_instances, min_throughput and max_throughtpu… (#2706)
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: cff-readme, validate_metadata

Wiktor's recommendation
  fast/stages/1-resman/stage-2-networking.tf
Due: cff-readme, tflint-fast, check-names

enable_private_path_for_google_cloud_services added to CloudSQL
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme

update net_lb_app_int/*-neg.yaml
  tests/modules/net_lb_app_int/examples/internet-neg.yaml
  tests/modules/net_lb_app_int/examples/zonal-neg.yaml
Due: none

add missing "google_compute_ssl_certificate" resource
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/main.tf
Due: cff-readme

update net_lb_app_int_cross_region/examples/zonal-neg.yaml
  tests/modules/net_lb_app_int_cross_region/examples/zonal-neg.yaml
Due: none

formatting
  modules/net-lb-app-int-cross-region/main.tf
Due: cff-readme

remove "iap: []" lines
  tests/modules/net_lb_app_ext/examples/classic-vs-non-classic.yaml
  tests/modules/net_lb_app_ext/examples/complex-example.yaml
  tests/modules/net_lb_app_ext/examples/health-check-1.yaml
  tests/modules/net_lb_app_ext/examples/health-check-2.yaml
  tests/modules/net_lb_app_ext/examples/http-backends.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
  tests/modules/net_lb_app_ext/examples/https-backends.yaml
  tests/modules/net_lb_app_ext/examples/hybrid-neg.yaml
  tests/modules/net_lb_app_ext/examples/instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/internet-neg.yaml
  tests/modules/net_lb_app_ext/examples/managed-instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/minimal-http.yaml
  tests/modules/net_lb_app_ext/examples/network-endpoint-groups.yaml
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
  tests/modules/net_lb_app_ext/examples/ssl-certificates.yaml
  tests/modules/net_lb_app_ext/examples/url-map.yaml
  tests/modules/net_lb_app_ext/examples/zonal-neg-creation.yaml
Due: none

use try() on var.https_proxy_config.certificate_manager_certificates
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int/main.tf
Due: cff-readme

fix typo on maintenance config
  modules/alloydb/main.tf
Due: cff-readme

fix typo on maintenance config (#2727)
  modules/alloydb/main.tf
Due: cff-readme

name of the variable changed
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: cff-readme

new feature added to the replica as well
  modules/cloudsql-instance/main.tf
Due: cff-readme

Update simple.yaml enable_private_path_for_google_cloud_services: false
  tests/modules/cloudsql_instance/examples/simple.yaml
Due: none

enable_private_path_for_google_cloud_services added to CloudSQL (#2726)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/simple.yaml
Due: cff-readme

Fix errors in the versions.tf
  modules/cloudsql-instance/versions.tf
Due: cff-readme, versions

test, do not merge
  default-versions.tf
Due: versions

Run test and linting when pushing to master or fast-dev
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: none

Run test and linting when pushing to master or fast-dev (#2730)
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: none

add missing role to org-level delegated IAM grants
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

add missing role to org-level delegated IAM grants (#2731)
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

update changelog
  CHANGELOG.md
Due: none

allow excluding pulls from release in changelog tool
  tools/changelog.py
Due: none

linting
  tools/changelog.py
Due: none

Fixing yaml naming in prod subnet folder to match other lifecycles
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-sec.yaml
Due: check-names

Fixing yaml naming in prod subnet folder to match other lifecycles (#2733)
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-sec.yaml
Due: check-names

Allow override of Nodepool SA Display Name
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: cff-readme

Remove comment
  modules/gke-nodepool/main.tf
Due: cff-readme

Add confidential compute support to google_dataproc_cluster in the dataproc module
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
