Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

Update modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Adding Regional Internet NEGs support (#3206)
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: cff-readme

change 1+2
  README.md
Due: none

change3
  README.md
Due: none

Fixed gke-hub module to support regional deployment
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  modules/gke-hub/variables.tf
Due: cff-readme

Allowing multiple on-prem domains
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/dns-landing.tf
  fast/stages/2-networking-a-simple/variables.tf
Due: cff-readme, tflint-fast, check-names

added on_prem domain example for tests
  tests/fast/stages/s2_networking_a_simple/ncc.tfvars
  tests/fast/stages/s2_networking_a_simple/simple.tfvars
Due: none

Missing "" in tests
  tests/fast/stages/s2_networking_a_simple/ncc.tfvars
  tests/fast/stages/s2_networking_a_simple/simple.tfvars
Due: none

Added domain for vpn test.
  tests/fast/stages/s2_networking_a_simple/vpn.tfvars
Due: none

Made gcp domains (gcp.example.com) optional and not created if null
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/dns-dev.tf
  fast/stages/2-networking-a-simple/dns-landing.tf
  fast/stages/2-networking-a-simple/dns-prod.tf
Due: cff-readme, tflint-fast, check-names

Co-authored-by: Julio Castillo <juliocc@gmail.com> Adding location param for Regional Cluster Memebership,mesh feature default config for managed ASM
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  modules/gke-hub/variables.tf
Due: cff-readme

Add `tag_bindings` to Artifact Registry and Secret Manager modules.
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: cff-readme

Fix linting
  modules/artifact-registry/main.tf
Due: cff-readme

Fix README
  modules/secret-manager/README.md
Due: cff-readme

Add `tag_bindings` to Artifact Registry and Secret Manager modules. (#3220)
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: cff-readme

added changes to the other network stages
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/dns-dev.tf
  fast/stages/2-networking-b-nva/dns-landing.tf
  fast/stages/2-networking-b-nva/dns-prod.tf
  fast/stages/2-networking-b-nva/variables.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/dns-dev.tf
  fast/stages/2-networking-c-separate-envs/dns-prod.tf
  fast/stages/2-networking-c-separate-envs/main.tf
  fast/stages/2-networking-c-separate-envs/variables.tf
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.tfvars
  tests/fast/stages/s2_networking_b_nva/simple.tfvars
  tests/fast/stages/s2_networking_c_separate_envs/simple.tfvars
Due: cff-readme, tflint-fast, check-names

Revert "Merge branch 'lnesteroff/dns-uplift' of https://github.com/GoogleCloudPlatform/cloud-foundation-fabric into lnesteroff/dns-uplift"
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: cff-readme

No default shared-vpc config
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
Due: tflint-fast, check-names

Implement PR suggestions.
  fast/stages/3-data-platform-dev/demo/main.tf
  fast/stages/3-data-platform-dev/demo/outputs.tf
  fast/stages/3-data-platform-dev/demo/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix README
  fast/stages/3-data-platform-dev/demo/README.md
Due: cff-readme, tflint-fast, check-names

Add universe support in PF
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
Due: cff-readme

Add universe region support
  modules/compute-vm/main.tf
Due: cff-readme

Add regional template to output
  modules/compute-vm/outputs.tf
Due: cff-readme

outputs update
  modules/compute-vm/README.md
Due: cff-readme

linting
  modules/compute-vm/main.tf
  modules/compute-vm/outputs.tf
Due: cff-readme

Made neg_configs variable same as in net-lb-app-int
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Added support for cross-project negs in net-lb-app-ext-regional module
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: cff-readme

Run terraform fmt & updated README with tfdocs
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
Due: cff-readme

update diagram and fix tests.
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/diagram.png
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Due: cff-readme, tflint-fast, check-names

Update excalidraw diagram.
  fast/stages/diagrams.excalidraw.gz
Due: check-names

Fix
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/terraform.tfvars.sample
Due: cff-readme, tflint-fast, check-names

feat: add support for regional instance templates
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
  modules/compute-vm/template.tf
Due: cff-readme

fix template outputs
  modules/compute-vm/outputs.tf
Due: cff-readme

feat: add support for regional instance templates (#3224)
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
  modules/compute-vm/template.tf
Due: cff-readme

tag factory context
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables.tf
  tests/modules/organization/examples/tags-factory.yaml
Due: cff-readme

support tag factory contexts in resman
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Due: cff-readme, tflint-fast, check-names

feat: Changes for migrating resources to GLB module
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/health-check.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  modules/net-lb-app-ext/variables-health-check.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Updated Readme
  modules/net-lb-app-ext/README.md
Due: cff-readme

Added support for null description
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
Due: cff-readme

Added support for empty string
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  modules/net-lb-app-ext/variables-urlmap.tf
Due: cff-readme
