Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

Updated the auto pilot gke security posture configuration (#2556)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: cff-readme

Update changelog
  CHANGELOG.md
Due: none

Update variables.tf
  fast/stages/2-networking-b-nva/variables.tf
Due: cff-readme, tflint-fast, check-names

Fix e2e testsss for cloud run
  modules/cloud-run-v2/README.md
  modules/cloud-run/README.md
  tests/fixtures/vpc-connector.tf
Due: cff-readme

net option renamed
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-pri/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-pri/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-sec/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/regional-sec/rules.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-pri/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/regional-sec/landing-default-sec.yaml
  fast/stages/2-networking-b-nva/diagram-gcve.svg
  fast/stages/2-networking-b-nva/diagram-regional.svg
  fast/stages/2-networking-b-nva/dns-landing.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/net-regional-vpc.tf
  fast/stages/2-networking-b-nva/nva-regional-vpc.tf
  fast/stages/2-networking-b-nva/outputs.tf
  fast/stages/2-networking-b-nva/test-resources.tf
  fast/stages/2-networking-b-nva/variables.tf
Due: cff-readme, tflint-fast, check-names

feat: output dataplex lake location (#8)
  modules/dataplex/outputs.tf
Due: cff-readme

minor fix
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-regional-vpc.tf
  fast/stages/2-networking-b-nva/variables.tf
Due: cff-readme, tflint-fast, check-names

Update organization.tf
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

Update list of org policies imported by FAST bootstrap stage
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

Enables setNewProjectDefaultToZonalDNSOnly policy
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
Due: check-names

Fix test inventory
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

added stage tests
  fast/stages/2-networking-b-nva/net-prod.tf
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_b_nva/tftest.yaml
Due: cff-readme, tflint-fast, check-names

test fix
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
Due: none

Add support for essentialcontacts.allowedContactDomains
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: cff-readme, tflint-fast, check-names

Simplify merge
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

Fix inventory for tests
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

Enables compute.setNewProjectDefaultToZonalDNSOnly and essentialcontacts.allowedContactDomains (#2564)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: cff-readme, tflint-fast, check-names

Fix format typo for essential contacts domains in bootstrap
  fast/stages/0-bootstrap/organization.tf
Due: cff-readme, tflint-fast, check-names

regional-vpc mode
  fast/stages/2-networking-b-nva/README.md
Due: cff-readme, check-names

Move project-factory to stage 2, fix path. Remove other trailing whitespace.
  fast/stages/CLEANUP.md
Due: check-names

Update 3-project-factory to 2-project-factory
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/outputs.tf
Due: cff-readme, tflint-fast, check-names

./tools/tfdoc.py fast/stages/0-bootstrap
  fast/stages/0-bootstrap/README.md
Due: cff-readme, check-names

Added authorized views to tables in bigtable-instance module
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
  tests/modules/bigtable_instance/examples/authorized-views.yaml
Due: cff-readme

fixed api
  fast/stages/2-networking-b-nva/net-landing.tf
Due: cff-readme, tflint-fast, check-names

fix readme
  fast/stages/2-networking-b-nva/README.md
Due: cff-readme, check-names

fixed readme file
  fast/stages/2-networking-b-nva/README.md
Due: cff-readme, check-names

Update variables.tf (#2558)
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/variables.tf
Due: cff-readme, tflint-fast, check-names

drawing updated
  fast/stages/2-networking-b-nva/diagram-regional.svg
Due: check-names

resman mt fixes
  fast/stages/1-resman/tenant-root.tf
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

fix custom roles var
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

Added routines to bigquery-dataset module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/routines.yaml
Due: cff-readme

Update a few references from 3-project-factory to 2-project-factory (#2568)
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/CLEANUP.md
Due: cff-readme, tflint-fast, check-names

FAST resman mt fixes (#2579)
  fast/stages/1-resman/tenant-root.tf
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
Due: cff-readme, tflint-fast, check-names

stage test fix
  tests/fast/stages/s2_networking_b_nva/regional.yaml
Due: none
