Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.86.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
    files: ^modules/
    exclude: (tests/fixtures/|tools/lockfile/|^fast)
  # - id: terraform_validate
  #   args:
  #   - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: cff-readme
    name: Regenerate README.md with tfdoc.py
    entry: tools/pre-commit-tfdoc.sh
    language: script
    #types: [terraform]
    files: ^(modules|fast).*(tf|README.md)$
    pass_filenames: true
    require_serial: true
  - id: licenese
    name: Check license presence and other boilerplate checks
    language: system
    entry: tools/check_boilerplate.py
    pass_filenames: true
    args:
    -  --scan-files
  - id: tflint-fast
    name: Checking FAST code with tflint
    entry: tools/tflint-fast.py
    language: system
    pass_filenames: false
    require_serial: true
    files: ^fast/.*tf
  - id: versions
    name: Align Terraform provider versions
    language: script
    files: (versions.tf|^default-versions.tf)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;
  - id: versions_tofu
    name: Align OpenTofu provider versions
    language: script
    files: (versions.tofu|^default-versions.tofu)$
    pass_filenames: false
    entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;
  - id: validate_metadata
    name: Validate blueprints metadata
    language: system
    pass_filenames: false
    files: ^blueprints
    entry: tools/validate_metadata.py -v --failed-only blueprints
  - id: check-names
    name: Check name lengths for FAST
    language: system
    pass_filenames: false
    files: ^fast
    entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages
  - id: check-links
    name: Check links in markdown files
    language: system
    entry: tools/check_links.py --no-show-summary --scan-files

# - repo: https://github.com/adrienverge/yamllint
#   rev: v1.34.0
#   hooks:
#   - id: yamllint
#     args: [-c=.yamllint, --no-warnings]
#     exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
    args:
    - --allow-multiple-documents
    exclude: (/templates/|modules/cloud-config-container/)

- repo: https://github.com/google/yapf/
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: (requirements.txt$|excalidraw$|package-lock\.json$|go\.sum$|^CHANGELOG.md$)

README and tests missing
  modules/dataplex-aspects/iam.tf
  modules/dataplex-aspects/main.tf
  modules/dataplex-aspects/outputs.tf
  modules/dataplex-aspects/schemas/aspect-type.schema.json
  modules/dataplex-aspects/variables.tf
Due: cff-readme

default location value
  modules/dataplex-aspects/variables.tf
Due: cff-readme

Fix serverless NEG example in net-lb-app-ext
  modules/net-lb-app-ext/README.md
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
Due: cff-readme

tested
  modules/dataplex-aspects/README.md
  modules/dataplex-aspects/main.tf
  modules/dataplex-aspects/variables.tf
  modules/dataplex/README.md
Due: cff-readme

READMEs
  README.md
  modules/README.md
Due: cff-readme

fix fast secops stage 3 providers override
  fast/stages/3-secops-dev/providers-override.tf
Due: cff-readme, tflint-fast, check-names

tfdoc
  fast/stages/3-secops-dev/README.md
Due: cff-readme, check-names

New Dataplex Aspect Types module (#3050)
  README.md
  fast/stages/3-secops-dev/README.md
  fast/stages/3-secops-dev/providers-override.tf
  modules/README.md
  modules/dataplex-aspects/README.md
  modules/dataplex-aspects/iam.tf
  modules/dataplex-aspects/main.tf
  modules/dataplex-aspects/outputs.tf
  modules/dataplex-aspects/schemas/aspect-type.schema.json
  modules/dataplex-aspects/variables.tf
  modules/dataplex/README.md
Due: cff-readme, tflint-fast, check-names

Add ability to reuse existing projects in project factory
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
Due: cff-readme

tfdoc
  modules/project-factory/README.md
Due: cff-readme

Updates schemas. Add project_reuse to net-vpc-factory.
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-projects-object.tf
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/net-vpc-factory/variables.tf
  modules/project-factory/schemas/project.schema.json
Due: cff-readme

Fix serverless NEG example in net-lb-app-ext (#3049)
  modules/net-lb-app-ext/README.md
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
Due: cff-readme

Fix schemas
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/project-factory/schemas/project.schema.json
Due: none

update changelog
  CHANGELOG.md
Due: none

add support for context to dataplex aspect types
  modules/dataplex-aspects/README.md
  modules/dataplex-aspects/iam.tf
  modules/dataplex-aspects/variables.tf
Due: cff-readme

switch from policy tags to aspect types
  fast/stages/3-data-platform-dev/data/aspect-types/test-0.yaml
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/schemas/aspect-type.schema.json
  fast/stages/3-data-platform-dev/schemas/tag-template.schema.json
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

remove old pf based iterations
  fast/stages/3-data-platform-factory-dev/.fast-stage.env
  fast/stages/3-data-platform-factory-dev/README.md
  fast/stages/3-data-platform-factory-dev/data/data-domains/test-0/_config.yaml
  fast/stages/3-data-platform-factory-dev/data/data-domains/test-0/product-0.yaml
  fast/stages/3-data-platform-factory-dev/data/data-domains/test-1/_config.yaml
  fast/stages/3-data-platform-factory-dev/data/data-domains/test-1/product-0.yaml
  fast/stages/3-data-platform-factory-dev/factory.tf
  fast/stages/3-data-platform-factory-dev/main.tf
  fast/stages/3-data-platform-factory-dev/outputs.tf
  fast/stages/3-data-platform-factory-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-factory-dev/schemas/data-product.schema.json
  fast/stages/3-data-platform-factory-dev/schemas/tag-template.schema.json
  fast/stages/3-data-platform-factory-dev/templates/providers.tf.tpl
  fast/stages/3-data-platform-factory-dev/variables-fast.tf
  fast/stages/3-data-platform-factory-dev/variables.tf
  fast/stages/3-data-platform-pf-dev/.fast-stage.env
  fast/stages/3-data-platform-pf-dev/README.md
  fast/stages/3-data-platform-pf-dev/data/data-domains/test-0/_config.yaml
  fast/stages/3-data-platform-pf-dev/data/data-domains/test-0/product-0.yaml
  fast/stages/3-data-platform-pf-dev/data/data-domains/test-1/_config.yaml
  fast/stages/3-data-platform-pf-dev/data/data-domains/test-1/product-0.yaml
  fast/stages/3-data-platform-pf-dev/data/tag-templates/test.yaml
  fast/stages/3-data-platform-pf-dev/data_domains.tf
  fast/stages/3-data-platform-pf-dev/data_products.tf
  fast/stages/3-data-platform-pf-dev/factory.tf
  fast/stages/3-data-platform-pf-dev/main.tf
  fast/stages/3-data-platform-pf-dev/outputs.tf
  fast/stages/3-data-platform-pf-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-pf-dev/schemas/data-product.schema.json
  fast/stages/3-data-platform-pf-dev/schemas/tag-template.schema.json
  fast/stages/3-data-platform-pf-dev/variables-fast.tf
  fast/stages/3-data-platform-pf-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Add ability to reuse existing projects in project factory (#3051)
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-projects-object.tf
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/net-vpc-factory/variables.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Due: cff-readme

Updated network config variables in GKE node pool
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/gke-clusters.tf
  fast/stages/3-gke-dev/variables.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: cff-readme, tflint-fast, check-names

Updated network config variables in GKE node pool (#3052)
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/gke-clusters.tf
  fast/stages/3-gke-dev/variables.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: cff-readme, tflint-fast, check-names

add aspects
  fast/stages/3-data-platform-dev/data/tag-templates/test.yaml
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/outputs.tf
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

rename dataplex aspects module
  README.md
  modules/README.md
  modules/dataplex-aspect-types/README.md
  modules/dataplex-aspect-types/iam.tf
  modules/dataplex-aspect-types/main.tf
  modules/dataplex-aspect-types/outputs.tf
  modules/dataplex-aspect-types/schemas/aspect-type.schema.json
  modules/dataplex-aspect-types/variables.tf
Due: cff-readme

rename dataplex aspects module (#3053)
  README.md
  modules/README.md
  modules/dataplex-aspect-types/README.md
  modules/dataplex-aspect-types/iam.tf
  modules/dataplex-aspect-types/main.tf
  modules/dataplex-aspect-types/outputs.tf
  modules/dataplex-aspect-types/schemas/aspect-type.schema.json
  modules/dataplex-aspect-types/variables.tf
Due: cff-readme

New Managed Kafka module
  modules/managed-kafka/README.md
  modules/managed-kafka/main.tf
  modules/managed-kafka/outputs.tf
  modules/managed-kafka/variables.tf
  tests/examples/variables.tf
  tests/modules/managed_kafka/examples/connect.yaml
  tests/modules/managed_kafka/examples/simple.yaml
  tests/modules/managed_kafka/examples/topics.yaml
Due: cff-readme

Fix formatting
  modules/managed-kafka/README.md
Due: cff-readme

Add missing versions.tf
  modules/dataplex-aspect-types/versions.tf
  modules/dataplex-aspect-types/versions.tofu
  modules/managed-kafka/versions.tf
  modules/managed-kafka/versions.tofu
Due: cff-readme, versions, versions_tofu

New Managed Kafka module (#3054)
  modules/dataplex-aspect-types/versions.tf
  modules/dataplex-aspect-types/versions.tofu
  modules/managed-kafka/README.md
  modules/managed-kafka/main.tf
  modules/managed-kafka/outputs.tf
  modules/managed-kafka/variables.tf
  modules/managed-kafka/versions.tf
  modules/managed-kafka/versions.tofu
  tests/examples/variables.tf
  tests/modules/managed_kafka/examples/connect.yaml
  tests/modules/managed_kafka/examples/simple.yaml
  tests/modules/managed_kafka/examples/topics.yaml
Due: cff-readme, versions, versions_tofu

Add additional alloydb instance parameters
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
Due: cff-readme

README, IAM contexts
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-domains.tf
  fast/stages/3-data-platform-dev/data-products.tf
  fast/stages/3-data-platform-dev/data/data-domains/test-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/test-0/product-0.yaml
  fast/stages/3-data-platform-dev/factory.tf
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/schemas/data-product.schema.json
Due: cff-readme, tflint-fast, check-names

default scanning to null
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Due: cff-readme

default scanning to null (#3056)
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Due: cff-readme

[cloud-run-v2] Add ability to control code deployments outside Terraform.
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables-vpcconnector.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/vpcconnector.tf
Due: cff-readme

Update tfdoc
  modules/cloud-run-v2/README.md
Due: cff-readme

Make managed_revision non nullable
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/variables.tf
Due: cff-readme

[cloud-run-v2] Add ability to control code deployments outside Terraform
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables-vpcconnector.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/vpcconnector.tf
Due: cff-readme

better cert manager examples
  modules/certificate-manager/README.md
  modules/certificate-manager/variables.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-ca-service.yaml
Due: cff-readme

better cert manager examples (#3059)
  modules/certificate-manager/README.md
  modules/certificate-manager/variables.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-ca-service.yaml
Due: cff-readme

composer
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-domains.tf
  fast/stages/3-data-platform-dev/data/data-domains/test-0/_config.yaml
  fast/stages/3-data-platform-dev/factory.tf
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/variables.tf
Due: cff-readme, tflint-fast, check-names

Add deletion_policy to project-factory module
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Due: cff-readme
