Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: cff-readme, tflint-fast, versions, versions_tofu, validate_metadata, check-names

cff-readme:
  name: Regenerate README.md with tfdoc.py
  entry: tools/pre-commit-tfdoc.sh
  language: script
  pass_filenames: true
  require_serial: true

tflint-fast:
  name: Checking FAST code with tflint
  entry: tools/tflint-fast.py
  language: system
  pass_filenames: false
  require_serial: true

versions:
  name: Align Terraform provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tf' -exec cp default-versions.tf {} \;

versions_tofu:
  name: Align OpenTofu provider versions
  language: script
  pass_filenames: false
  entry: /usr/bin/find . -type f -name 'versions.tofu' -exec cp default-versions.tofu {} \;

validate_metadata:
  name: Validate blueprints metadata
  language: system
  pass_filenames: false
  entry: tools/validate_metadata.py -v --failed-only blueprints

check-names:
  name: Check name lengths for FAST
  language: system
  pass_filenames: false
  entry: tools/check_names.py --prefix-length=10 --failed-only fast/stages

README
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/variables.tf
Due: cff-readme

Tests
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peering/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peering/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-peering/net-prod-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpn/net-dev-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpn/net-land-01.yaml
  modules/net-vpc-factory/data/recipes/hub-and-spoke-vpn/net-prod-01.yaml
  modules/net-vpc-factory/terraform.tfvars.bak
  tests/modules/net_vpc_factory/common.tfvars
  tests/modules/net_vpc_factory/ncc.tfvars
  tests/modules/net_vpc_factory/ncc.yaml
  tests/modules/net_vpc_factory/peering.tfvars
  tests/modules/net_vpc_factory/peering.yaml
  tests/modules/net_vpc_factory/tftest.yaml
  tests/modules/net_vpc_factory/vpn.tfvars
  tests/modules/net_vpc_factory/vpn.yaml
Due: none

Updated path, tests
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-prod-01.yaml
  tests/modules/net_vpc_factory/vpn.yaml
Due: none

cat vars | sort
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/variables.tf
Due: cff-readme

Recipes tests
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-prod-01.yaml
  modules/net-vpc-factory/terraform.tfvars.bak
  tests/modules/net_vpc_factory/ncc.yaml
  tests/modules/net_vpc_factory/peering.yaml
  tests/modules/net_vpc_factory/vpn.yaml
Due: none

More tests
  modules/net-vpc-factory/README.md
  tests/modules/net_vpc_factory/tftest.yaml
Due: cff-readme

More tests
  tests/modules/net_vpc_factory/only_projects.tfvars
  tests/modules/net_vpc_factory/only_projects.yaml
  tests/modules/net_vpc_factory/separate_envs.tfvars
  tests/modules/net_vpc_factory/separate_envs.yaml
Due: none

Add roles support to VPC-SC
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/ingress-policy.schema.json
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme, tflint-fast, check-names

Add roles support to VPC-SC (#3000)
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/ingress-policy.schema.json
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/regular.yaml
Due: cff-readme, tflint-fast, check-names

cross-project serverless neg example
  modules/net-lb-app-int/README.md
Due: cff-readme

cross-project serverless neg example (#3003)
  modules/net-lb-app-int/README.md
Due: cff-readme

Use project id as resource key
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-dns.tf
  modules/net-vpc-factory/factory-nat.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-peering.tf
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-vpc.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/main.tf
Due: cff-readme

More readme examples
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  tests/modules/net_vpc_factory/ncc.yaml
Due: cff-readme

wip
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: cff-readme

Fix copyright year
  modules/net-vpc-factory/factory-dns.tf
  modules/net-vpc-factory/factory-nat.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-peering.tf
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-vpc.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/outputs.tf
Due: cff-readme

add support for tag bindings
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
Due: cff-readme

tfdoc
  modules/compute-vm/README.md
Due: cff-readme

improve example
  modules/compute-vm/README.md
Due: cff-readme

Add support for non-destructive tag bindings to compute-vm module (#3004)
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
Due: cff-readme

Fix stage-3 CICD SA access
  fast/stages/1-resman/stage-3.tf
Due: cff-readme, tflint-fast, check-names

Fix stage-3 CICD SA access (#3005)
  fast/stages/1-resman/stage-3.tf
Due: cff-readme, tflint-fast, check-names

Removed unnecessary coalesce
  modules/apigee/main.tf
Due: cff-readme

Fixed test params
  tests/modules/apigee/test_apigee_nat_activate.yaml
Due: none

Update VPC-SC README
  modules/vpc-sc/README.md
Due: cff-readme

Added test to confirm activate is working
  tests/modules/apigee/test_apigee_nat_activate.yaml
Due: none

README updates
  modules/net-vpc-factory/README.md
Due: cff-readme

Update VPC-SC README (#3006)
  modules/vpc-sc/README.md
Due: cff-readme

First (gemini-powered) stab for json schemas
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-prod-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-dev-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-land-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-prod-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-land-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/schemas/network-project.schema.json
Due: cff-readme

support project factory-level vpc-sc perimeter interpolation
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/2-project-factory/.fast-stage.env
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Due: cff-readme, tflint-fast, check-names

fix ro role
  fast/stages/0-bootstrap/organization.tf
  fast/stages/1-resman/data/stage-2/project-factory.yaml
Due: cff-readme, tflint-fast, check-names

add support for IAM on service accounts
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
Due: cff-readme

Remove service account key upload. Add create_ignore_already_exists
  modules/iam-service-account/main.tf
  modules/iam-service-account/outputs.tf
  modules/iam-service-account/variables.tf
Due: cff-readme

Add tag bindings to service accounts
  blueprints/cloud-operations/onprem-sa-key-management/OWNERS
  blueprints/cloud-operations/onprem-sa-key-management/README.md
  blueprints/cloud-operations/onprem-sa-key-management/backend.tf.sample
  blueprints/cloud-operations/onprem-sa-key-management/cloud-shell-readme.txt
  blueprints/cloud-operations/onprem-sa-key-management/main.tf
  blueprints/cloud-operations/onprem-sa-key-management/outputs.tf
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/data-uploader/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/prisma-security/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/examples/tags.yaml
Due: cff-readme, validate_metadata

Add description to create_ignore_already_exists
  modules/iam-service-account/README.md
  modules/iam-service-account/variables.tf
Due: cff-readme

Remove broken links
  blueprints/README.md
  blueprints/cloud-operations/README.md
Due: validate_metadata

fix typo
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
Due: cff-readme

Path conditions:
  cff-readme: any of: ^(modules|fast).*(tf|README.md)$
  tflint-fast: any of: ^fast/.*tf
  versions: any of: (versions.tf|^default-versions.tf)$
  versions_tofu: any of: (versions.tofu|^default-versions.tofu)$
  validate_metadata: any of: ^blueprints
  check-names: any of: ^fast
